dic-api/src/main/resources/wsdl/DictionaryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DictionaryService" targetNamespace="http://org.kuali.student/dictonary" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://org.kuali.student/dictonary" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dto.dictionary.student.kuali.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dto.dictionary.student.kuali.org">
    <xs:element name="Dictionary">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:objectStructure"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="context">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="type" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="contexts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:context"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="enum">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:contexts"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="enumeratedValue">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="abbrevValue" type="xs:string"/>
                <xs:element name="effectiveDate" type="xs:anySimpleType"/>
                <xs:element minOccurs="0" name="expirationDate" type="xs:anySimpleType"/>
                <xs:element name="sortKey" type="xs:int"/>
                <xs:element ref="tns:contexts"/>
                <xs:element name="key" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="enumeratedValues">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:enumeratedValue"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="field">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:fieldDescriptor"/>
                <xs:element name="readOnly" type="xs:boolean"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="fieldDescriptor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dataType" type="xs:string"/>
                <xs:element minOccurs="0" name="minLength" type="xs:integer"/>
                <xs:element minOccurs="0" name="maxLength" type="xs:integer"/>
                <xs:element minOccurs="0" name="validChars" type="xs:string"/>
                <xs:element minOccurs="0" name="invalidChars" type="xs:string"/>
                <xs:element minOccurs="0" name="minOccurs" type="xs:integer"/>
                <xs:element minOccurs="0" name="maxOccurs" type="xs:integer"/>
                <xs:element minOccurs="0" ref="tns:enum"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="objectStructure">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:type"/>
            </xs:sequence>
            <xs:attribute name="objectTypeKey" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="state">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:field"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="type">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:state"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.dto.dictionary.student.kuali.org" xmlns:tns="http://org.kuali.student/dictonary" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://org.kuali.student/dictonary">
    <xs:import namespace="http://www.dto.dictionary.student.kuali.org"/>
    <xs:element name="getEnumeration" type="tns:getEnumeration"/>
    <xs:element name="getEnumerationResponse" type="tns:getEnumerationResponse"/>
    <xs:element name="getObjectStructure" type="tns:getObjectStructure"/>
    <xs:element name="getObjectStructureResponse" type="tns:getObjectStructureResponse"/>
    <xs:element name="getObjectTypes" type="tns:getObjectTypes"/>
    <xs:element name="getObjectTypesResponse" type="tns:getObjectTypesResponse"/>
    <xs:element name="validateObject" type="tns:validateObject"/>
    <xs:element name="validateObjectResponse" type="tns:validateObjectResponse"/>
    <xs:element name="validateStructureData" type="tns:validateStructureData"/>
    <xs:element name="validateStructureDataResponse" type="tns:validateStructureDataResponse"/>
    <xs:complexType name="validateObject">
        <xs:sequence>
            <xs:element minOccurs="0" name="objectTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="stateKey" type="xs:string"/>
            <xs:element minOccurs="0" name="info" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validateObjectResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getObjectTypes">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getObjectTypesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getObjectStructure">
        <xs:sequence>
            <xs:element minOccurs="0" name="objectTypeKey" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getObjectStructureResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="ns1:type"/>
                    </xs:sequence>
                    <xs:attribute name="objectTypeKey" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validateStructureData">
        <xs:sequence>
            <xs:element minOccurs="0" name="objectTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="stateKey" type="xs:string"/>
            <xs:element minOccurs="0" name="info" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validateStructureDataResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="enumContextKey" type="xs:string"/>
            <xs:element minOccurs="0" name="contextValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getEnumerationResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getObjectStructureResponse">
    <wsdl:part name="parameters" element="tns:getObjectStructureResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateObject">
    <wsdl:part name="parameters" element="tns:validateObject">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getObjectTypesResponse">
    <wsdl:part name="parameters" element="tns:getObjectTypesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumeration">
    <wsdl:part name="parameters" element="tns:getEnumeration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateStructureDataResponse">
    <wsdl:part name="parameters" element="tns:validateStructureDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateObjectResponse">
    <wsdl:part name="parameters" element="tns:validateObjectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getObjectStructure">
    <wsdl:part name="parameters" element="tns:getObjectStructure">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getObjectTypes">
    <wsdl:part name="parameters" element="tns:getObjectTypes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationResponse">
    <wsdl:part name="parameters" element="tns:getEnumerationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateStructureData">
    <wsdl:part name="parameters" element="tns:validateStructureData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DictionaryService">
    <wsdl:operation name="validateObject">
      <wsdl:input name="validateObject" message="tns:validateObject">
    </wsdl:input>
      <wsdl:output name="validateObjectResponse" message="tns:validateObjectResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getObjectTypes">
      <wsdl:input name="getObjectTypes" message="tns:getObjectTypes">
    </wsdl:input>
      <wsdl:output name="getObjectTypesResponse" message="tns:getObjectTypesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getObjectStructure">
      <wsdl:input name="getObjectStructure" message="tns:getObjectStructure">
    </wsdl:input>
      <wsdl:output name="getObjectStructureResponse" message="tns:getObjectStructureResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateStructureData">
      <wsdl:input name="validateStructureData" message="tns:validateStructureData">
    </wsdl:input>
      <wsdl:output name="validateStructureDataResponse" message="tns:validateStructureDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnumeration">
      <wsdl:input name="getEnumeration" message="tns:getEnumeration">
    </wsdl:input>
      <wsdl:output name="getEnumerationResponse" message="tns:getEnumerationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DictionaryServiceServiceSoapBinding" type="tns:DictionaryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateObject">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateObject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateObjectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getObjectTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getObjectTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getObjectTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getObjectStructure">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getObjectStructure">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getObjectStructureResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateStructureData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateStructureData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateStructureDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnumeration">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEnumeration">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEnumerationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DictionaryService">
    <wsdl:port name="DictionaryServicePort" binding="tns:DictionaryServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/DictionaryServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
