enumeration-api/src/main/resources/wsdl/EnumerationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EnumerationService" targetNamespace="http://student.kuali.org/wsdl/EnumerationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/EnumerationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.dto.enumeration.student.kuali.org" xmlns:tns="http://student.kuali.org/wsdl/EnumerationService" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/EnumerationService">
    <xs:import namespace="http://www.dto.enumeration.student.kuali.org"/>
    <xs:element name="addEnumeratedValue" type="tns:addEnumeratedValue"/>
    <xs:element name="addEnumeratedValueResponse" type="tns:addEnumeratedValueResponse"/>
    <xs:element name="addEnumerationMeta" type="tns:addEnumerationMeta"/>
    <xs:element name="addEnumerationMetaResponse" type="tns:addEnumerationMetaResponse"/>
    <xs:element name="fetchEnumeration" type="tns:fetchEnumeration"/>
    <xs:element name="fetchEnumerationMeta" type="tns:fetchEnumerationMeta"/>
    <xs:element name="fetchEnumerationMetaResponse" type="tns:fetchEnumerationMetaResponse"/>
    <xs:element name="fetchEnumerationResponse" type="tns:fetchEnumerationResponse"/>
    <xs:element name="findEnumerationMetas" type="tns:findEnumerationMetas"/>
    <xs:element name="findEnumerationMetasResponse" type="tns:findEnumerationMetasResponse"/>
    <xs:element name="removeEnumeratedValue" type="tns:removeEnumeratedValue"/>
    <xs:element name="removeEnumeratedValueResponse" type="tns:removeEnumeratedValueResponse"/>
    <xs:element name="removeEnumerationMeta" type="tns:removeEnumerationMeta"/>
    <xs:element name="removeEnumerationMetaResponse" type="tns:removeEnumerationMetaResponse"/>
    <xs:element name="updateEnumeratedValue" type="tns:updateEnumeratedValue"/>
    <xs:element name="updateEnumeratedValueResponse" type="tns:updateEnumeratedValueResponse"/>
    <xs:complexType name="updateEnumeratedValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="code" type="xs:string"/>
            <xs:element minOccurs="0" name="value" type="ns1:enumeratedValue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateEnumeratedValueResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:enumeratedValue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeEnumeratedValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeEnumeratedValueResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="enumContextKey" type="xs:string"/>
            <xs:element minOccurs="0" name="contextValue" type="xs:string"/>
            <xs:element minOccurs="0" name="contextDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchEnumerationResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:enumeratedValueList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addEnumerationMeta">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationMeta" type="ns1:enumerationMeta"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addEnumerationMetaResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:enumerationMeta"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findEnumerationMetas">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="findEnumerationMetasResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:enumerationMetaList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeEnumerationMeta">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeEnumerationMetaResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addEnumeratedValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="value" type="ns1:enumeratedValue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addEnumeratedValueResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:enumeratedValue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchEnumerationMeta">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchEnumerationMetaResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:enumerationMeta"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dto.enumeration.student.kuali.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dto.enumeration.student.kuali.org">
    <xs:element name="EnumeratedValue" type="tns:enumeratedValue"/>
    <xs:element name="enumerationMetaList" type="tns:enumerationMetaList"/>
    <xs:complexType name="enumeratedValue">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="abbrevValue" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="effectiveDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="sortKey" type="xs:int"/>
            <xs:element name="contexts" type="tns:contexts"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contexts">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="context" type="tns:context"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="context">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="enumeratedValueList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="tns:EnumeratedValue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enumerationMeta">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="desc" type="xs:string"/>
            <xs:element name="enumeratedValueFields" type="tns:enumeratedValueFields"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="enumeratedValueFields">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="enumeratedValueField" type="tns:enumeratedValueField"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enumeratedValueField">
        <xs:sequence>
            <xs:element name="fieldDescriptor" type="tns:fieldDescriptor"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="fieldDescriptor">
        <xs:sequence>
            <xs:element name="dataType" type="xs:string"/>
            <xs:element minOccurs="0" name="minLength" type="xs:int"/>
            <xs:element minOccurs="0" name="maxLength" type="xs:int"/>
            <xs:element minOccurs="0" name="validChars" type="xs:string"/>
            <xs:element minOccurs="0" name="invalidChars" type="xs:string"/>
            <xs:element minOccurs="0" name="minOccurs" type="xs:int"/>
            <xs:element minOccurs="0" name="maxOccurs" type="xs:int"/>
            <xs:element minOccurs="0" name="minValue" type="xs:string"/>
            <xs:element minOccurs="0" name="maxValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enumerationMetaList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="enumerationMeta" type="tns:enumerationMeta"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="fetchEnumerationMetaResponse">
    <wsdl:part name="parameters" element="tns:fetchEnumerationMetaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumeratedValueResponse">
    <wsdl:part name="parameters" element="tns:addEnumeratedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEnumeratedValue">
    <wsdl:part name="parameters" element="tns:updateEnumeratedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEnumeration">
    <wsdl:part name="parameters" element="tns:fetchEnumeration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEnumeratedValueResponse">
    <wsdl:part name="parameters" element="tns:updateEnumeratedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumeratedValue">
    <wsdl:part name="parameters" element="tns:addEnumeratedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumeratedValueResponse">
    <wsdl:part name="parameters" element="tns:removeEnumeratedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumeratedValue">
    <wsdl:part name="parameters" element="tns:removeEnumeratedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumerationMeta">
    <wsdl:part name="parameters" element="tns:removeEnumerationMeta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findEnumerationMetas">
    <wsdl:part name="parameters" element="tns:findEnumerationMetas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEnumerationResponse">
    <wsdl:part name="parameters" element="tns:fetchEnumerationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findEnumerationMetasResponse">
    <wsdl:part name="parameters" element="tns:findEnumerationMetasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumerationMeta">
    <wsdl:part name="parameters" element="tns:addEnumerationMeta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEnumerationMeta">
    <wsdl:part name="parameters" element="tns:fetchEnumerationMeta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumerationMetaResponse">
    <wsdl:part name="parameters" element="tns:addEnumerationMetaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumerationMetaResponse">
    <wsdl:part name="parameters" element="tns:removeEnumerationMetaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EnumerationService">
    <wsdl:operation name="updateEnumeratedValue">
      <wsdl:input name="updateEnumeratedValue" message="tns:updateEnumeratedValue">
    </wsdl:input>
      <wsdl:output name="updateEnumeratedValueResponse" message="tns:updateEnumeratedValueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeEnumeratedValue">
      <wsdl:input name="removeEnumeratedValue" message="tns:removeEnumeratedValue">
    </wsdl:input>
      <wsdl:output name="removeEnumeratedValueResponse" message="tns:removeEnumeratedValueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEnumeration">
      <wsdl:input name="fetchEnumeration" message="tns:fetchEnumeration">
    </wsdl:input>
      <wsdl:output name="fetchEnumerationResponse" message="tns:fetchEnumerationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEnumerationMeta">
      <wsdl:input name="addEnumerationMeta" message="tns:addEnumerationMeta">
    </wsdl:input>
      <wsdl:output name="addEnumerationMetaResponse" message="tns:addEnumerationMetaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findEnumerationMetas">
      <wsdl:input name="findEnumerationMetas" message="tns:findEnumerationMetas">
    </wsdl:input>
      <wsdl:output name="findEnumerationMetasResponse" message="tns:findEnumerationMetasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeEnumerationMeta">
      <wsdl:input name="removeEnumerationMeta" message="tns:removeEnumerationMeta">
    </wsdl:input>
      <wsdl:output name="removeEnumerationMetaResponse" message="tns:removeEnumerationMetaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEnumeratedValue">
      <wsdl:input name="addEnumeratedValue" message="tns:addEnumeratedValue">
    </wsdl:input>
      <wsdl:output name="addEnumeratedValueResponse" message="tns:addEnumeratedValueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEnumerationMeta">
      <wsdl:input name="fetchEnumerationMeta" message="tns:fetchEnumerationMeta">
    </wsdl:input>
      <wsdl:output name="fetchEnumerationMetaResponse" message="tns:fetchEnumerationMetaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnumerationServiceServiceSoapBinding" type="tns:EnumerationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEnumeration">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchEnumeration">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchEnumerationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEnumerationMeta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addEnumerationMeta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEnumerationMetaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findEnumerationMetas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findEnumerationMetas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findEnumerationMetasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeEnumerationMeta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeEnumerationMeta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeEnumerationMetaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEnumerationMeta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchEnumerationMeta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchEnumerationMetaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnumerationService">
    <wsdl:port name="EnumerationServicePort" binding="tns:EnumerationServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/EnumerationServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
