lum-api/src/main/resources/wsdl/ScatService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ScatService" targetNamespace="http://edu.umd.ks/poc/lum/scat" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://edu.umd.ks/poc/lum/scat" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://edu.umd.ks/poc/lu/service/scat" xmlns:tns="http://edu.umd.ks/poc/lum/scat" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://edu.umd.ks/poc/lum/scat">
    <xs:element name="addScatCodesToScatTable" type="tns:addScatCodesToScatTable"/>
    <xs:element name="addScatCodesToScatTableResponse" type="tns:addScatCodesToScatTableResponse"/>
    <xs:element name="createScatTable" type="tns:createScatTable"/>
    <xs:element name="createScatTableResponse" type="tns:createScatTableResponse"/>
    <xs:element name="deleteScatTable" type="tns:deleteScatTable"/>
    <xs:element name="deleteScatTableResponse" type="tns:deleteScatTableResponse"/>
    <xs:element name="removeScatCodesFromScatTable" type="tns:removeScatCodesFromScatTable"/>
    <xs:element name="removeScatCodesFromScatTableResponse" type="tns:removeScatCodesFromScatTableResponse"/>
    <xs:element name="updateScatTable" type="tns:updateScatTable"/>
    <xs:element name="updateScatTableResponse" type="tns:updateScatTableResponse"/>
    <xs:complexType name="deleteScatTable">
        <xs:sequence>
            <xs:element minOccurs="0" name="scatTableId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deleteScatTableResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="scatTableInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="tableId" type="xs:string"/>
            <xs:element minOccurs="0" name="tableDescription" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateScatTable">
        <xs:sequence>
            <xs:element minOccurs="0" name="scatTableInfo" type="tns:scatTableInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateScatTableResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:scatTableInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="scatInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="tableId" type="xs:string"/>
            <xs:element minOccurs="0" name="code" type="xs:string"/>
            <xs:element minOccurs="0" name="shortDesc" type="xs:string"/>
            <xs:element minOccurs="0" name="longDesc" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addScatCodesToScatTable">
        <xs:sequence>
            <xs:element minOccurs="0" name="scatTableId" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="scatInfoList" type="tns:scatInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addScatCodesToScatTableResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeScatCodesFromScatTable">
        <xs:sequence>
            <xs:element minOccurs="0" name="scatTableId" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="scatInfoIdList" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeScatCodesFromScatTableResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createScatTable">
        <xs:sequence>
            <xs:element minOccurs="0" name="scatTableInfo" type="tns:scatTableInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createScatTableResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:scatTableInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="searchScats" nillable="true" type="ns0:searchScats"/>
    <xs:element name="searchScatsResponse" nillable="true" type="ns0:searchScatsResponse"/>
    <xs:element name="findScats" nillable="true" type="ns0:findScats"/>
    <xs:element name="findScatsResponse" nillable="true" type="ns0:findScatsResponse"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://edu.umd.ks/poc/lum/scat" xmlns:tns="http://edu.umd.ks/poc/lu/service/scat" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://edu.umd.ks/poc/lu/service/scat">
    <xs:import namespace="http://edu.umd.ks/poc/lum/scat"/>
    <xs:element name="findScats" type="tns:findScats"/>
    <xs:element name="findScatsResponse" type="tns:findScatsResponse"/>
    <xs:element name="searchScats" type="tns:searchScats"/>
    <xs:element name="searchScatsResponse" type="tns:searchScatsResponse"/>
    <xs:complexType name="searchScats">
        <xs:sequence>
            <xs:element minOccurs="0" name="searchString" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="searchScatsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:scatTableInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findScats">
        <xs:sequence>
            <xs:element minOccurs="0" name="scatTableNum" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findScatsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:scatInfo"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addScatCodesToScatTable">
    <wsdl:part name="parameters" element="tns:addScatCodesToScatTable">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeScatCodesFromScatTable">
    <wsdl:part name="parameters" element="tns:removeScatCodesFromScatTable">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeScatCodesFromScatTableResponse">
    <wsdl:part name="parameters" element="tns:removeScatCodesFromScatTableResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createScatTableResponse">
    <wsdl:part name="parameters" element="tns:createScatTableResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateScatTableResponse">
    <wsdl:part name="parameters" element="tns:updateScatTableResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addScatCodesToScatTableResponse">
    <wsdl:part name="parameters" element="tns:addScatCodesToScatTableResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchScats">
    <wsdl:part name="parameters" element="tns:searchScats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findScatsResponse">
    <wsdl:part name="parameters" element="tns:findScatsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteScatTableResponse">
    <wsdl:part name="parameters" element="tns:deleteScatTableResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createScatTable">
    <wsdl:part name="parameters" element="tns:createScatTable">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateScatTable">
    <wsdl:part name="parameters" element="tns:updateScatTable">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchScatsResponse">
    <wsdl:part name="parameters" element="tns:searchScatsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteScatTable">
    <wsdl:part name="parameters" element="tns:deleteScatTable">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findScats">
    <wsdl:part name="parameters" element="tns:findScats">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ScatService">
    <wsdl:operation name="deleteScatTable">
      <wsdl:input name="deleteScatTable" message="tns:deleteScatTable">
    </wsdl:input>
      <wsdl:output name="deleteScatTableResponse" message="tns:deleteScatTableResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchScats">
      <wsdl:input name="searchScats" message="tns:searchScats">
    </wsdl:input>
      <wsdl:output name="searchScatsResponse" message="tns:searchScatsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateScatTable">
      <wsdl:input name="updateScatTable" message="tns:updateScatTable">
    </wsdl:input>
      <wsdl:output name="updateScatTableResponse" message="tns:updateScatTableResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findScats">
      <wsdl:input name="findScats" message="tns:findScats">
    </wsdl:input>
      <wsdl:output name="findScatsResponse" message="tns:findScatsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addScatCodesToScatTable">
      <wsdl:input name="addScatCodesToScatTable" message="tns:addScatCodesToScatTable">
    </wsdl:input>
      <wsdl:output name="addScatCodesToScatTableResponse" message="tns:addScatCodesToScatTableResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeScatCodesFromScatTable">
      <wsdl:input name="removeScatCodesFromScatTable" message="tns:removeScatCodesFromScatTable">
    </wsdl:input>
      <wsdl:output name="removeScatCodesFromScatTableResponse" message="tns:removeScatCodesFromScatTableResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createScatTable">
      <wsdl:input name="createScatTable" message="tns:createScatTable">
    </wsdl:input>
      <wsdl:output name="createScatTableResponse" message="tns:createScatTableResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScatServiceServiceSoapBinding" type="tns:ScatService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deleteScatTable">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteScatTable">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteScatTableResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchScats">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchScats">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchScatsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findScats">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findScats">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findScatsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateScatTable">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateScatTable">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateScatTableResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addScatCodesToScatTable">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addScatCodesToScatTable">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addScatCodesToScatTableResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeScatCodesFromScatTable">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeScatCodesFromScatTable">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeScatCodesFromScatTableResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createScatTable">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createScatTable">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createScatTableResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScatService">
    <wsdl:port name="ScatServicePort" binding="tns:ScatServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ScatServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
