src/main/resources/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PersonServiceService" targetNamespace="http://student.kuali.org/wsdl/..." xmlns:ns1="http://student.kuali.org/poc/wsdl/personidentity/person" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/..." xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://student.kuali.org/poc/wsdl/personidentity/person" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/poc/wsdl/personidentity/person">
    <xs:element name="createAttributeDefinition" type="tns:createAttributeDefinition"/>
    <xs:element name="createAttributeDefinitionResponse" type="tns:createAttributeDefinitionResponse"/>
    <xs:element name="createPerson" type="tns:createPerson"/>
    <xs:element name="createPersonAttributeSetType" type="tns:createPersonAttributeSetType"/>
    <xs:element name="createPersonAttributeSetTypeResponse" type="tns:createPersonAttributeSetTypeResponse"/>
    <xs:element name="createPersonResponse" type="tns:createPersonResponse"/>
    <xs:element name="createPersonType" type="tns:createPersonType"/>
    <xs:element name="createPersonTypeInfo" type="tns:createPersonTypeInfo"/>
    <xs:element name="createPersonTypeInfoResponse" type="tns:createPersonTypeInfoResponse"/>
    <xs:element name="createPersonTypeResponse" type="tns:createPersonTypeResponse"/>
    <xs:element name="deletePerson" type="tns:deletePerson"/>
    <xs:element name="deletePersonResponse" type="tns:deletePersonResponse"/>
    <xs:element name="fetchFullPersonInfo" type="tns:fetchFullPersonInfo"/>
    <xs:element name="fetchFullPersonInfoResponse" type="tns:fetchFullPersonInfoResponse"/>
    <xs:element name="fetchPersonInfoByPersonType" type="tns:fetchPersonInfoByPersonType"/>
    <xs:element name="fetchPersonInfoByPersonTypeResponse" type="tns:fetchPersonInfoByPersonTypeResponse"/>
    <xs:element name="findCreatablePersonTypes" type="tns:findCreatablePersonTypes"/>
    <xs:element name="findCreatablePersonTypesResponse" type="tns:findCreatablePersonTypesResponse"/>
    <xs:element name="findPersonTypes" type="tns:findPersonTypes"/>
    <xs:element name="findPersonTypesResponse" type="tns:findPersonTypesResponse"/>
    <xs:element name="personDTO" type="tns:personDTO"/>
    <xs:element name="personIdDTO" type="tns:personIdDTO"/>
    <xs:element name="personInfoDTO" type="tns:personInfoDTO"/>
    <xs:element name="personTypeDTO" type="tns:personTypeDTO"/>
    <xs:element name="updatePerson" type="tns:updatePerson"/>
    <xs:element name="updatePersonResponse" type="tns:updatePersonResponse"/>
    <xs:complexType name="attributeDefinitionDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="type" type="tns:attributeDataTypeDTO"/>
            <xs:element minOccurs="0" name="label" type="xs:string"/>
            <xs:element minOccurs="0" name="validatorList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="validator" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="createPersonTypeResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personTypeDTO">
        <xs:complexContent>
            <xs:extension base="tns:personTypeInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="setList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="set" type="tns:attributeSetDTO"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="personTypeInfoDTO">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:long"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="attributeSetDTO">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeDefinition" type="tns:attributeDefinitionDTO"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="fetchFullPersonInfo">
        <xs:sequence>
            <xs:element name="personId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createPersonType">
        <xs:sequence>
            <xs:element minOccurs="0" name="personType" type="tns:personTypeInfoDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deletePersonResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findCreatablePersonTypes"/>
    <xs:complexType name="findPersonTypes"/>
    <xs:complexType name="updatePerson">
        <xs:sequence>
            <xs:element minOccurs="0" name="person" type="tns:personDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personDTO">
        <xs:complexContent>
            <xs:extension base="tns:personInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="personTypes">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="personType" type="tns:personTypeInfoDTO"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="personInfoDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="dob" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="firstName" type="xs:string"/>
            <xs:element minOccurs="0" name="lastName" type="xs:string"/>
            <xs:element name="confidential" type="xs:boolean"/>
            <xs:element name="gender" type="xs:unsignedShort"/>
            <xs:element minOccurs="0" name="attributes" type="tns:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="jaxbAttributeList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:Attribute"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Attribute">
        <xs:sequence/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="fetchPersonInfoByPersonType">
        <xs:sequence>
            <xs:element minOccurs="0" name="personId" type="xs:long"/>
            <xs:element minOccurs="0" name="personType" type="tns:personTypeInfoDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createPersonAttributeSetType">
        <xs:sequence>
            <xs:element minOccurs="0" name="attributeSetDTO" type="tns:attributeSetDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createPerson">
        <xs:sequence>
            <xs:element minOccurs="0" name="person" type="tns:personInfoDTO"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="personTypes" type="tns:personTypeInfoDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchFullPersonInfoResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:personDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deletePerson">
        <xs:sequence>
            <xs:element minOccurs="0" name="personId" type="tns:personIdDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personIdDTO">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
    <xs:complexType name="findCreatablePersonTypesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:personTypeDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createPersonResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createPersonTypeInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="personTypeInfo" type="tns:personTypeInfoDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createAttributeDefinition">
        <xs:sequence>
            <xs:element minOccurs="0" name="attributeDefinition" type="tns:attributeDefinitionDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findPersonTypesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:personTypeDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createPersonAttributeSetTypeResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchPersonInfoByPersonTypeResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:personDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createPersonTypeInfoResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createAttributeDefinitionResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updatePersonResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="attributeDataTypeDTO">
        <xs:restriction base="xs:string">
            <xs:enumeration value="int"/>
            <xs:enumeration value="String"/>
            <xs:enumeration value="Date"/>
            <xs:enumeration value="boolean"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="InvalidParameterException" type="tns:InvalidParameterException"/>
    <xs:complexType name="InvalidParameterException">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="MissingParameterException" type="tns:MissingParameterException"/>
    <xs:complexType name="MissingParameterException">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="AlreadyExistsException" type="tns:AlreadyExistsException"/>
    <xs:complexType name="AlreadyExistsException">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="OperationFailedException" type="tns:OperationFailedException"/>
    <xs:complexType name="OperationFailedException">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="PermissionDeniedException" type="tns:PermissionDeniedException"/>
    <xs:complexType name="PermissionDeniedException">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="DisabledIdentifierException" type="tns:DisabledIdentifierException"/>
    <xs:complexType name="DisabledIdentifierException">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="DoesNotExistException" type="tns:DoesNotExistException"/>
    <xs:complexType name="DoesNotExistException">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="ReadOnlyException" type="tns:ReadOnlyException"/>
    <xs:complexType name="ReadOnlyException">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="DisabledIdentifierException">
    <wsdl:part name="DisabledIdentifierException" element="ns1:DisabledIdentifierException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonTypeInfoResponse">
    <wsdl:part name="parameters" element="ns1:createPersonTypeInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReadOnlyException">
    <wsdl:part name="ReadOnlyException" element="ns1:ReadOnlyException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonAttributeSetTypeResponse">
    <wsdl:part name="parameters" element="ns1:createPersonAttributeSetTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonAttributeSetType">
    <wsdl:part name="parameters" element="ns1:createPersonAttributeSetType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFullPersonInfoResponse">
    <wsdl:part name="parameters" element="ns1:fetchFullPersonInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFullPersonInfo">
    <wsdl:part name="parameters" element="ns1:fetchFullPersonInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoesNotExistException">
    <wsdl:part name="DoesNotExistException" element="ns1:DoesNotExistException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonType">
    <wsdl:part name="parameters" element="ns1:createPersonType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPersonInfoByPersonType">
    <wsdl:part name="parameters" element="ns1:fetchPersonInfoByPersonType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PermissionDeniedException">
    <wsdl:part name="PermissionDeniedException" element="ns1:PermissionDeniedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationFailedException">
    <wsdl:part name="OperationFailedException" element="ns1:OperationFailedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlreadyExistsException">
    <wsdl:part name="AlreadyExistsException" element="ns1:AlreadyExistsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAttributeDefinition">
    <wsdl:part name="parameters" element="ns1:createAttributeDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPerson">
    <wsdl:part name="parameters" element="ns1:createPerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonResponse">
    <wsdl:part name="parameters" element="ns1:createPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MissingParameterException">
    <wsdl:part name="MissingParameterException" element="ns1:MissingParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePersonResponse">
    <wsdl:part name="parameters" element="ns1:updatePersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPersonInfoByPersonTypeResponse">
    <wsdl:part name="parameters" element="ns1:fetchPersonInfoByPersonTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findCreatablePersonTypesResponse">
    <wsdl:part name="parameters" element="ns1:findCreatablePersonTypesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePerson">
    <wsdl:part name="parameters" element="ns1:updatePerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonTypeResponse">
    <wsdl:part name="parameters" element="ns1:createPersonTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findCreatablePersonTypes">
    <wsdl:part name="parameters" element="ns1:findCreatablePersonTypes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonTypeInfo">
    <wsdl:part name="parameters" element="ns1:createPersonTypeInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePerson">
    <wsdl:part name="parameters" element="ns1:deletePerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part name="InvalidParameterException" element="ns1:InvalidParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findPersonTypes">
    <wsdl:part name="parameters" element="ns1:findPersonTypes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findPersonTypesResponse">
    <wsdl:part name="parameters" element="ns1:findPersonTypesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePersonResponse">
    <wsdl:part name="parameters" element="ns1:deletePersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAttributeDefinitionResponse">
    <wsdl:part name="parameters" element="ns1:createAttributeDefinitionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonService">
    <wsdl:operation name="createAttributeDefinition">
      <wsdl:input name="createAttributeDefinition" message="ns1:createAttributeDefinition">
    </wsdl:input>
      <wsdl:output name="createAttributeDefinitionResponse" message="ns1:createAttributeDefinitionResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="ns1:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="ns1:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException" message="ns1:AlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="ns1:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePerson">
      <wsdl:input name="deletePerson" message="ns1:deletePerson">
    </wsdl:input>
      <wsdl:output name="deletePersonResponse" message="ns1:deletePersonResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="ns1:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="ns1:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DisabledIdentifierException" message="ns1:DisabledIdentifierException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="ns1:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="ns1:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPersonTypeInfo">
      <wsdl:input name="createPersonTypeInfo" message="ns1:createPersonTypeInfo">
    </wsdl:input>
      <wsdl:output name="createPersonTypeInfoResponse" message="ns1:createPersonTypeInfoResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="ns1:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="ns1:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException" message="ns1:AlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="ns1:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPersonType">
      <wsdl:input name="createPersonType" message="ns1:createPersonType">
    </wsdl:input>
      <wsdl:output name="createPersonTypeResponse" message="ns1:createPersonTypeResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="ns1:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="ns1:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException" message="ns1:AlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="ns1:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findCreatablePersonTypes">
      <wsdl:input name="findCreatablePersonTypes" message="ns1:findCreatablePersonTypes">
    </wsdl:input>
      <wsdl:output name="findCreatablePersonTypesResponse" message="ns1:findCreatablePersonTypesResponse">
    </wsdl:output>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchPersonInfoByPersonType">
      <wsdl:input name="fetchPersonInfoByPersonType" message="ns1:fetchPersonInfoByPersonType">
    </wsdl:input>
      <wsdl:output name="fetchPersonInfoByPersonTypeResponse" message="ns1:fetchPersonInfoByPersonTypeResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="ns1:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="ns1:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DisabledIdentifierException" message="ns1:DisabledIdentifierException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="ns1:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPerson">
      <wsdl:input name="createPerson" message="ns1:createPerson">
    </wsdl:input>
      <wsdl:output name="createPersonResponse" message="ns1:createPersonResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="ns1:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="ns1:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException" message="ns1:AlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="ns1:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchFullPersonInfo">
      <wsdl:input name="fetchFullPersonInfo" message="ns1:fetchFullPersonInfo">
    </wsdl:input>
      <wsdl:output name="fetchFullPersonInfoResponse" message="ns1:fetchFullPersonInfoResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="ns1:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="ns1:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DisabledIdentifierException" message="ns1:DisabledIdentifierException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="ns1:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updatePerson">
      <wsdl:input name="updatePerson" message="ns1:updatePerson">
    </wsdl:input>
      <wsdl:output name="updatePersonResponse" message="ns1:updatePersonResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="ns1:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="ns1:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DisabledIdentifierException" message="ns1:DisabledIdentifierException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="ns1:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="ReadOnlyException" message="ns1:ReadOnlyException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="ns1:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findPersonTypes">
      <wsdl:input name="findPersonTypes" message="ns1:findPersonTypes">
    </wsdl:input>
      <wsdl:output name="findPersonTypesResponse" message="ns1:findPersonTypesResponse">
    </wsdl:output>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPersonAttributeSetType">
      <wsdl:input name="createPersonAttributeSetType" message="ns1:createPersonAttributeSetType">
    </wsdl:input>
      <wsdl:output name="createPersonAttributeSetTypeResponse" message="ns1:createPersonAttributeSetTypeResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="ns1:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="ns1:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException" message="ns1:AlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="ns1:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="ns1:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonServiceServiceSoapBinding" type="ns1:PersonService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createAttributeDefinition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createAttributeDefinition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAttributeDefinitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException">
        <soap:fault name="AlreadyExistsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DisabledIdentifierException">
        <soap:fault name="DisabledIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPersonTypeInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPersonTypeInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPersonTypeInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException">
        <soap:fault name="AlreadyExistsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPersonType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPersonType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPersonTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException">
        <soap:fault name="AlreadyExistsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchPersonInfoByPersonType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchPersonInfoByPersonType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchPersonInfoByPersonTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DisabledIdentifierException">
        <soap:fault name="DisabledIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findCreatablePersonTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findCreatablePersonTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findCreatablePersonTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException">
        <soap:fault name="AlreadyExistsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchFullPersonInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchFullPersonInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchFullPersonInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DisabledIdentifierException">
        <soap:fault name="DisabledIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updatePerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatePerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DisabledIdentifierException">
        <soap:fault name="DisabledIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReadOnlyException">
        <soap:fault name="ReadOnlyException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPersonAttributeSetType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPersonAttributeSetType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPersonAttributeSetTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException">
        <soap:fault name="AlreadyExistsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findPersonTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findPersonTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findPersonTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonServiceService">
    <wsdl:port name="PersonServicePort" binding="ns1:PersonServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
