brms/brms-api/branches/brms-api-m1/brms-api-dev/fact-finder-api/src/main/resources/wsdl/FactFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FactFinderService" targetNamespace="http://student.kuali.org/wsdl/brms/FactFinder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/brms/FactFinder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://student.kuali.org/wsdl/brms/FactFinder" xmlns:tns="http://student.kuali.org/poc/wsdl/brms/factfinder" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/poc/wsdl/brms/factfinder">
    <xs:import namespace="http://student.kuali.org/wsdl/brms/FactFinder"/>
    <xs:element name="fetchFact" type="tns:fetchFact"/>
    <xs:element name="fetchFactResponse" type="tns:fetchFactResponse"/>
    <xs:element name="fetchFactType" type="tns:fetchFactType"/>
    <xs:element name="fetchFactTypeResponse" type="tns:fetchFactTypeResponse"/>
    <xs:element name="findFactTypes" type="tns:findFactTypes"/>
    <xs:element name="findFactTypesResponse" type="tns:findFactTypesResponse"/>
    <xs:complexType name="fetchFact">
        <xs:sequence>
            <xs:element minOccurs="0" name="factTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="factStructure" type="ns1:factStructureDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchFactResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:factResultDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findFactTypes">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="findFactTypesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchFactType">
        <xs:sequence>
            <xs:element minOccurs="0" name="factTypeKey" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchFactTypeResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:factTypeInfoDTO"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://student.kuali.org/poc/wsdl/brms/factfinder" xmlns:tns="http://student.kuali.org/wsdl/brms/FactFinder" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/brms/FactFinder">
    <xs:complexType name="factStructureDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="criteriaTypeInfo" type="tns:factCriteriaTypeInfoDTO"/>
            <xs:element minOccurs="0" name="anchorFlag" type="xs:boolean"/>
            <xs:element minOccurs="0" name="paramValueMap" type="tns:jaxbAttributeList"/>
            <xs:element minOccurs="0" name="staticValueDataType" type="xs:string"/>
            <xs:element minOccurs="0" name="staticValue" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="factStructureId" type="xs:string"/>
        <xs:attribute name="factTypeKey" type="xs:string"/>
        <xs:attribute name="staticFact" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="factCriteriaTypeInfoDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="factParamMap" type="tns:factParamList"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="factParamList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:factParamMapEntry"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="factParamMapEntry">
        <xs:sequence>
            <xs:element minOccurs="0" name="value" type="tns:factParamDTO"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="factParamDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="dataType" type="xs:string"/>
            <xs:element minOccurs="0" name="minLength" type="xs:int"/>
            <xs:element minOccurs="0" name="maxLength" type="xs:int"/>
            <xs:element minOccurs="0" name="validCharacters" type="xs:string"/>
            <xs:element minOccurs="0" name="minOccurs" type="xs:int"/>
            <xs:element minOccurs="0" name="maxOccurs" type="xs:int"/>
            <xs:element minOccurs="0" name="defTime" type="tns:factParamDefTime"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="jaxbAttributeList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:Attribute"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Attribute">
        <xs:sequence/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="factResultDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="factResultTypeInfo" type="tns:factResultTypeInfoDTO"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="resultList" type="tns:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="factResultTypeInfoDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="resultColumnsMap" type="tns:factResultColumnInfoList"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="factResultColumnInfoList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:factResultColumnInfoMapEntry"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="factResultColumnInfoMapEntry">
        <xs:sequence>
            <xs:element minOccurs="0" name="value" type="tns:factResultColumnInfoDTO"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="factResultColumnInfoDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="dataType" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="factTypeInfoDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="factTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="factResultTypeInfo" type="tns:factResultTypeInfoDTO"/>
            <xs:element minOccurs="0" name="factCriteriaTypeInfo" type="tns:factCriteriaTypeInfoDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="factParamDefTime">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEFINITION"/>
            <xs:enumeration value="EXECUTION"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="fetchFact" nillable="true" type="ns0:fetchFact"/>
    <xs:element name="fetchFactResponse" nillable="true" type="ns0:fetchFactResponse"/>
    <xs:element name="DoesNotExistException" type="tns:DoesNotExistException"/>
    <xs:complexType name="DoesNotExistException">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="OperationFailedException" type="tns:OperationFailedException"/>
    <xs:complexType name="OperationFailedException">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="findFactTypes" nillable="true" type="ns0:findFactTypes"/>
    <xs:element name="findFactTypesResponse" nillable="true" type="ns0:findFactTypesResponse"/>
    <xs:element name="fetchFactType" nillable="true" type="ns0:fetchFactType"/>
    <xs:element name="fetchFactTypeResponse" nillable="true" type="ns0:fetchFactTypeResponse"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="fetchFactType">
    <wsdl:part name="parameters" element="tns:fetchFactType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findFactTypes">
    <wsdl:part name="parameters" element="tns:findFactTypes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findFactTypesResponse">
    <wsdl:part name="parameters" element="tns:findFactTypesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFactResponse">
    <wsdl:part name="parameters" element="tns:fetchFactResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoesNotExistException">
    <wsdl:part name="DoesNotExistException" element="tns:DoesNotExistException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFactTypeResponse">
    <wsdl:part name="parameters" element="tns:fetchFactTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationFailedException">
    <wsdl:part name="OperationFailedException" element="tns:OperationFailedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFact">
    <wsdl:part name="parameters" element="tns:fetchFact">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FactFinderService">
    <wsdl:operation name="fetchFact">
      <wsdl:input name="fetchFact" message="tns:fetchFact">
    </wsdl:input>
      <wsdl:output name="fetchFactResponse" message="tns:fetchFactResponse">
    </wsdl:output>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findFactTypes">
      <wsdl:input name="findFactTypes" message="tns:findFactTypes">
    </wsdl:input>
      <wsdl:output name="findFactTypesResponse" message="tns:findFactTypesResponse">
    </wsdl:output>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchFactType">
      <wsdl:input name="fetchFactType" message="tns:fetchFactType">
    </wsdl:input>
      <wsdl:output name="fetchFactTypeResponse" message="tns:fetchFactTypeResponse">
    </wsdl:output>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FactFinderServiceServiceSoapBinding" type="tns:FactFinderService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fetchFact">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchFact">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchFactResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findFactTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findFactTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findFactTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchFactType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchFactType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchFactTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FactFinderService">
    <wsdl:port name="FactFinderServicePort" binding="tns:FactFinderServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/FactFinderServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
