ks-enroll/ks-enroll-api/src/main/resources/META-INF/wsdl/AcademicRecordService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AcademicRecordService" targetNamespace="http://student.kuali.org/wsdl/academicrecord" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/academicrecord" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://exceptions.common.r2.student.kuali.org/" xmlns:tns="http://student.kuali.org/wsdl/academicrecord" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/academicrecord">
<xs:element name="getAttemptedCourseRecordsForTerm" type="tns:getAttemptedCourseRecordsForTerm"/>
<xs:element name="getAttemptedCourseRecordsForTermResponse" type="tns:getAttemptedCourseRecordsForTermResponse"/>
<xs:element name="getAwardedCredentials" type="tns:getAwardedCredentials"/>
<xs:element name="getAwardedCredentialsResponse" type="tns:getAwardedCredentialsResponse"/>
<xs:element name="getCompletedCourseRecords" type="tns:getCompletedCourseRecords"/>
<xs:element name="getCompletedCourseRecordsForCourse" type="tns:getCompletedCourseRecordsForCourse"/>
<xs:element name="getCompletedCourseRecordsForCourseResponse" type="tns:getCompletedCourseRecordsForCourseResponse"/>
<xs:element name="getCompletedCourseRecordsForTerm" type="tns:getCompletedCourseRecordsForTerm"/>
<xs:element name="getCompletedCourseRecordsForTermResponse" type="tns:getCompletedCourseRecordsForTermResponse"/>
<xs:element name="getCompletedCourseRecordsResponse" type="tns:getCompletedCourseRecordsResponse"/>
<xs:element name="getCumulativeGPA" type="tns:getCumulativeGPA"/>
<xs:element name="getCumulativeGPAForProgram" type="tns:getCumulativeGPAForProgram"/>
<xs:element name="getCumulativeGPAForProgramResponse" type="tns:getCumulativeGPAForProgramResponse"/>
<xs:element name="getCumulativeGPAForTermAndProgram" type="tns:getCumulativeGPAForTermAndProgram"/>
<xs:element name="getCumulativeGPAForTermAndProgramResponse" type="tns:getCumulativeGPAForTermAndProgramResponse"/>
<xs:element name="getCumulativeGPAResponse" type="tns:getCumulativeGPAResponse"/>
<xs:element name="getEarnedCredits" type="tns:getEarnedCredits"/>
<xs:element name="getEarnedCreditsForTerm" type="tns:getEarnedCreditsForTerm"/>
<xs:element name="getEarnedCreditsForTermResponse" type="tns:getEarnedCreditsForTermResponse"/>
<xs:element name="getEarnedCreditsResponse" type="tns:getEarnedCreditsResponse"/>
<xs:element name="getEarnedCumulativeCreditsForProgramAndTerm" type="tns:getEarnedCumulativeCreditsForProgramAndTerm"/>
<xs:element name="getEarnedCumulativeCreditsForProgramAndTermResponse" type="tns:getEarnedCumulativeCreditsForProgramAndTermResponse"/>
<xs:element name="getGPAForTerm" type="tns:getGPAForTerm"/>
<xs:element name="getGPAForTermResponse" type="tns:getGPAForTermResponse"/>
<xs:element name="getLoadForTerm" type="tns:getLoadForTerm"/>
<xs:element name="getLoadForTermResponse" type="tns:getLoadForTermResponse"/>
<xs:element name="getProgramRecords" type="tns:getProgramRecords"/>
<xs:element name="getProgramRecordsResponse" type="tns:getProgramRecordsResponse"/>
<xs:element name="getTestScoreRecords" type="tns:getTestScoreRecords"/>
<xs:element name="getTestScoreRecordsByType" type="tns:getTestScoreRecordsByType"/>
<xs:element name="getTestScoreRecordsByTypeResponse" type="tns:getTestScoreRecordsByTypeResponse"/>
<xs:element name="getTestScoreRecordsResponse" type="tns:getTestScoreRecordsResponse"/>
<xs:complexType name="getAwardedCredentials">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ContextInfo">
<xs:sequence>
<xs:element minOccurs="0" name="authenticatedPrincipalId" type="xs:string"/>
<xs:element minOccurs="0" name="principalId" type="xs:string"/>
<xs:element minOccurs="0" name="currentDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="locale" type="tns:LocaleInfo"/>
<xs:element minOccurs="0" name="timeZone" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" type="tns:AttributeInfo"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocaleInfo">
<xs:sequence>
<xs:element minOccurs="0" name="localeLanguage" type="xs:string"/>
<xs:element minOccurs="0" name="localeVariant" type="xs:string"/>
<xs:element minOccurs="0" name="localeRegion" type="xs:string"/>
<xs:element minOccurs="0" name="localeScript" type="xs:string"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="extension restriction" name="AttributeInfo">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:string"/>
<xs:element minOccurs="0" name="key" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAwardedCredentialsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:StudentCredentialRecordInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StudentCredentialRecordInfo">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="descr" type="tns:RichTextInfo"/>
<xs:element minOccurs="0" name="programId" type="xs:string"/>
<xs:element minOccurs="0" name="programTitle" type="xs:string"/>
<xs:element minOccurs="0" name="programCode" type="xs:string"/>
<xs:element minOccurs="0" name="dateAdmitted" type="xs:dateTime"/>
<xs:element minOccurs="0" name="dateAwarded" type="xs:dateTime"/>
<xs:element minOccurs="0" name="awardingInstitution" type="xs:string"/>
<xs:element minOccurs="0" name="meta" type="tns:MetaInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" type="tns:AttributeInfo"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="typeKey" type="xs:string"/>
<xs:attribute name="stateKey" type="xs:string"/>
</xs:complexType>
<xs:complexType name="RichTextInfo">
<xs:sequence>
<xs:element minOccurs="0" name="plain" type="xs:string"/>
<xs:element minOccurs="0" name="formatted" type="xs:string"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MetaInfo">
<xs:sequence>
<xs:element minOccurs="0" name="versionInd" type="xs:string"/>
<xs:element minOccurs="0" name="createTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="createId" type="xs:string"/>
<xs:element minOccurs="0" name="updateTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="updateId" type="xs:string"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAttemptedCourseRecordsForTerm">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="termId" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAttemptedCourseRecordsForTermResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:StudentCourseRecordInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StudentCourseRecordInfo">
<xs:sequence>
<xs:element minOccurs="0" name="courseOfferingId" type="xs:string"/>
<xs:element minOccurs="0" name="sourceTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="courseRegistrationId" type="xs:string"/>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="courseTitle" type="xs:string"/>
<xs:element minOccurs="0" name="courseCode" type="xs:string"/>
<xs:element minOccurs="0" name="activityCode" type="xs:string"/>
<xs:element minOccurs="0" name="termName" type="xs:string"/>
<xs:element minOccurs="0" name="courseBeginDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="courseEndDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="assignedGradeValue" type="xs:string"/>
<xs:element minOccurs="0" name="assignedGradeScaleKey" type="xs:string"/>
<xs:element minOccurs="0" name="administrativeGradeValue" type="xs:string"/>
<xs:element minOccurs="0" name="administrativeGradeScaleKey" type="xs:string"/>
<xs:element minOccurs="0" name="calculatedGradeValue" type="xs:string"/>
<xs:element minOccurs="0" name="calculatedGradeScaleKey" type="xs:string"/>
<xs:element minOccurs="0" name="creditsAttempted" type="xs:string"/>
<xs:element minOccurs="0" name="creditsEarned" type="xs:string"/>
<xs:element minOccurs="0" name="creditsForGPA" type="xs:string"/>
<xs:element minOccurs="0" name="countsTowardCredits" type="xs:boolean"/>
<xs:element minOccurs="0" name="isRepeated" type="xs:boolean"/>
<xs:element minOccurs="0" name="meta" type="tns:MetaInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" type="tns:AttributeInfo"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="typeKey" type="xs:string"/>
<xs:attribute name="stateKey" type="xs:string"/>
</xs:complexType>
<xs:complexType name="getCumulativeGPA">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="calculationTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCumulativeGPAResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:GPAInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GPAInfo">
<xs:sequence>
<xs:element minOccurs="0" name="meta" type="tns:MetaInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" type="tns:AttributeInfo"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="calculationTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="scaleKey" type="xs:string"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="typeKey" type="xs:string"/>
<xs:attribute name="stateKey" type="xs:string"/>
</xs:complexType>
<xs:complexType name="getProgramRecords">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getProgramRecordsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:StudentProgramRecordInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StudentProgramRecordInfo">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="descr" type="tns:RichTextInfo"/>
<xs:element minOccurs="0" name="programId" type="xs:string"/>
<xs:element minOccurs="0" name="programTitle" type="xs:string"/>
<xs:element minOccurs="0" name="programTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="programCode" type="xs:string"/>
<xs:element minOccurs="0" name="admittedDate" type="xs:string"/>
<xs:element minOccurs="0" name="creditsEarned" type="xs:string"/>
<xs:element minOccurs="0" name="classStanding" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="childPrograms" type="tns:StudentProgramRecordInfo"/>
<xs:element minOccurs="0" name="statusKey" type="xs:string"/>
<xs:element minOccurs="0" name="meta" type="tns:MetaInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" type="tns:AttributeInfo"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="typeKey" type="xs:string"/>
<xs:attribute name="stateKey" type="xs:string"/>
</xs:complexType>
<xs:complexType name="getCumulativeGPAForTermAndProgram">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="programId" type="xs:string"/>
<xs:element minOccurs="0" name="termKey" type="xs:string"/>
<xs:element minOccurs="0" name="calculationTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCumulativeGPAForTermAndProgramResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:GPAInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCompletedCourseRecordsForCourse">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="courseId" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCompletedCourseRecordsForCourseResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:StudentCourseRecordInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCumulativeGPAForProgram">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="programId" type="xs:string"/>
<xs:element minOccurs="0" name="calculationTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCumulativeGPAForProgramResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:GPAInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTestScoreRecordsByType">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="testTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTestScoreRecordsByTypeResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:StudentTestScoreRecordInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StudentTestScoreRecordInfo">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="descr" type="tns:RichTextInfo"/>
<xs:element minOccurs="0" name="testTitle" type="xs:string"/>
<xs:element minOccurs="0" name="testCode" type="xs:string"/>
<xs:element minOccurs="0" name="testTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="dateTaken" type="xs:dateTime"/>
<xs:element minOccurs="0" name="scoreValue" type="xs:string"/>
<xs:element minOccurs="0" name="scorePercent" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="subComponents" type="tns:StudentTestScoreRecordInfo"/>
<xs:element minOccurs="0" name="meta" type="tns:MetaInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" type="tns:AttributeInfo"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="typeKey" type="xs:string"/>
<xs:attribute name="stateKey" type="xs:string"/>
</xs:complexType>
<xs:complexType name="getLoadForTerm">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="termId" type="xs:string"/>
<xs:element minOccurs="0" name="calculationTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLoadForTermResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:LoadInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LoadInfo">
<xs:sequence>
<xs:element minOccurs="0" name="meta" type="tns:MetaInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" type="tns:AttributeInfo"/>
<xs:element minOccurs="0" name="totalCredits" type="xs:string"/>
<xs:element minOccurs="0" name="loadLevelTypeKey" type="xs:string"/>
<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="typeKey" type="xs:string"/>
<xs:attribute name="stateKey" type="xs:string"/>
</xs:complexType>
<xs:complexType name="getEarnedCumulativeCreditsForProgramAndTerm">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="programId" type="xs:string"/>
<xs:element minOccurs="0" name="termId" type="xs:string"/>
<xs:element minOccurs="0" name="calculationTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEarnedCumulativeCreditsForProgramAndTermResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCompletedCourseRecordsForTerm">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="termId" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCompletedCourseRecordsForTermResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:StudentCourseRecordInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCompletedCourseRecords">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCompletedCourseRecordsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:StudentCourseRecordInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTestScoreRecords">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTestScoreRecordsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:StudentTestScoreRecordInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getGPAForTerm">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="termId" type="xs:string"/>
<xs:element minOccurs="0" name="calculationTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getGPAForTermResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:GPAInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEarnedCredits">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="calculationTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEarnedCreditsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEarnedCreditsForTerm">
<xs:sequence>
<xs:element minOccurs="0" name="personId" type="xs:string"/>
<xs:element minOccurs="0" name="termId" type="xs:string"/>
<xs:element minOccurs="0" name="calculationTypeKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextInfo" type="tns:ContextInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEarnedCreditsForTermResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="DoesNotExistException" nillable="true" type="ns0:DoesNotExistException"/>
<xs:element name="OperationFailedException" nillable="true" type="ns0:OperationFailedException"/>
<xs:element name="MissingParameterException" nillable="true" type="ns0:MissingParameterException"/>
<xs:element name="InvalidParameterException" nillable="true" type="ns0:InvalidParameterException"/>
<xs:element name="PermissionDeniedException" nillable="true" type="ns0:PermissionDeniedException"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://exceptions.common.r2.student.kuali.org/" targetNamespace="http://exceptions.common.r2.student.kuali.org/" version="1.0">
<xs:element name="DoesNotExistException" type="tns:DoesNotExistException"/>
<xs:element name="InvalidParameterException" type="tns:InvalidParameterException"/>
<xs:element name="MissingParameterException" type="tns:MissingParameterException"/>
<xs:element name="OperationFailedException" type="tns:OperationFailedException"/>
<xs:element name="PermissionDeniedException" type="tns:PermissionDeniedException"/>
<xs:complexType name="DoesNotExistException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OperationFailedException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MissingParameterException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvalidParameterException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PermissionDeniedException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCumulativeGPA">
    <wsdl:part name="parameters" element="tns:getCumulativeGPA">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompletedCourseRecordsResponse">
    <wsdl:part name="parameters" element="tns:getCompletedCourseRecordsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part name="InvalidParameterException" element="tns:InvalidParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompletedCourseRecordsForCourse">
    <wsdl:part name="parameters" element="tns:getCompletedCourseRecordsForCourse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProgramRecords">
    <wsdl:part name="parameters" element="tns:getProgramRecords">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAwardedCredentialsResponse">
    <wsdl:part name="parameters" element="tns:getAwardedCredentialsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEarnedCumulativeCreditsForProgramAndTerm">
    <wsdl:part name="parameters" element="tns:getEarnedCumulativeCreditsForProgramAndTerm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompletedCourseRecordsForTerm">
    <wsdl:part name="parameters" element="tns:getCompletedCourseRecordsForTerm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTestScoreRecordsResponse">
    <wsdl:part name="parameters" element="tns:getTestScoreRecordsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompletedCourseRecords">
    <wsdl:part name="parameters" element="tns:getCompletedCourseRecords">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoadForTermResponse">
    <wsdl:part name="parameters" element="tns:getLoadForTermResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGPAForTermResponse">
    <wsdl:part name="parameters" element="tns:getGPAForTermResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttemptedCourseRecordsForTerm">
    <wsdl:part name="parameters" element="tns:getAttemptedCourseRecordsForTerm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEarnedCreditsForTerm">
    <wsdl:part name="parameters" element="tns:getEarnedCreditsForTerm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCumulativeGPAForTermAndProgramResponse">
    <wsdl:part name="parameters" element="tns:getCumulativeGPAForTermAndProgramResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompletedCourseRecordsForTermResponse">
    <wsdl:part name="parameters" element="tns:getCompletedCourseRecordsForTermResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProgramRecordsResponse">
    <wsdl:part name="parameters" element="tns:getProgramRecordsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGPAForTerm">
    <wsdl:part name="parameters" element="tns:getGPAForTerm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEarnedCreditsForTermResponse">
    <wsdl:part name="parameters" element="tns:getEarnedCreditsForTermResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCumulativeGPAForProgram">
    <wsdl:part name="parameters" element="tns:getCumulativeGPAForProgram">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttemptedCourseRecordsForTermResponse">
    <wsdl:part name="parameters" element="tns:getAttemptedCourseRecordsForTermResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTestScoreRecordsByTypeResponse">
    <wsdl:part name="parameters" element="tns:getTestScoreRecordsByTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompletedCourseRecordsForCourseResponse">
    <wsdl:part name="parameters" element="tns:getCompletedCourseRecordsForCourseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MissingParameterException">
    <wsdl:part name="MissingParameterException" element="tns:MissingParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEarnedCredits">
    <wsdl:part name="parameters" element="tns:getEarnedCredits">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoadForTerm">
    <wsdl:part name="parameters" element="tns:getLoadForTerm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAwardedCredentials">
    <wsdl:part name="parameters" element="tns:getAwardedCredentials">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEarnedCreditsResponse">
    <wsdl:part name="parameters" element="tns:getEarnedCreditsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTestScoreRecords">
    <wsdl:part name="parameters" element="tns:getTestScoreRecords">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCumulativeGPAResponse">
    <wsdl:part name="parameters" element="tns:getCumulativeGPAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCumulativeGPAForTermAndProgram">
    <wsdl:part name="parameters" element="tns:getCumulativeGPAForTermAndProgram">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoesNotExistException">
    <wsdl:part name="DoesNotExistException" element="tns:DoesNotExistException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTestScoreRecordsByType">
    <wsdl:part name="parameters" element="tns:getTestScoreRecordsByType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEarnedCumulativeCreditsForProgramAndTermResponse">
    <wsdl:part name="parameters" element="tns:getEarnedCumulativeCreditsForProgramAndTermResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PermissionDeniedException">
    <wsdl:part name="PermissionDeniedException" element="tns:PermissionDeniedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationFailedException">
    <wsdl:part name="OperationFailedException" element="tns:OperationFailedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCumulativeGPAForProgramResponse">
    <wsdl:part name="parameters" element="tns:getCumulativeGPAForProgramResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AcademicRecordService">
    <wsdl:operation name="getAwardedCredentials">
      <wsdl:input name="getAwardedCredentials" message="tns:getAwardedCredentials">
    </wsdl:input>
      <wsdl:output name="getAwardedCredentialsResponse" message="tns:getAwardedCredentialsResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAttemptedCourseRecordsForTerm">
      <wsdl:input name="getAttemptedCourseRecordsForTerm" message="tns:getAttemptedCourseRecordsForTerm">
    </wsdl:input>
      <wsdl:output name="getAttemptedCourseRecordsForTermResponse" message="tns:getAttemptedCourseRecordsForTermResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCumulativeGPA">
      <wsdl:input name="getCumulativeGPA" message="tns:getCumulativeGPA">
    </wsdl:input>
      <wsdl:output name="getCumulativeGPAResponse" message="tns:getCumulativeGPAResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProgramRecords">
      <wsdl:input name="getProgramRecords" message="tns:getProgramRecords">
    </wsdl:input>
      <wsdl:output name="getProgramRecordsResponse" message="tns:getProgramRecordsResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCumulativeGPAForTermAndProgram">
      <wsdl:input name="getCumulativeGPAForTermAndProgram" message="tns:getCumulativeGPAForTermAndProgram">
    </wsdl:input>
      <wsdl:output name="getCumulativeGPAForTermAndProgramResponse" message="tns:getCumulativeGPAForTermAndProgramResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompletedCourseRecordsForCourse">
      <wsdl:input name="getCompletedCourseRecordsForCourse" message="tns:getCompletedCourseRecordsForCourse">
    </wsdl:input>
      <wsdl:output name="getCompletedCourseRecordsForCourseResponse" message="tns:getCompletedCourseRecordsForCourseResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCumulativeGPAForProgram">
      <wsdl:input name="getCumulativeGPAForProgram" message="tns:getCumulativeGPAForProgram">
    </wsdl:input>
      <wsdl:output name="getCumulativeGPAForProgramResponse" message="tns:getCumulativeGPAForProgramResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTestScoreRecordsByType">
      <wsdl:input name="getTestScoreRecordsByType" message="tns:getTestScoreRecordsByType">
    </wsdl:input>
      <wsdl:output name="getTestScoreRecordsByTypeResponse" message="tns:getTestScoreRecordsByTypeResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLoadForTerm">
      <wsdl:input name="getLoadForTerm" message="tns:getLoadForTerm">
    </wsdl:input>
      <wsdl:output name="getLoadForTermResponse" message="tns:getLoadForTermResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEarnedCumulativeCreditsForProgramAndTerm">
      <wsdl:input name="getEarnedCumulativeCreditsForProgramAndTerm" message="tns:getEarnedCumulativeCreditsForProgramAndTerm">
    </wsdl:input>
      <wsdl:output name="getEarnedCumulativeCreditsForProgramAndTermResponse" message="tns:getEarnedCumulativeCreditsForProgramAndTermResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompletedCourseRecordsForTerm">
      <wsdl:input name="getCompletedCourseRecordsForTerm" message="tns:getCompletedCourseRecordsForTerm">
    </wsdl:input>
      <wsdl:output name="getCompletedCourseRecordsForTermResponse" message="tns:getCompletedCourseRecordsForTermResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompletedCourseRecords">
      <wsdl:input name="getCompletedCourseRecords" message="tns:getCompletedCourseRecords">
    </wsdl:input>
      <wsdl:output name="getCompletedCourseRecordsResponse" message="tns:getCompletedCourseRecordsResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTestScoreRecords">
      <wsdl:input name="getTestScoreRecords" message="tns:getTestScoreRecords">
    </wsdl:input>
      <wsdl:output name="getTestScoreRecordsResponse" message="tns:getTestScoreRecordsResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGPAForTerm">
      <wsdl:input name="getGPAForTerm" message="tns:getGPAForTerm">
    </wsdl:input>
      <wsdl:output name="getGPAForTermResponse" message="tns:getGPAForTermResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEarnedCredits">
      <wsdl:input name="getEarnedCredits" message="tns:getEarnedCredits">
    </wsdl:input>
      <wsdl:output name="getEarnedCreditsResponse" message="tns:getEarnedCreditsResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEarnedCreditsForTerm">
      <wsdl:input name="getEarnedCreditsForTerm" message="tns:getEarnedCreditsForTerm">
    </wsdl:input>
      <wsdl:output name="getEarnedCreditsForTermResponse" message="tns:getEarnedCreditsForTermResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AcademicRecordServiceSoapBinding" type="tns:AcademicRecordService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAttemptedCourseRecordsForTerm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAttemptedCourseRecordsForTerm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAttemptedCourseRecordsForTermResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAwardedCredentials">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAwardedCredentials">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAwardedCredentialsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCumulativeGPA">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCumulativeGPA">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCumulativeGPAResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProgramRecords">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProgramRecords">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProgramRecordsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompletedCourseRecordsForCourse">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCompletedCourseRecordsForCourse">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompletedCourseRecordsForCourseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCumulativeGPAForTermAndProgram">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCumulativeGPAForTermAndProgram">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCumulativeGPAForTermAndProgramResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCumulativeGPAForProgram">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCumulativeGPAForProgram">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCumulativeGPAForProgramResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTestScoreRecordsByType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTestScoreRecordsByType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTestScoreRecordsByTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLoadForTerm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLoadForTerm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLoadForTermResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEarnedCumulativeCreditsForProgramAndTerm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEarnedCumulativeCreditsForProgramAndTerm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEarnedCumulativeCreditsForProgramAndTermResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompletedCourseRecordsForTerm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCompletedCourseRecordsForTerm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompletedCourseRecordsForTermResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompletedCourseRecords">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCompletedCourseRecords">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompletedCourseRecordsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTestScoreRecords">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTestScoreRecords">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTestScoreRecordsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEarnedCredits">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEarnedCredits">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEarnedCreditsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGPAForTerm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getGPAForTerm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGPAForTermResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEarnedCreditsForTerm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEarnedCreditsForTerm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEarnedCreditsForTermResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AcademicRecordService">
    <wsdl:port name="AcademicRecordService" binding="tns:AcademicRecordServiceSoapBinding">
      <soap:address location="http://localhost:9090/AcademicRecordService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
