ks-1.2-umd-latest-merge/ks-security/ks-standard-sec/src/main/resources/META-INF/wsdl/SamlIssuerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SamlIssuerService" targetNamespace="http://student.kuali.org/wsdl/security/saml" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/security/saml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://student.kuali.org/wsdl/security/saml" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/security/saml">
    <xs:element name="getSamlPrincipal" type="tns:getSamlPrincipal"/>
    <xs:element name="getSamlPrincipalResponse" type="tns:getSamlPrincipalResponse"/>
    <xs:element name="validateCasProxyTicket" type="tns:validateCasProxyTicket"/>
    <xs:element name="validateCasProxyTicketResponse" type="tns:validateCasProxyTicketResponse"/>
    <xs:complexType name="validateCasProxyTicket">
        <xs:sequence>
            <xs:element minOccurs="0" name="proxyTicketId" type="xs:string"/>
            <xs:element minOccurs="0" name="proxyTargetService" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="validateCasProxyTicketResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getSamlPrincipal">
        <xs:sequence>
            <xs:element minOccurs="0" name="principal" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getSamlPrincipalResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="KSSecurityException" type="tns:KSSecurityException"/>
    <xs:complexType name="KSSecurityException">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="validateCasProxyTicketResponse">
    <wsdl:part name="parameters" element="tns:validateCasProxyTicketResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSamlPrincipalResponse">
    <wsdl:part name="parameters" element="tns:getSamlPrincipalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCasProxyTicket">
    <wsdl:part name="parameters" element="tns:validateCasProxyTicket">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="KSSecurityException">
    <wsdl:part name="KSSecurityException" element="tns:KSSecurityException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSamlPrincipal">
    <wsdl:part name="parameters" element="tns:getSamlPrincipal">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SamlIssuerService">
    <wsdl:operation name="validateCasProxyTicket">
      <wsdl:input name="validateCasProxyTicket" message="tns:validateCasProxyTicket">
    </wsdl:input>
      <wsdl:output name="validateCasProxyTicketResponse" message="tns:validateCasProxyTicketResponse">
    </wsdl:output>
      <wsdl:fault name="KSSecurityException" message="tns:KSSecurityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSamlPrincipal">
      <wsdl:input name="getSamlPrincipal" message="tns:getSamlPrincipal">
    </wsdl:input>
      <wsdl:output name="getSamlPrincipalResponse" message="tns:getSamlPrincipalResponse">
    </wsdl:output>
      <wsdl:fault name="KSSecurityException" message="tns:KSSecurityException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SamlIssuerServiceServiceSoapBinding" type="tns:SamlIssuerService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateCasProxyTicket">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateCasProxyTicket">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateCasProxyTicketResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="KSSecurityException">
        <soap:fault name="KSSecurityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSamlPrincipal">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSamlPrincipal">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSamlPrincipalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="KSSecurityException">
        <soap:fault name="KSSecurityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SamlIssuerService">
    <wsdl:port name="SamlIssuerServicePort" binding="tns:SamlIssuerServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/SamlIssuerServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
