lum-cfg-dbs-1.0/data.dtd

<!ELEMENT dataset (
    KSLU_CLU|
    KSLU_CLUCLU_RELTN|
    KSLU_CLUCLU_RELTN_ATTR|
    KSLU_CLU_ACCRED|
    KSLU_CLU_ACCRED_ATTR|
    KSLU_CLU_ACCT|
    KSLU_CLU_ACCT_ATTR|
    KSLU_CLU_ADMIN_ORG|
    KSLU_CLU_ADMIN_ORG_ATTR|
    KSLU_CLU_ATP_TYPE_KEY|
    KSLU_CLU_ATTR|
    KSLU_CLU_CR|
    KSLU_CLU_FEE|
    KSLU_CLU_FEE_ATTR|
    KSLU_CLU_IDENT|
    KSLU_CLU_INSTR|
    KSLU_CLU_INSTR_ATTR|
    KSLU_CLU_JN_ALT_ADMIN_ORG|
    KSLU_CLU_JN_CAMP_LOC|
    KSLU_CLU_JN_CLU_ACCRED|
    KSLU_CLU_JN_CLU_IDENT|
    KSLU_CLU_JN_CLU_INSTR|
    KSLU_CLU_JN_LU_STMT|
    KSLU_CLU_JN_ORG|
    KSLU_CLU_JN_SUBJ_ORG|
    KSLU_CLU_PUBL|
    KSLU_CLU_PUBL_ATTR|
    KSLU_CLU_PUBL_JN_CLU_INSTR|
    KSLU_CLU_SET|
    KSLU_CLU_SET_ATTR|
    KSLU_CLU_SET_JN_CLU|
    KSLU_CLU_SET_JN_CLU_SET|
    KSLU_LO|
    KSLU_LO_ATTR|
    KSLU_LO_CATEGORY|
    KSLU_LO_CATEGORY_ATTR|
    KSLU_LO_HIERARCHY_ATTR|
    KSLU_LO_HIRCHY|
    KSLU_LO_JN_CLU|
    KSLU_LO_LO_EQUIV_RELTN|
    KSLU_LO_LO_HIRCHY_RELTN|
    KSLU_LO_TYPE|
    KSLU_LO_TYPE_ATTR|
    KSLU_LR_TYPE|
    KSLU_LR_TYPE_ATTR|
    KSLU_LUI|
    KSLU_LUILUI_RELTN|
    KSLU_LUILUI_RELTN_ATTR|
    KSLU_LUI_ATTR|
    KSLU_LULU_RELTN_TYPE|
    KSLU_LULU_RELTN_TYPE_ATTR|
    KSLU_LULU_RELTN_TYPE_JN_LU_TYP|
    KSLU_LUTYPE|
    KSLU_LU_CODE|
    KSLU_LU_CODE_ATTR|
    KSLU_LU_DOC_RELTN|
    KSLU_LU_DOC_RELTN_ATTR|
    KSLU_LU_DOC_RELTN_TYPE|
    KSLU_LU_DOC_RELTN_TYPE_ATTR|
    KSLU_LU_STMT_TYPE_JN_LU_TYPE|
    KSLU_LU_TYPE_ATTR|
    KSLU_REQCOMTYP_JN_REQCOMFLDTYP|
    KSLU_REQ_COM|
    KSLU_REQ_COM_FIELD|
    KSLU_REQ_COM_FIELD_TYPE|
    KSLU_REQ_COM_JN_REQ_COM_FIELD|
    KSLU_REQ_COM_TYPE|
    KSLU_REQ_COM_TYPE_ATTR|
    KSLU_REQ_COM_TYPE_NL_TMPL|
    KSLU_RSRC|
    KSLU_STMT|
    KSLU_STMT_ATTR|
    KSLU_STMT_JN_REQ_COM|
    KSLU_STMT_TYPE|
    KSLU_STMT_TYPE_ATTR|
    KSLU_STMT_TYPE_HEADER_TMPL|
    KSLU_STY_JN_LUSTY|
    KSLU_STY_JN_RQTY|
    KS_LO_RICH_TEXT_T|
    KS_RICH_TEXT_T)*>
<!ELEMENT KSLU_CLU EMPTY>
<!ATTLIST KSLU_CLU
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    ACCRED_ORG_ID CDATA #IMPLIED
    ADMIN_ORG_ID CDATA #IMPLIED
    CAN_CREATE_LUI CDATA #IMPLIED
    DEF_ENRL_EST CDATA #IMPLIED
    DEF_MAX_ENRL CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    HAS_EARLY_DROP_DEDLN CDATA #IMPLIED
    CLU_INTSTY_TYPE CDATA #IMPLIED
    CLU_INTSTY_QTY CDATA #IMPLIED
    IS_ENRL CDATA #IMPLIED
    IS_HAZR_DISBLD_STU CDATA #IMPLIED
    NEXT_REVIEW_PRD CDATA #IMPLIED
    REF_URL CDATA #IMPLIED
    ST CDATA #IMPLIED
    ATPDURATIONTYPEKEY CDATA #IMPLIED
    TIMEQUANTITY CDATA #IMPLIED
    STDY_SUBJ_AREA CDATA #IMPLIED
    ACCT_ID CDATA #IMPLIED
    CR_ID CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    FEE_ID CDATA #IMPLIED
    LUTYPE_ID CDATA #IMPLIED
    RT_MKTG_DESCR_ID CDATA #IMPLIED
    OFFIC_CLU_ID CDATA #IMPLIED
    PRI_ADMIN_ORG_ID CDATA #IMPLIED
    PRI_INSTR_ID CDATA #IMPLIED
    PUBL_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLUCLU_RELTN EMPTY>
<!ATTLIST KSLU_CLUCLU_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    CLU_RELTN_REQ CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    LU_RELTN_TYPE_ID CDATA #IMPLIED
    RELATED_CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLUCLU_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_CLUCLU_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCRED EMPTY>
<!ATTLIST KSLU_CLU_ACCRED
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCRED_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ACCRED_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCT EMPTY>
<!ATTLIST KSLU_CLU_ACCT
    ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCT_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ACCT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ADMIN_ORG EMPTY>
<!ATTLIST KSLU_CLU_ADMIN_ORG
    ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ADMIN_ORG_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ADMIN_ORG_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ATP_TYPE_KEY EMPTY>
<!ATTLIST KSLU_CLU_ATP_TYPE_KEY
    ID CDATA #IMPLIED
    ATP_TYPE_KEY CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_CR EMPTY>
<!ATTLIST KSLU_CLU_CR
    ID CDATA #IMPLIED
    INSTR_UNIT CDATA #IMPLIED
    MAX_ALOW_INACV_ATP CDATA #IMPLIED
    MAX_ALOW_INACV_TMQ CDATA #IMPLIED
    MAX_TM_RSLT_RCGZ_ATP CDATA #IMPLIED
    MAX_TM_RSLT_RCGZ_TMQ CDATA #IMPLIED
    MAX_TM_TO_COMP_ATP CDATA #IMPLIED
    MAX_TM_TO_COMP_TMQ CDATA #IMPLIED
    MAX_TOT_UNIT CDATA #IMPLIED
    MIN_TM_TO_COMP_ATP CDATA #IMPLIED
    MIN_TM_TO_COMP_TMQ CDATA #IMPLIED
    MIN_TOT_UNIT CDATA #IMPLIED
    REPEAT_CNT CDATA #IMPLIED
    REPEAT_TM_ATP CDATA #IMPLIED
    REPEAT_TM_TMQ CDATA #IMPLIED
    REPEAT_UNIT CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEE EMPTY>
<!ATTLIST KSLU_CLU_FEE
    ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_FEE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_IDENT EMPTY>
<!ATTLIST KSLU_CLU_IDENT
    ID CDATA #IMPLIED
    CD CDATA #IMPLIED
    DIV CDATA #IMPLIED
    LVL CDATA #IMPLIED
    LNG_NAME CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    SHRT_NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    SUFX_CD CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    VARTN CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_INSTR EMPTY>
<!ATTLIST KSLU_CLU_INSTR
    ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    PERS_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_INSTR_ATTR EMPTY>
<!ATTLIST KSLU_CLU_INSTR_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_JN_ALT_ADMIN_ORG EMPTY>
<!ATTLIST KSLU_CLU_JN_ALT_ADMIN_ORG
    CLU_ID CDATA #REQUIRED
    ALT_ORG_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_CAMP_LOC EMPTY>
<!ATTLIST KSLU_CLU_JN_CAMP_LOC
    ID CDATA #IMPLIED
    CAMP_LOC CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_JN_CLU_ACCRED EMPTY>
<!ATTLIST KSLU_CLU_JN_CLU_ACCRED
    CLU_ID CDATA #REQUIRED
    ACCRED_ORG_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_CLU_IDENT EMPTY>
<!ATTLIST KSLU_CLU_JN_CLU_IDENT
    CLU_ID CDATA #REQUIRED
    ALT_CLU_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_CLU_INSTR EMPTY>
<!ATTLIST KSLU_CLU_JN_CLU_INSTR
    CLU_ID CDATA #REQUIRED
    CLU_INSTR_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_LU_STMT EMPTY>
<!ATTLIST KSLU_CLU_JN_LU_STMT
    LU_STMT_ID CDATA #REQUIRED
    CLU_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_ORG EMPTY>
<!ATTLIST KSLU_CLU_JN_ORG
    ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_JN_SUBJ_ORG EMPTY>
<!ATTLIST KSLU_CLU_JN_SUBJ_ORG
    ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL EMPTY>
<!ATTLIST KSLU_CLU_PUBL
    ID CDATA #IMPLIED
    END_CYCLE CDATA #IMPLIED
    START_CYCLE CDATA #IMPLIED
    ST CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    PRI_INSTR_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL_ATTR EMPTY>
<!ATTLIST KSLU_CLU_PUBL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL_JN_CLU_INSTR EMPTY>
<!ATTLIST KSLU_CLU_PUBL_JN_CLU_INSTR
    CLU_PUBL_ID CDATA #REQUIRED
    CLU_INSTR_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_SET EMPTY>
<!ATTLIST KSLU_CLU_SET
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    CRIT_SET CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET_ATTR EMPTY>
<!ATTLIST KSLU_CLU_SET_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET_JN_CLU EMPTY>
<!ATTLIST KSLU_CLU_SET_JN_CLU
    CLU_SET_ID CDATA #REQUIRED
    CLU_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_SET_JN_CLU_SET EMPTY>
<!ATTLIST KSLU_CLU_SET_JN_CLU_SET
    CLU_SET_PARENT_ID CDATA #REQUIRED
    CLU_SET_CHILD_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_LO EMPTY>
<!ATTLIST KSLU_LO
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    LOHIRCHY_ID CDATA #IMPLIED
    LOTYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_ATTR EMPTY>
<!ATTLIST KSLU_LO_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_CATEGORY EMPTY>
<!ATTLIST KSLU_LO_CATEGORY
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    LOHIRCHY_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_CATEGORY_ATTR EMPTY>
<!ATTLIST KSLU_LO_CATEGORY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_HIERARCHY_ATTR EMPTY>
<!ATTLIST KSLU_LO_HIERARCHY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_HIRCHY EMPTY>
<!ATTLIST KSLU_LO_HIRCHY
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    LO_ROOT_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_JN_CLU EMPTY>
<!ATTLIST KSLU_LO_JN_CLU
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    LO_ID CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_LO_EQUIV_RELTN EMPTY>
<!ATTLIST KSLU_LO_LO_EQUIV_RELTN
    LO_ID CDATA #REQUIRED
    EQUIV_LO_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_LO_LO_HIRCHY_RELTN EMPTY>
<!ATTLIST KSLU_LO_LO_HIRCHY_RELTN
    PARENT_LO_ID CDATA #REQUIRED
    CHILD_LO_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_LO_TYPE EMPTY>
<!ATTLIST KSLU_LO_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LO_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LR_TYPE EMPTY>
<!ATTLIST KSLU_LR_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LR_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LR_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LUI EMPTY>
<!ATTLIST KSLU_LUI
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    ATP_ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXP_DT CDATA #IMPLIED
    LUI_CODE CDATA #IMPLIED
    MAX_SEATS CDATA #IMPLIED
    ST CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LUILUI_RELTN EMPTY>
<!ATTLIST KSLU_LUILUI_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    LULU_RELTN_TYPE_ID CDATA #IMPLIED
    LUI_ID CDATA #IMPLIED
    RELATED_LUI_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LUILUI_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_LUILUI_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LUI_ATTR EMPTY>
<!ATTLIST KSLU_LUI_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LULU_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_LULU_RELTN_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    REV_DESC CDATA #IMPLIED
    REV_NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LULU_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LULU_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LULU_RELTN_TYPE_JN_LU_TYP EMPTY>
<!ATTLIST KSLU_LULU_RELTN_TYPE_JN_LU_TYP
    LULU_RELTN_TYPE_ID CDATA #REQUIRED
    LU_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_LUTYPE EMPTY>
<!ATTLIST KSLU_LUTYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CODE EMPTY>
<!ATTLIST KSLU_LU_CODE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CODE_ATTR EMPTY>
<!ATTLIST KSLU_LU_CODE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_DOC_RELTN EMPTY>
<!ATTLIST KSLU_LU_DOC_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DOC_ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    LU_DOC_RELTN_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_DOC_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_LU_DOC_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_DOC_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_LU_DOC_RELTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_DOC_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LU_DOC_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_STMT_TYPE_JN_LU_TYPE EMPTY>
<!ATTLIST KSLU_LU_STMT_TYPE_JN_LU_TYPE
    LU_STMT_TYPE_ID CDATA #REQUIRED
    LU_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_LU_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LU_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_REQCOMTYP_JN_REQCOMFLDTYP EMPTY>
<!ATTLIST KSLU_REQCOMTYP_JN_REQCOMFLDTYP
    REQ_COMP_TYPE_ID CDATA #REQUIRED
    REQ_COMP_FIELD_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_REQ_COM EMPTY>
<!ATTLIST KSLU_REQ_COM
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    REQ_COM_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_REQ_COM_FIELD EMPTY>
<!ATTLIST KSLU_REQ_COM_FIELD
    ID CDATA #IMPLIED
    REQ_COM_FIELD_KEY CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>

<!ELEMENT KSLU_REQ_COM_FIELD_TYPE EMPTY>
<!ATTLIST KSLU_REQ_COM_FIELD_TYPE
    ID CDATA #IMPLIED
    DATA_TYPE CDATA #REQUIRED
    DESCR CDATA #REQUIRED
    INVALID_CHARS CDATA #IMPLIED
    MAX_LENGTH CDATA #IMPLIED
    MAX_OCCURS CDATA #IMPLIED
    MAX_VALUE CDATA #IMPLIED
    MIN_LENGTH CDATA #IMPLIED
    MIN_OCCURS CDATA #IMPLIED
    MIN_VALUE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    READ_ONLY CDATA #REQUIRED
    VALID_CHARS CDATA #IMPLIED
>

<!ELEMENT KSLU_REQ_COM_JN_REQ_COM_FIELD EMPTY>
<!ATTLIST KSLU_REQ_COM_JN_REQ_COM_FIELD
    REQ_COM_ID CDATA #REQUIRED
    REQ_COM_FIELD_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_REQ_COM_TYPE EMPTY>
<!ATTLIST KSLU_REQ_COM_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_REQ_COM_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_REQ_COM_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_REQ_COM_TYPE_NL_TMPL EMPTY>
<!ATTLIST KSLU_REQ_COM_TYPE_NL_TMPL
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    LANGUAGE CDATA #IMPLIED
    NL_USUAGE_TYPE_KEY CDATA #IMPLIED
    TEMPLATE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_RSRC EMPTY>
<!ATTLIST KSLU_RSRC
    ID CDATA #IMPLIED
    RSRC_TYPE_ID CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_STMT EMPTY>
<!ATTLIST KSLU_STMT
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OPERATOR CDATA #IMPLIED
    ST CDATA #IMPLIED
    LU_STMT_TYPE_ID CDATA #IMPLIED
    PARENT_LU_STMT_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_STMT_ATTR EMPTY>
<!ATTLIST KSLU_STMT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_STMT_JN_REQ_COM EMPTY>
<!ATTLIST KSLU_STMT_JN_REQ_COM
    LU_STMT_ID CDATA #REQUIRED
    REQ_COM_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_STMT_TYPE EMPTY>
<!ATTLIST KSLU_STMT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_STMT_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_STMT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_STMT_TYPE_HEADER_TMPL EMPTY>
<!ATTLIST KSLU_STMT_TYPE_HEADER_TMPL
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    LANGUAGE CDATA #IMPLIED
    NL_USUAGE_TYPE_KEY CDATA #IMPLIED
    TEMPLATE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_STY_JN_LUSTY EMPTY>
<!ATTLIST KSLU_STY_JN_LUSTY
    LU_STMT_TYPE_ID CDATA #REQUIRED
    CHLD_LU_STMT_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_STY_JN_RQTY EMPTY>
<!ATTLIST KSLU_STY_JN_RQTY
    LU_STMT_TYPE_ID CDATA #REQUIRED
    REQ_COM_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KS_LO_RICH_TEXT_T EMPTY>
<!ATTLIST KS_LO_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

<!ELEMENT KS_RICH_TEXT_T EMPTY>
<!ATTLIST KS_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

