ks-lum-api/src/main/resources/META-INF/wsdl/TranslationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TranslationService" targetNamespace="http://student.kuali.org/lum/nlt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/lum/nlt" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://org.kuali.student/core/exceptions" xmlns:tns="http://student.kuali.org/lum/nlt" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/lum/nlt">
    <xs:element name="getNaturalLanguageForLuStatement" type="tns:getNaturalLanguageForLuStatement"/>
    <xs:element name="getNaturalLanguageForLuStatementInfo" type="tns:getNaturalLanguageForLuStatementInfo"/>
    <xs:element name="getNaturalLanguageForLuStatementInfoResponse" type="tns:getNaturalLanguageForLuStatementInfoResponse"/>
    <xs:element name="getNaturalLanguageForLuStatementResponse" type="tns:getNaturalLanguageForLuStatementResponse"/>
    <xs:element name="getNaturalLanguageForReqComponent" type="tns:getNaturalLanguageForReqComponent"/>
    <xs:element name="getNaturalLanguageForReqComponentInfo" type="tns:getNaturalLanguageForReqComponentInfo"/>
    <xs:element name="getNaturalLanguageForReqComponentInfoResponse" type="tns:getNaturalLanguageForReqComponentInfoResponse"/>
    <xs:element name="getNaturalLanguageForReqComponentResponse" type="tns:getNaturalLanguageForReqComponentResponse"/>
    <xs:element name="getNaturalLanguageForStatementAsTree" type="tns:getNaturalLanguageForStatementAsTree"/>
    <xs:element name="getNaturalLanguageForStatementAsTreeResponse" type="tns:getNaturalLanguageForStatementAsTreeResponse"/>
    <xs:element name="getNaturalLanguageForStatementInfoAsTree" type="tns:getNaturalLanguageForStatementInfoAsTree"/>
    <xs:element name="getNaturalLanguageForStatementInfoAsTreeResponse" type="tns:getNaturalLanguageForStatementInfoAsTreeResponse"/>
    <xs:complexType name="getNaturalLanguageForStatementAsTree">
        <xs:sequence>
            <xs:element minOccurs="0" name="cluId" type="xs:string"/>
            <xs:element minOccurs="0" name="statementId" type="xs:string"/>
            <xs:element minOccurs="0" name="nlUsageTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="language" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForStatementAsTreeResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:nlTranslationNodeInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="nlTranslationNodeInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="booleanExpression" type="xs:string"/>
            <xs:element minOccurs="0" name="nlTranslation" type="xs:string"/>
            <xs:element minOccurs="0" name="parentNode" type="tns:nlTranslationNodeInfo"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="childNodeList" type="tns:nlTranslationNodeInfo"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="referenceId" type="xs:string"/>
        <xs:attribute name="operator" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForStatementInfoAsTree">
        <xs:sequence>
            <xs:element minOccurs="0" name="cluId" type="xs:string"/>
            <xs:element minOccurs="0" name="statementInfo" type="tns:luStatementInfo"/>
            <xs:element minOccurs="0" name="nlUsageTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="language" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="luStatementInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="desc" type="xs:string"/>
            <xs:element minOccurs="0" name="operator" type="tns:statementOperatorTypeKey"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="luStatementIds" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reqComponentIds" type="xs:string"/>
            <xs:element minOccurs="0" name="attributes" type="tns:jaxbAttributeList"/>
            <xs:element minOccurs="0" name="metaInfo" type="tns:metaInfo"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="state" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="jaxbAttributeList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:Attribute"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Attribute">
        <xs:sequence>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="metaInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="versionInd" type="xs:string"/>
            <xs:element minOccurs="0" name="createTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="createId" type="xs:string"/>
            <xs:element minOccurs="0" name="updateTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="updateId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForStatementInfoAsTreeResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:nlTranslationNodeInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForLuStatement">
        <xs:sequence>
            <xs:element minOccurs="0" name="cluId" type="xs:string"/>
            <xs:element minOccurs="0" name="luStatementId" type="xs:string"/>
            <xs:element minOccurs="0" name="nlUsageTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="language" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForLuStatementResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForReqComponent">
        <xs:sequence>
            <xs:element minOccurs="0" name="reqComponentId" type="xs:string"/>
            <xs:element minOccurs="0" name="nlUsageTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="language" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForReqComponentResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForLuStatementInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="cluId" type="xs:string"/>
            <xs:element minOccurs="0" name="statementInfo" type="tns:luNlStatementInfo"/>
            <xs:element minOccurs="0" name="nlUsageTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="language" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="luNlStatementInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="statementTypeId" type="xs:string"/>
            <xs:element minOccurs="0" name="operator" type="tns:statementOperatorTypeKey"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="luStatementList" type="tns:luNlStatementInfo"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reqComponentList" type="tns:reqComponentInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="reqComponentInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="desc" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reqCompField" type="tns:reqCompFieldInfo"/>
            <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="metaInfo" type="tns:metaInfo"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="state" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="reqCompFieldInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForLuStatementInfoResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForReqComponentInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="reqComponent" type="tns:reqComponentInfo"/>
            <xs:element minOccurs="0" name="nlUsageTypeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="language" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getNaturalLanguageForReqComponentInfoResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="statementOperatorTypeKey">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AND"/>
            <xs:enumeration value="OR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="OperationFailedException" nillable="true" type="ns0:OperationFailedException"/>
    <xs:element name="MissingParameterException" nillable="true" type="ns0:MissingParameterException"/>
    <xs:element name="DoesNotExistException" nillable="true" type="ns0:DoesNotExistException"/>
    <xs:element name="InvalidParameterException" nillable="true" type="ns0:InvalidParameterException"/>
    <xs:element name="VersionMismatchException" nillable="true" type="ns0:VersionMismatchException"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://org.kuali.student/core/exceptions" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://org.kuali.student/core/exceptions">
    <xs:element name="DoesNotExistException" type="tns:DoesNotExistException"/>
    <xs:element name="InvalidParameterException" type="tns:InvalidParameterException"/>
    <xs:element name="MissingParameterException" type="tns:MissingParameterException"/>
    <xs:element name="OperationFailedException" type="tns:OperationFailedException"/>
    <xs:element name="VersionMismatchException" type="tns:VersionMismatchException"/>
    <xs:complexType name="OperationFailedException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MissingParameterException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DoesNotExistException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvalidParameterException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VersionMismatchException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getNaturalLanguageForLuStatementInfoResponse">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForLuStatementInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForLuStatementResponse">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForLuStatementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForStatementAsTreeResponse">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForStatementAsTreeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForLuStatementInfo">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForLuStatementInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part name="InvalidParameterException" element="tns:InvalidParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForReqComponentResponse">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForReqComponentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForStatementInfoAsTreeResponse">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForStatementInfoAsTreeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoesNotExistException">
    <wsdl:part name="DoesNotExistException" element="tns:DoesNotExistException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationFailedException">
    <wsdl:part name="OperationFailedException" element="tns:OperationFailedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="VersionMismatchException">
    <wsdl:part name="VersionMismatchException" element="tns:VersionMismatchException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForStatementInfoAsTree">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForStatementInfoAsTree">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForLuStatement">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForLuStatement">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForReqComponentInfo">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForReqComponentInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MissingParameterException">
    <wsdl:part name="MissingParameterException" element="tns:MissingParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForStatementAsTree">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForStatementAsTree">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForReqComponent">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForReqComponent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNaturalLanguageForReqComponentInfoResponse">
    <wsdl:part name="parameters" element="tns:getNaturalLanguageForReqComponentInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TranslationService">
    <wsdl:operation name="getNaturalLanguageForStatementAsTree">
      <wsdl:input name="getNaturalLanguageForStatementAsTree" message="tns:getNaturalLanguageForStatementAsTree">
    </wsdl:input>
      <wsdl:output name="getNaturalLanguageForStatementAsTreeResponse" message="tns:getNaturalLanguageForStatementAsTreeResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForStatementInfoAsTree">
      <wsdl:input name="getNaturalLanguageForStatementInfoAsTree" message="tns:getNaturalLanguageForStatementInfoAsTree">
    </wsdl:input>
      <wsdl:output name="getNaturalLanguageForStatementInfoAsTreeResponse" message="tns:getNaturalLanguageForStatementInfoAsTreeResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="VersionMismatchException" message="tns:VersionMismatchException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForLuStatement">
      <wsdl:input name="getNaturalLanguageForLuStatement" message="tns:getNaturalLanguageForLuStatement">
    </wsdl:input>
      <wsdl:output name="getNaturalLanguageForLuStatementResponse" message="tns:getNaturalLanguageForLuStatementResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForReqComponent">
      <wsdl:input name="getNaturalLanguageForReqComponent" message="tns:getNaturalLanguageForReqComponent">
    </wsdl:input>
      <wsdl:output name="getNaturalLanguageForReqComponentResponse" message="tns:getNaturalLanguageForReqComponentResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForLuStatementInfo">
      <wsdl:input name="getNaturalLanguageForLuStatementInfo" message="tns:getNaturalLanguageForLuStatementInfo">
    </wsdl:input>
      <wsdl:output name="getNaturalLanguageForLuStatementInfoResponse" message="tns:getNaturalLanguageForLuStatementInfoResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="VersionMismatchException" message="tns:VersionMismatchException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForReqComponentInfo">
      <wsdl:input name="getNaturalLanguageForReqComponentInfo" message="tns:getNaturalLanguageForReqComponentInfo">
    </wsdl:input>
      <wsdl:output name="getNaturalLanguageForReqComponentInfoResponse" message="tns:getNaturalLanguageForReqComponentInfoResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="VersionMismatchException" message="tns:VersionMismatchException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TranslationServiceServiceSoapBinding" type="tns:TranslationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getNaturalLanguageForStatementAsTree">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNaturalLanguageForStatementAsTree">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNaturalLanguageForStatementAsTreeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForStatementInfoAsTree">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNaturalLanguageForStatementInfoAsTree">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNaturalLanguageForStatementInfoAsTreeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="VersionMismatchException">
        <soap:fault name="VersionMismatchException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForLuStatement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNaturalLanguageForLuStatement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNaturalLanguageForLuStatementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForReqComponent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNaturalLanguageForReqComponent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNaturalLanguageForReqComponentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForLuStatementInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNaturalLanguageForLuStatementInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNaturalLanguageForLuStatementInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="VersionMismatchException">
        <soap:fault name="VersionMismatchException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNaturalLanguageForReqComponentInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNaturalLanguageForReqComponentInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNaturalLanguageForReqComponentInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="VersionMismatchException">
        <soap:fault name="VersionMismatchException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TranslationService">
    <wsdl:port name="TranslationServicePort" binding="tns:TranslationServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/TranslationServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
