lum-web/src/main/resources/wsdl/WorkflowUtilityService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SimpleWorkflowUtilityService" targetNamespace="KS-Rice" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="KS-Rice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="KS-Rice" xmlns:ns0="http://dto.kew.rice.kuali.org" xmlns:tns="KS-Rice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://dto.kew.rice.kuali.org" />
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActionItemsForUser" type="tns:getActionItemsForUser" />
<xsd:complexType name="getActionItemsForUser">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActionItemsForUserResponse" type="tns:getActionItemsForUserResponse" />
<xsd:complexType name="getActionItemsForUserResponse">
<xsd:sequence>
<xsd:element name="return" nillable="true" type="ns0:ArrayOfActionItemDTO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getDocumentContent" type="tns:getDocumentContent" />
<xsd:complexType name="getDocumentContent">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" nillable="true" type="xsd:long" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getDocumentContentResponse" type="tns:getDocumentContentResponse" />
<xsd:complexType name="getDocumentContentResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" nillable="true" type="ns0:DocumentContentDTO" />
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.kew.rice.kuali.org" xmlns:ns1="KS-Rice" xmlns:tns="http://dto.kew.rice.kuali.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="KS-Rice" />
<xsd:complexType name="WorkflowAttributeDefinitionDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="attributeName" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="constructorParameters" nillable="true" type="ns1:ArrayOfString" />
<xsd:element minOccurs="0" name="properties" nillable="true" type="tns:ArrayOfPropertyDefinitionDTO" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfPropertyDefinitionDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="PropertyDefinitionDTO" nillable="true" type="tns:PropertyDefinitionDTO" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="WorkgroupDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="activeInd" type="xsd:boolean" />
<xsd:element minOccurs="0" name="activeLabel" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="members" nillable="true" type="tns:ArrayOfUserDTO" />
<xsd:element minOccurs="0" name="workgroupId" nillable="true" type="xsd:long" />
<xsd:element minOccurs="0" name="workgroupName" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="workgroupType" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ActionItemDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="actionItemId" nillable="true" type="xsd:long" />
<xsd:element minOccurs="0" name="actionItemIndex" nillable="true" type="xsd:int" />
<xsd:element minOccurs="0" name="actionRequestCd" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="actionRequestId" nillable="true" type="xsd:long" />
<xsd:element minOccurs="0" name="actionToTake" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="dateAssigned" nillable="true" type="xsd:dateTime" />
<xsd:element minOccurs="0" name="dateAssignedString" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="delegationType" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="delegatorUser" nillable="true" type="tns:UserDTO" />
<xsd:element minOccurs="0" name="delegatorWorkflowId" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="delegatorWorkgroup" nillable="true" type="tns:WorkgroupDTO" />
<xsd:element minOccurs="0" name="delegatorWorkgroupId" nillable="true" type="xsd:long" />
<xsd:element minOccurs="0" name="docHandlerURL" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="docLabel" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="docName" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="docTitle" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="responsibilityId" nillable="true" type="xsd:long" />
<xsd:element minOccurs="0" name="roleName" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="routeHeaderId" nillable="true" type="xsd:long" />
<xsd:element minOccurs="0" name="user" nillable="true" type="tns:UserDTO" />
<xsd:element minOccurs="0" name="workflowId" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="workgroup" nillable="true" type="tns:WorkgroupDTO" />
<xsd:element minOccurs="0" name="workgroupId" nillable="true" type="xsd:long" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfActionItemDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ActionItemDTO" nillable="true" type="tns:ActionItemDTO" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DocumentContentDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="applicationContent" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="attributeContent" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="attributeDefinitions" nillable="true" type="tns:ArrayOfWorkflowAttributeDefinitionDTO" />
<xsd:element minOccurs="0" name="fullContent" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="routeHeaderId" nillable="true" type="xsd:long" />
<xsd:element minOccurs="0" name="searchableContent" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="searchableDefinitions" nillable="true" type="tns:ArrayOfWorkflowAttributeDefinitionDTO" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UserDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="displayName" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="emailAddress" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="emplId" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="networkId" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="userPreferencePopDocHandler" type="xsd:boolean" />
<xsd:element minOccurs="0" name="uuId" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="workflowId" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfUserDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="UserDTO" nillable="true" type="tns:UserDTO" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfWorkflowAttributeDefinitionDTO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkflowAttributeDefinitionDTO" nillable="true" type="tns:WorkflowAttributeDefinitionDTO" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PropertyDefinitionDTO">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getActionItemsForUserResponse">
    <wsdl:part element="tns:getActionItemsForUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActionItemsForUser">
    <wsdl:part element="tns:getActionItemsForUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentContentResponse">
    <wsdl:part element="tns:getDocumentContentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentContent">
    <wsdl:part element="tns:getDocumentContent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SimpleWorkflowUtilityServicePortType">
    <wsdl:operation name="getActionItemsForUser">
      <wsdl:input message="tns:getActionItemsForUser" name="getActionItemsForUser">
    </wsdl:input>
      <wsdl:output message="tns:getActionItemsForUserResponse" name="getActionItemsForUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentContent">
      <wsdl:input message="tns:getDocumentContent" name="getDocumentContent">
    </wsdl:input>
      <wsdl:output message="tns:getDocumentContentResponse" name="getDocumentContentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleWorkflowUtilityServiceSoapBinding" type="tns:SimpleWorkflowUtilityServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getActionItemsForUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getActionItemsForUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getActionItemsForUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentContent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDocumentContent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDocumentContentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleWorkflowUtilityService">
    <wsdl:port binding="tns:SimpleWorkflowUtilityServiceSoapBinding" name="SimpleWorkflowUtilityServicePort">
      <soap:address location="http://localhost:8080/kr-dev/remoting/%7BKS-Rice%7DSimpleWorkflowUtilityService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>