enumeration-web/src/main/resources/wsdl/EnumerationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EnumerationService" targetNamespace="http://student.kuali.org/wsdl/EnumerationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/EnumerationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.dto.enumeration.student.kuali.org" xmlns:tns="http://student.kuali.org/wsdl/EnumerationService" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/EnumerationService">
    <xs:import namespace="http://www.dto.enumeration.student.kuali.org"/>
    <xs:element name="addEnumeratedValue" type="tns:addEnumeratedValue"/>
    <xs:element name="addEnumeratedValueResponse" type="tns:addEnumeratedValueResponse"/>
    <xs:element name="fetchEnumeration" type="tns:fetchEnumeration"/>
    <xs:element name="fetchEnumerationMeta" type="tns:fetchEnumerationMeta"/>
    <xs:element name="fetchEnumerationMetaResponse" type="tns:fetchEnumerationMetaResponse"/>
    <xs:element name="fetchEnumerationResponse" type="tns:fetchEnumerationResponse"/>
    <xs:element name="findEnumerationMetas" type="tns:findEnumerationMetas"/>
    <xs:element name="findEnumerationMetasResponse" type="tns:findEnumerationMetasResponse"/>
    <xs:element name="removeEnumeratedValue" type="tns:removeEnumeratedValue"/>
    <xs:element name="removeEnumeratedValueResponse" type="tns:removeEnumeratedValueResponse"/>
    <xs:element name="updateEnumeratedValue" type="tns:updateEnumeratedValue"/>
    <xs:element name="updateEnumeratedValueResponse" type="tns:updateEnumeratedValueResponse"/>
    <xs:complexType name="updateEnumeratedValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="code" type="xs:string"/>
            <xs:element minOccurs="0" name="value">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:code"/>
                        <xs:element ref="ns1:abbrevValue"/>
                        <xs:element ref="ns1:value"/>
                        <xs:element ref="ns1:effectiveDate"/>
                        <xs:element minOccurs="0" ref="ns1:expirationDate"/>
                        <xs:element ref="ns1:sortKey"/>
                        <xs:element ref="ns1:contexts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateEnumeratedValueResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:code"/>
                        <xs:element ref="ns1:abbrevValue"/>
                        <xs:element ref="ns1:value"/>
                        <xs:element ref="ns1:effectiveDate"/>
                        <xs:element minOccurs="0" ref="ns1:expirationDate"/>
                        <xs:element ref="ns1:sortKey"/>
                        <xs:element ref="ns1:contexts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeEnumeratedValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeEnumeratedValueResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="enumContextKey" type="xs:string"/>
            <xs:element minOccurs="0" name="contextValue" type="xs:string"/>
            <xs:element minOccurs="0" name="contextDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchEnumerationResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="ns1:EnumeratedValue"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findEnumerationMetas">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="findEnumerationMetasResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="ns1:enumerationMeta"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addEnumeratedValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="value">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:code"/>
                        <xs:element ref="ns1:abbrevValue"/>
                        <xs:element ref="ns1:value"/>
                        <xs:element ref="ns1:effectiveDate"/>
                        <xs:element minOccurs="0" ref="ns1:expirationDate"/>
                        <xs:element ref="ns1:sortKey"/>
                        <xs:element ref="ns1:contexts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addEnumeratedValueResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:code"/>
                        <xs:element ref="ns1:abbrevValue"/>
                        <xs:element ref="ns1:value"/>
                        <xs:element ref="ns1:effectiveDate"/>
                        <xs:element minOccurs="0" ref="ns1:expirationDate"/>
                        <xs:element ref="ns1:sortKey"/>
                        <xs:element ref="ns1:contexts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchEnumerationMeta">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchEnumerationMetaResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:name"/>
                        <xs:element ref="ns1:desc"/>
                        <xs:element ref="ns1:enumeratedValueFields"/>
                        <xs:element ref="ns1:SupportedContexts"/>
                    </xs:sequence>
                    <xs:attribute name="key" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dto.enumeration.student.kuali.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dto.enumeration.student.kuali.org">
    <xs:element name="ContextValueDescriptor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dataType" type="xs:string"/>
                <xs:element name="minLength" type="xs:int"/>
                <xs:element name="maxLength" type="xs:int"/>
                <xs:element name="minOccurs" type="xs:int"/>
                <xs:element name="maxOccurs" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ContextValueField">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="desc" type="xs:string"/>
                <xs:element ref="tns:ContextValueDescriptor"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnumeratedValue">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="abbrevValue" type="xs:string"/>
                <xs:element name="value" type="xs:string"/>
                <xs:element name="effectiveDate" type="xs:dateTime"/>
                <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
                <xs:element name="sortKey" type="xs:int"/>
                <xs:element ref="tns:contexts"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SupportedContexts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:ContextValueDescriptor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="context">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="value" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="contexts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:context"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="enumeratedValueField">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:fieldDescriptor"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="enumeratedValueFields">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:enumeratedValueField"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="enumeratedValueList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:EnumeratedValue"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="enumerationMeta">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="desc" type="xs:string"/>
                <xs:element ref="tns:enumeratedValueFields"/>
                <xs:element ref="tns:SupportedContexts"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="enumerationMetaList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="tns:enumerationMeta"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fieldDescriptor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dataType" type="xs:string"/>
                <xs:element name="minLength" type="xs:int"/>
                <xs:element name="maxLength" type="xs:int"/>
                <xs:element minOccurs="0" name="validChars" type="xs:string"/>
                <xs:element minOccurs="0" name="invalidChars" type="xs:string"/>
                <xs:element name="minOccurs" type="xs:int"/>
                <xs:element name="maxOccurs" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="value" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="fetchEnumerationMetaResponse">
    <wsdl:part name="parameters" element="tns:fetchEnumerationMetaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findEnumerationMetas">
    <wsdl:part name="parameters" element="tns:findEnumerationMetas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumeratedValueResponse">
    <wsdl:part name="parameters" element="tns:addEnumeratedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEnumerationResponse">
    <wsdl:part name="parameters" element="tns:fetchEnumerationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findEnumerationMetasResponse">
    <wsdl:part name="parameters" element="tns:findEnumerationMetasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEnumeration">
    <wsdl:part name="parameters" element="tns:fetchEnumeration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEnumeratedValue">
    <wsdl:part name="parameters" element="tns:updateEnumeratedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEnumerationMeta">
    <wsdl:part name="parameters" element="tns:fetchEnumerationMeta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumeratedValue">
    <wsdl:part name="parameters" element="tns:addEnumeratedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEnumeratedValueResponse">
    <wsdl:part name="parameters" element="tns:updateEnumeratedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumeratedValueResponse">
    <wsdl:part name="parameters" element="tns:removeEnumeratedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumeratedValue">
    <wsdl:part name="parameters" element="tns:removeEnumeratedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EnumerationService">
    <wsdl:operation name="updateEnumeratedValue">
      <wsdl:input name="updateEnumeratedValue" message="tns:updateEnumeratedValue">
    </wsdl:input>
      <wsdl:output name="updateEnumeratedValueResponse" message="tns:updateEnumeratedValueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeEnumeratedValue">
      <wsdl:input name="removeEnumeratedValue" message="tns:removeEnumeratedValue">
    </wsdl:input>
      <wsdl:output name="removeEnumeratedValueResponse" message="tns:removeEnumeratedValueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEnumeration">
      <wsdl:input name="fetchEnumeration" message="tns:fetchEnumeration">
    </wsdl:input>
      <wsdl:output name="fetchEnumerationResponse" message="tns:fetchEnumerationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findEnumerationMetas">
      <wsdl:input name="findEnumerationMetas" message="tns:findEnumerationMetas">
    </wsdl:input>
      <wsdl:output name="findEnumerationMetasResponse" message="tns:findEnumerationMetasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEnumeratedValue">
      <wsdl:input name="addEnumeratedValue" message="tns:addEnumeratedValue">
    </wsdl:input>
      <wsdl:output name="addEnumeratedValueResponse" message="tns:addEnumeratedValueResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEnumerationMeta">
      <wsdl:input name="fetchEnumerationMeta" message="tns:fetchEnumerationMeta">
    </wsdl:input>
      <wsdl:output name="fetchEnumerationMetaResponse" message="tns:fetchEnumerationMetaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnumerationServiceServiceSoapBinding" type="tns:EnumerationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEnumeration">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchEnumeration">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchEnumerationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findEnumerationMetas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findEnumerationMetas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findEnumerationMetasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEnumerationMeta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchEnumerationMeta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchEnumerationMetaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnumerationService">
    <wsdl:port name="EnumerationServicePort" binding="tns:EnumerationServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/EnumerationServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
