src/main/resources/wsdl/AuthorizationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AuthorizationService" targetNamespace="http://student.kuali.org/authz" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/authz" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://student.kuali.org/authz" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/authz">
    <xs:element name="assignQualifiedRoleIdsToPrincipal" type="tns:assignQualifiedRoleIdsToPrincipal"/>
    <xs:element name="assignQualifiedRoleIdsToPrincipalResponse" type="tns:assignQualifiedRoleIdsToPrincipalResponse"/>
    <xs:element name="assignQualifiedRoleToGroup" type="tns:assignQualifiedRoleToGroup"/>
    <xs:element name="assignQualifiedRoleToGroupResponse" type="tns:assignQualifiedRoleToGroupResponse"/>
    <xs:element name="assignQualifiedRoleToPrincipal" type="tns:assignQualifiedRoleToPrincipal"/>
    <xs:element name="assignQualifiedRoleToPrincipalResponse" type="tns:assignQualifiedRoleToPrincipalResponse"/>
    <xs:element name="getGroupIdsWithQualifiedRole" type="tns:getGroupIdsWithQualifiedRole"/>
    <xs:element name="getGroupIdsWithQualifiedRoleResponse" type="tns:getGroupIdsWithQualifiedRoleResponse"/>
    <xs:element name="getGroupIdsWithRole" type="tns:getGroupIdsWithRole"/>
    <xs:element name="getGroupIdsWithRoleResponse" type="tns:getGroupIdsWithRoleResponse"/>
    <xs:element name="getPermission" type="tns:getPermission"/>
    <xs:element name="getPermissionResponse" type="tns:getPermissionResponse"/>
    <xs:element name="getPermissionsForRole" type="tns:getPermissionsForRole"/>
    <xs:element name="getPermissionsForRoleResponse" type="tns:getPermissionsForRoleResponse"/>
    <xs:element name="getPrincipal" type="tns:getPrincipal"/>
    <xs:element name="getPrincipalIdsWithQualifiedRole" type="tns:getPrincipalIdsWithQualifiedRole"/>
    <xs:element name="getPrincipalIdsWithQualifiedRoleResponse" type="tns:getPrincipalIdsWithQualifiedRoleResponse"/>
    <xs:element name="getPrincipalIdsWithRole" type="tns:getPrincipalIdsWithRole"/>
    <xs:element name="getPrincipalIdsWithRoleResponse" type="tns:getPrincipalIdsWithRoleResponse"/>
    <xs:element name="getPrincipalResponse" type="tns:getPrincipalResponse"/>
    <xs:element name="getPrincipals" type="tns:getPrincipals"/>
    <xs:element name="getPrincipalsResponse" type="tns:getPrincipalsResponse"/>
    <xs:element name="getQualifiedRolesForPrincipal" type="tns:getQualifiedRolesForPrincipal"/>
    <xs:element name="getQualifiedRolesForPrincipalResponse" type="tns:getQualifiedRolesForPrincipalResponse"/>
    <xs:element name="getQualifierRoots" type="tns:getQualifierRoots"/>
    <xs:element name="getQualifierRootsResponse" type="tns:getQualifierRootsResponse"/>
    <xs:element name="getQualifiersDirectDescendents" type="tns:getQualifiersDirectDescendents"/>
    <xs:element name="getQualifiersDirectDescendentsResponse" type="tns:getQualifiersDirectDescendentsResponse"/>
    <xs:element name="getRole" type="tns:getRole"/>
    <xs:element name="getRoleResponse" type="tns:getRoleResponse"/>
    <xs:element name="getRoles" type="tns:getRoles"/>
    <xs:element name="getRolesForPrincipal" type="tns:getRolesForPrincipal"/>
    <xs:element name="getRolesForPrincipalResponse" type="tns:getRolesForPrincipalResponse"/>
    <xs:element name="getRolesResponse" type="tns:getRolesResponse"/>
    <xs:element name="isPrincipalAuthorized" type="tns:isPrincipalAuthorized"/>
    <xs:element name="isPrincipalAuthorizedForQualifiedPermission" type="tns:isPrincipalAuthorizedForQualifiedPermission"/>
    <xs:element name="isPrincipalAuthorizedForQualifiedPermissionResponse" type="tns:isPrincipalAuthorizedForQualifiedPermissionResponse"/>
    <xs:element name="isPrincipalAuthorizedResponse" type="tns:isPrincipalAuthorizedResponse"/>
    <xs:element name="principalHasQualifiedRole" type="tns:principalHasQualifiedRole"/>
    <xs:element name="principalHasQualifiedRoleResponse" type="tns:principalHasQualifiedRoleResponse"/>
    <xs:element name="principalHasRole" type="tns:principalHasRole"/>
    <xs:element name="principalHasRoleResponse" type="tns:principalHasRoleResponse"/>
    <xs:element name="qualificationDTO" type="tns:QualificationDTO"/>
    <xs:element name="savePermission" type="tns:savePermission"/>
    <xs:element name="savePermissionResponse" type="tns:savePermissionResponse"/>
    <xs:element name="saveRole" type="tns:saveRole"/>
    <xs:element name="saveRoleResponse" type="tns:saveRoleResponse"/>
    <xs:complexType name="getRoles">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getRolesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPermission">
        <xs:sequence>
            <xs:element minOccurs="0" name="permissionId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPermissionResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:permissionDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="permissionDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="saveRole">
        <xs:sequence>
            <xs:element minOccurs="0" name="role" type="tns:qualifiedRoleDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="qualifiedRoleDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="qualifiers" nillable="true" type="tns:qualifierDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="qualifierDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="qualifierType" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="qualifiers" type="tns:qualifierDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="saveRoleResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="assignQualifiedRoleToPrincipal">
        <xs:sequence>
            <xs:element minOccurs="0" name="principalId" type="xs:string"/>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
            <xs:element minOccurs="0" name="qualifications" type="tns:QualificationDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QualificationDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="attributes" type="tns:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="jaxbAttributeList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:Attribute"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Attribute">
        <xs:sequence/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="assignQualifiedRoleToPrincipalResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="assignQualifiedRoleIdsToPrincipal">
        <xs:sequence>
            <xs:element minOccurs="0" name="principalId" type="xs:string"/>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="qualificationIds" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="assignQualifiedRoleIdsToPrincipalResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="savePermission">
        <xs:sequence>
            <xs:element minOccurs="0" name="permission" type="tns:permissionDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="savePermissionResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getGroupIdsWithQualifiedRole">
        <xs:sequence>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
            <xs:element minOccurs="0" name="qualifications" type="tns:QualificationDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getGroupIdsWithQualifiedRoleResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getQualifiedRolesForPrincipal">
        <xs:sequence>
            <xs:element minOccurs="0" name="principalId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getQualifiedRolesForPrincipalResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getRolesForPrincipal">
        <xs:sequence>
            <xs:element minOccurs="0" name="principalId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getRolesForPrincipalResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getRole">
        <xs:sequence>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getRoleResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:roleDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="roleDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="assignQualifiedRoleToGroup">
        <xs:sequence>
            <xs:element minOccurs="0" name="groupId" type="xs:string"/>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
            <xs:element minOccurs="0" name="qualifications" type="tns:QualificationDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="assignQualifiedRoleToGroupResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="principalHasQualifiedRole">
        <xs:sequence>
            <xs:element minOccurs="0" name="principalId" type="xs:string"/>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
            <xs:element minOccurs="0" name="qualifications" type="tns:QualificationDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="principalHasQualifiedRoleResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPrincipal">
        <xs:sequence>
            <xs:element minOccurs="0" name="groupId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPrincipalResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:principalDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="principalDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="isPrincipalAuthorized">
        <xs:sequence>
            <xs:element minOccurs="0" name="principalId" type="xs:string"/>
            <xs:element minOccurs="0" name="namespaceName" type="xs:string"/>
            <xs:element minOccurs="0" name="permissionId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="isPrincipalAuthorizedResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getQualifierRoots">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getQualifierRootsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:qualifierDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPrincipalIdsWithRole">
        <xs:sequence>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPrincipalIdsWithRoleResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="isPrincipalAuthorizedForQualifiedPermission">
        <xs:sequence>
            <xs:element minOccurs="0" name="principalId" type="xs:string"/>
            <xs:element minOccurs="0" name="namespaceName" type="xs:string"/>
            <xs:element minOccurs="0" name="permissionId" type="xs:string"/>
            <xs:element minOccurs="0" name="qualifications" type="tns:QualificationDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="isPrincipalAuthorizedForQualifiedPermissionResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPrincipals">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getPrincipalsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPermissionsForRole">
        <xs:sequence>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPermissionsForRoleResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="principalHasRole">
        <xs:sequence>
            <xs:element minOccurs="0" name="principalId" type="xs:string"/>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="principalHasRoleResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPrincipalIdsWithQualifiedRole">
        <xs:sequence>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
            <xs:element minOccurs="0" name="qualifications" type="tns:QualificationDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getPrincipalIdsWithQualifiedRoleResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getGroupIdsWithRole">
        <xs:sequence>
            <xs:element minOccurs="0" name="roleId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getGroupIdsWithRoleResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getQualifiersDirectDescendents">
        <xs:sequence>
            <xs:element minOccurs="0" name="qid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getQualifiersDirectDescendentsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:qualifierDTO"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getQualifierRootsResponse">
    <wsdl:part name="parameters" element="tns:getQualifierRootsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="principalHasQualifiedRoleResponse">
    <wsdl:part name="parameters" element="tns:principalHasQualifiedRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipalIdsWithQualifiedRoleResponse">
    <wsdl:part name="parameters" element="tns:getPrincipalIdsWithQualifiedRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQualifiedRoleIdsToPrincipal">
    <wsdl:part name="parameters" element="tns:assignQualifiedRoleIdsToPrincipal">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermission">
    <wsdl:part name="parameters" element="tns:getPermission">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoles">
    <wsdl:part name="parameters" element="tns:getRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQualifiersDirectDescendents">
    <wsdl:part name="parameters" element="tns:getQualifiersDirectDescendents">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipal">
    <wsdl:part name="parameters" element="tns:getPrincipal">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipalIdsWithQualifiedRole">
    <wsdl:part name="parameters" element="tns:getPrincipalIdsWithQualifiedRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPrincipalAuthorizedForQualifiedPermission">
    <wsdl:part name="parameters" element="tns:isPrincipalAuthorizedForQualifiedPermission">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupIdsWithRoleResponse">
    <wsdl:part name="parameters" element="tns:getGroupIdsWithRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQualifierRoots">
    <wsdl:part name="parameters" element="tns:getQualifierRoots">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRolesForPrincipal">
    <wsdl:part name="parameters" element="tns:getRolesForPrincipal">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQualifiedRoleToGroup">
    <wsdl:part name="parameters" element="tns:assignQualifiedRoleToGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="savePermissionResponse">
    <wsdl:part name="parameters" element="tns:savePermissionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQualifiedRolesForPrincipalResponse">
    <wsdl:part name="parameters" element="tns:getQualifiedRolesForPrincipalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermissionsForRole">
    <wsdl:part name="parameters" element="tns:getPermissionsForRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRolesResponse">
    <wsdl:part name="parameters" element="tns:getRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQualifiedRolesForPrincipal">
    <wsdl:part name="parameters" element="tns:getQualifiedRolesForPrincipal">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipalIdsWithRoleResponse">
    <wsdl:part name="parameters" element="tns:getPrincipalIdsWithRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermissionsForRoleResponse">
    <wsdl:part name="parameters" element="tns:getPermissionsForRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQualifiedRoleToPrincipal">
    <wsdl:part name="parameters" element="tns:assignQualifiedRoleToPrincipal">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipals">
    <wsdl:part name="parameters" element="tns:getPrincipals">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRoleResponse">
    <wsdl:part name="parameters" element="tns:getRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRolesForPrincipalResponse">
    <wsdl:part name="parameters" element="tns:getRolesForPrincipalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupIdsWithQualifiedRole">
    <wsdl:part name="parameters" element="tns:getGroupIdsWithQualifiedRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveRoleResponse">
    <wsdl:part name="parameters" element="tns:saveRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipalsResponse">
    <wsdl:part name="parameters" element="tns:getPrincipalsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="principalHasRoleResponse">
    <wsdl:part name="parameters" element="tns:principalHasRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPrincipalAuthorized">
    <wsdl:part name="parameters" element="tns:isPrincipalAuthorized">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveRole">
    <wsdl:part name="parameters" element="tns:saveRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQualifiedRoleToPrincipalResponse">
    <wsdl:part name="parameters" element="tns:assignQualifiedRoleToPrincipalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupIdsWithQualifiedRoleResponse">
    <wsdl:part name="parameters" element="tns:getGroupIdsWithQualifiedRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQualifiedRoleToGroupResponse">
    <wsdl:part name="parameters" element="tns:assignQualifiedRoleToGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="principalHasQualifiedRole">
    <wsdl:part name="parameters" element="tns:principalHasQualifiedRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPrincipalAuthorizedForQualifiedPermissionResponse">
    <wsdl:part name="parameters" element="tns:isPrincipalAuthorizedForQualifiedPermissionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroupIdsWithRole">
    <wsdl:part name="parameters" element="tns:getGroupIdsWithRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQualifiersDirectDescendentsResponse">
    <wsdl:part name="parameters" element="tns:getQualifiersDirectDescendentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPrincipalAuthorizedResponse">
    <wsdl:part name="parameters" element="tns:isPrincipalAuthorizedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="savePermission">
    <wsdl:part name="parameters" element="tns:savePermission">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipalResponse">
    <wsdl:part name="parameters" element="tns:getPrincipalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQualifiedRoleIdsToPrincipalResponse">
    <wsdl:part name="parameters" element="tns:assignQualifiedRoleIdsToPrincipalResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="principalHasRole">
    <wsdl:part name="parameters" element="tns:principalHasRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPermissionResponse">
    <wsdl:part name="parameters" element="tns:getPermissionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRole">
    <wsdl:part name="parameters" element="tns:getRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrincipalIdsWithRole">
    <wsdl:part name="parameters" element="tns:getPrincipalIdsWithRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AuthorizationService">
    <wsdl:operation name="getRoles">
      <wsdl:input name="getRoles" message="tns:getRoles">
    </wsdl:input>
      <wsdl:output name="getRolesResponse" message="tns:getRolesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermission">
      <wsdl:input name="getPermission" message="tns:getPermission">
    </wsdl:input>
      <wsdl:output name="getPermissionResponse" message="tns:getPermissionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRole">
      <wsdl:input name="saveRole" message="tns:saveRole">
    </wsdl:input>
      <wsdl:output name="saveRoleResponse" message="tns:saveRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQualifiedRoleToPrincipal">
      <wsdl:input name="assignQualifiedRoleToPrincipal" message="tns:assignQualifiedRoleToPrincipal">
    </wsdl:input>
      <wsdl:output name="assignQualifiedRoleToPrincipalResponse" message="tns:assignQualifiedRoleToPrincipalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQualifiedRoleIdsToPrincipal">
      <wsdl:input name="assignQualifiedRoleIdsToPrincipal" message="tns:assignQualifiedRoleIdsToPrincipal">
    </wsdl:input>
      <wsdl:output name="assignQualifiedRoleIdsToPrincipalResponse" message="tns:assignQualifiedRoleIdsToPrincipalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="savePermission">
      <wsdl:input name="savePermission" message="tns:savePermission">
    </wsdl:input>
      <wsdl:output name="savePermissionResponse" message="tns:savePermissionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupIdsWithQualifiedRole">
      <wsdl:input name="getGroupIdsWithQualifiedRole" message="tns:getGroupIdsWithQualifiedRole">
    </wsdl:input>
      <wsdl:output name="getGroupIdsWithQualifiedRoleResponse" message="tns:getGroupIdsWithQualifiedRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQualifiedRolesForPrincipal">
      <wsdl:input name="getQualifiedRolesForPrincipal" message="tns:getQualifiedRolesForPrincipal">
    </wsdl:input>
      <wsdl:output name="getQualifiedRolesForPrincipalResponse" message="tns:getQualifiedRolesForPrincipalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRolesForPrincipal">
      <wsdl:input name="getRolesForPrincipal" message="tns:getRolesForPrincipal">
    </wsdl:input>
      <wsdl:output name="getRolesForPrincipalResponse" message="tns:getRolesForPrincipalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <wsdl:input name="getRole" message="tns:getRole">
    </wsdl:input>
      <wsdl:output name="getRoleResponse" message="tns:getRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQualifiedRoleToGroup">
      <wsdl:input name="assignQualifiedRoleToGroup" message="tns:assignQualifiedRoleToGroup">
    </wsdl:input>
      <wsdl:output name="assignQualifiedRoleToGroupResponse" message="tns:assignQualifiedRoleToGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="principalHasQualifiedRole">
      <wsdl:input name="principalHasQualifiedRole" message="tns:principalHasQualifiedRole">
    </wsdl:input>
      <wsdl:output name="principalHasQualifiedRoleResponse" message="tns:principalHasQualifiedRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrincipal">
      <wsdl:input name="getPrincipal" message="tns:getPrincipal">
    </wsdl:input>
      <wsdl:output name="getPrincipalResponse" message="tns:getPrincipalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPrincipalAuthorized">
      <wsdl:input name="isPrincipalAuthorized" message="tns:isPrincipalAuthorized">
    </wsdl:input>
      <wsdl:output name="isPrincipalAuthorizedResponse" message="tns:isPrincipalAuthorizedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQualifierRoots">
      <wsdl:input name="getQualifierRoots" message="tns:getQualifierRoots">
    </wsdl:input>
      <wsdl:output name="getQualifierRootsResponse" message="tns:getQualifierRootsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrincipalIdsWithRole">
      <wsdl:input name="getPrincipalIdsWithRole" message="tns:getPrincipalIdsWithRole">
    </wsdl:input>
      <wsdl:output name="getPrincipalIdsWithRoleResponse" message="tns:getPrincipalIdsWithRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPrincipalAuthorizedForQualifiedPermission">
      <wsdl:input name="isPrincipalAuthorizedForQualifiedPermission" message="tns:isPrincipalAuthorizedForQualifiedPermission">
    </wsdl:input>
      <wsdl:output name="isPrincipalAuthorizedForQualifiedPermissionResponse" message="tns:isPrincipalAuthorizedForQualifiedPermissionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrincipals">
      <wsdl:input name="getPrincipals" message="tns:getPrincipals">
    </wsdl:input>
      <wsdl:output name="getPrincipalsResponse" message="tns:getPrincipalsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermissionsForRole">
      <wsdl:input name="getPermissionsForRole" message="tns:getPermissionsForRole">
    </wsdl:input>
      <wsdl:output name="getPermissionsForRoleResponse" message="tns:getPermissionsForRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="principalHasRole">
      <wsdl:input name="principalHasRole" message="tns:principalHasRole">
    </wsdl:input>
      <wsdl:output name="principalHasRoleResponse" message="tns:principalHasRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrincipalIdsWithQualifiedRole">
      <wsdl:input name="getPrincipalIdsWithQualifiedRole" message="tns:getPrincipalIdsWithQualifiedRole">
    </wsdl:input>
      <wsdl:output name="getPrincipalIdsWithQualifiedRoleResponse" message="tns:getPrincipalIdsWithQualifiedRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupIdsWithRole">
      <wsdl:input name="getGroupIdsWithRole" message="tns:getGroupIdsWithRole">
    </wsdl:input>
      <wsdl:output name="getGroupIdsWithRoleResponse" message="tns:getGroupIdsWithRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQualifiersDirectDescendents">
      <wsdl:input name="getQualifiersDirectDescendents" message="tns:getQualifiersDirectDescendents">
    </wsdl:input>
      <wsdl:output name="getQualifiersDirectDescendentsResponse" message="tns:getQualifiersDirectDescendentsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthorizationServiceServiceSoapBinding" type="tns:AuthorizationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRoles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRoles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRolesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermission">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPermission">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPermissionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="saveRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQualifiedRoleToPrincipal">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignQualifiedRoleToPrincipal">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignQualifiedRoleToPrincipalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQualifiedRoleIdsToPrincipal">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignQualifiedRoleIdsToPrincipal">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignQualifiedRoleIdsToPrincipalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupIdsWithQualifiedRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getGroupIdsWithQualifiedRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupIdsWithQualifiedRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="savePermission">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="savePermission">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="savePermissionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQualifiedRolesForPrincipal">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getQualifiedRolesForPrincipal">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getQualifiedRolesForPrincipalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRolesForPrincipal">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRolesForPrincipal">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRolesForPrincipalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQualifiedRoleToGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="assignQualifiedRoleToGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="assignQualifiedRoleToGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrincipal">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPrincipal">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPrincipalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="principalHasQualifiedRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="principalHasQualifiedRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="principalHasQualifiedRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPrincipalAuthorized">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isPrincipalAuthorized">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPrincipalAuthorizedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrincipalIdsWithRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPrincipalIdsWithRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPrincipalIdsWithRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQualifierRoots">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getQualifierRoots">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getQualifierRootsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrincipals">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPrincipals">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPrincipalsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPrincipalAuthorizedForQualifiedPermission">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isPrincipalAuthorizedForQualifiedPermission">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPrincipalAuthorizedForQualifiedPermissionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPermissionsForRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPermissionsForRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPermissionsForRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="principalHasRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="principalHasRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="principalHasRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrincipalIdsWithQualifiedRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPrincipalIdsWithQualifiedRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPrincipalIdsWithQualifiedRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupIdsWithRole">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getGroupIdsWithRole">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupIdsWithRoleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQualifiersDirectDescendents">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getQualifiersDirectDescendents">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getQualifiersDirectDescendentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorizationService">
    <wsdl:port name="AuthorizationServicePort" binding="tns:AuthorizationServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/AuthorizationServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
