src/main/resources/wsdl/EnumerationManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EnumerationManagementService" targetNamespace="http://student.kuali.org/wsdl/enumerationmanagement" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://student.kuali.org/wsdl/enumerationmanagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://student.kuali.org/wsdl/search" xmlns:ns1="http://student.kuali.org/wsdl/dictionary" xmlns:tns="http://student.kuali.org/wsdl/search" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://student.kuali.org/wsdl/dictionary"/>
<xs:element name="getSearchCriteriaType" type="tns:getSearchCriteriaType"/>
<xs:element name="getSearchCriteriaTypeResponse" type="tns:getSearchCriteriaTypeResponse"/>
<xs:element name="getSearchCriteriaTypes" type="tns:getSearchCriteriaTypes"/>
<xs:element name="getSearchCriteriaTypesResponse" type="tns:getSearchCriteriaTypesResponse"/>
<xs:element name="getSearchResultType" type="tns:getSearchResultType"/>
<xs:element name="getSearchResultTypeResponse" type="tns:getSearchResultTypeResponse"/>
<xs:element name="getSearchResultTypes" type="tns:getSearchResultTypes"/>
<xs:element name="getSearchResultTypesResponse" type="tns:getSearchResultTypesResponse"/>
<xs:element name="getSearchType" type="tns:getSearchType"/>
<xs:element name="getSearchTypeResponse" type="tns:getSearchTypeResponse"/>
<xs:element name="getSearchTypes" type="tns:getSearchTypes"/>
<xs:element name="getSearchTypesByCriteria" type="tns:getSearchTypesByCriteria"/>
<xs:element name="getSearchTypesByCriteriaResponse" type="tns:getSearchTypesByCriteriaResponse"/>
<xs:element name="getSearchTypesByResult" type="tns:getSearchTypesByResult"/>
<xs:element name="getSearchTypesByResultResponse" type="tns:getSearchTypesByResultResponse"/>
<xs:element name="getSearchTypesResponse" type="tns:getSearchTypesResponse"/>
<xs:complexType name="getSearchCriteriaType">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="searchCriteriaTypeKey" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchCriteriaTypeResponse">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="return" type="tns:searchCriteriaTypeInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchCriteriaTypeInfo">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="desc" type="xs:string"/>
<xs:element minOccurs="0" name="queryParams">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="queryParam" type="tns:queryParamInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
<xs:complexType name="queryParamInfo">
<xs:sequence>
<xs:element minOccurs="0" ref="ns1:fieldDescriptor"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
<xs:attribute name="optional" type="xs:boolean" use="required"/>
</xs:complexType>
<xs:complexType name="getSearchTypesByResult">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="searchResultTypeKey" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchTypesByResultResponse">
<xs:sequence>
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="return" type="tns:searchTypeInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchTypeInfo">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="desc" type="xs:string"/>
<xs:element minOccurs="0" name="searchResultTypeInfo" type="tns:searchResultTypeInfo"/>
<xs:element minOccurs="0" name="searchCriteriaTypeInfo" type="tns:searchCriteriaTypeInfo"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
<xs:complexType name="searchResultTypeInfo">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="desc" type="xs:string"/>
<xs:element minOccurs="0" name="resultColumns">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="resultColumn" type="tns:resultColumnInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
<xs:complexType name="resultColumnInfo">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="desc" type="xs:string"/>
<xs:element minOccurs="0" name="dataType" type="xs:string"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
<xs:complexType name="searchRequest">
<xs:sequence>
<xs:element minOccurs="0" name="searchKey" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="params" nillable="true" type="tns:searchParam"/>
<xs:element minOccurs="0" name="sortColumn" type="xs:string"/>
<xs:element minOccurs="0" name="sortDirection" type="tns:sortDirection"/>
<xs:element minOccurs="0" name="startAt" type="xs:int"/>
<xs:element minOccurs="0" name="maxResults" type="xs:int"/>
<xs:element minOccurs="0" name="neededTotalResults" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchParam">
<xs:sequence>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="listValue" type="xs:string"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
<xs:complexType name="searchResult">
<xs:sequence>
<xs:element minOccurs="0" name="startAt" type="xs:int"/>
<xs:element minOccurs="0" name="totalResults" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="rows" nillable="true" type="tns:searchResultRow"/>
<xs:element minOccurs="0" name="sortColumn" type="xs:string"/>
<xs:element minOccurs="0" name="sortDirection" type="tns:sortDirection"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchResultRow">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="cells" nillable="true" type="tns:searchResultCell"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchResultCell">
<xs:sequence>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="key" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchResultType">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="searchResultTypeKey" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchResultTypeResponse">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="return" type="tns:searchResultTypeInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchResultTypes">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getSearchResultTypesResponse">
<xs:sequence>
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="return" type="tns:searchResultTypeInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchCriteriaTypes">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getSearchCriteriaTypesResponse">
<xs:sequence>
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="return" type="tns:searchCriteriaTypeInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchType">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="searchTypeKey" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchTypeResponse">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="return" type="tns:searchTypeInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchTypes">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getSearchTypesResponse">
<xs:sequence>
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="return" type="tns:searchTypeInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchTypesByCriteria">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="searchCriteriaTypeKey" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSearchTypesByCriteriaResponse">
<xs:sequence>
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="return" type="tns:searchTypeInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchRelationship">
<xs:sequence>
<xs:element minOccurs="0" name="lhs" type="tns:typeAttribute"/>
<xs:element minOccurs="0" name="rhs" type="tns:typeAttribute"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="typeAttribute">
<xs:sequence>
<xs:element minOccurs="0" name="parentType" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="alias" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="sortDirection">
<xs:restriction base="xs:string">
<xs:enumeration value="ASC"/>
<xs:enumeration value="DESC"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/exceptions" xmlns:tns="http://student.kuali.org/wsdl/exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="AlreadyExistsException" type="tns:AlreadyExistsException"/>
<xs:element name="DoesNotExistException" type="tns:DoesNotExistException"/>
<xs:element name="InvalidParameterException" type="tns:InvalidParameterException"/>
<xs:element name="MissingParameterException" type="tns:MissingParameterException"/>
<xs:element name="OperationFailedException" type="tns:OperationFailedException"/>
<xs:element name="PermissionDeniedException" type="tns:PermissionDeniedException"/>
<xs:complexType name="OperationFailedException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DoesNotExistException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InvalidParameterException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MissingParameterException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PermissionDeniedException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AlreadyExistsException">
<xs:sequence>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/enumerationmanagement" xmlns:ns0="http://student.kuali.org/wsdl/search" xmlns:ns1="http://student.kuali.org/wsdl/exceptions" xmlns:ns2="http://student.kuali.org/wsdl/EnumerationManagementService" xmlns:ns3="http://student.kuali.org/wsdl/organization" xmlns:tns="http://student.kuali.org/wsdl/enumerationmanagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="jaxbAttributeList">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:Attribute"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Attribute">
<xs:sequence>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
<xs:complexType name="enumeratedValueInfo">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string"/>
<xs:element minOccurs="0" name="abbrevValue" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
<xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="sortKey" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="contexts" type="tns:enumContextValueInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enumContextValueInfo">
<xs:sequence>
<xs:element minOccurs="0" name="type" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enumerationMetaInfo">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="desc" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="enumeratedValueFields" type="tns:enumeratedValueFieldInfo"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="contextDescriptors" type="tns:enumContextInfo"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
<xs:complexType name="enumeratedValueFieldInfo">
<xs:sequence>
<xs:element minOccurs="0" name="fieldDescriptor" type="tns:fieldDescriptorInfo"/>
<xs:element minOccurs="0" name="key" type="xs:string"/>
<xs:element minOccurs="0" name="minOccurs" type="xs:int"/>
<xs:element minOccurs="0" name="maxOccurs" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="fieldDescriptorInfo">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="desc" type="xs:string"/>
<xs:element minOccurs="0" name="dataType" type="xs:string"/>
<xs:element minOccurs="0" name="minLength" type="xs:int"/>
<xs:element minOccurs="0" name="maxLength" type="xs:string"/>
<xs:element minOccurs="0" name="validChars" type="xs:string"/>
<xs:element minOccurs="0" name="invalidChars" type="xs:string"/>
<xs:element minOccurs="0" name="minValue" type="xs:string"/>
<xs:element minOccurs="0" name="maxValue" type="xs:string"/>
<xs:element minOccurs="0" name="enumFieldView" type="tns:enumFieldViewInfo"/>
<xs:element minOccurs="0" name="readOnly" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="enumFieldViewInfo">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="contextDescriptors" type="tns:enumContextInfo"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string"/>
</xs:complexType>
<xs:complexType name="enumContextInfo">
<xs:sequence>
<xs:element minOccurs="0" name="contextValueDescriptor" type="tns:fieldDescriptorInfo"/>
</xs:sequence>
<xs:attribute name="type" type="xs:string"/>
</xs:complexType>
<xs:complexType name="statusInfo">
<xs:sequence>
<xs:element minOccurs="0" name="success" type="xs:boolean"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="getSearchCriteriaType" nillable="true" type="ns0:getSearchCriteriaType"/>
<xs:element name="getSearchCriteriaTypeResponse" nillable="true" type="ns0:getSearchCriteriaTypeResponse"/>
<xs:element name="OperationFailedException" nillable="true" type="ns1:OperationFailedException"/>
<xs:element name="DoesNotExistException" nillable="true" type="ns1:DoesNotExistException"/>
<xs:element name="InvalidParameterException" nillable="true" type="ns1:InvalidParameterException"/>
<xs:element name="MissingParameterException" nillable="true" type="ns1:MissingParameterException"/>
<xs:element name="addEnumeratedValue" nillable="true" type="ns2:addEnumeratedValue"/>
<xs:element name="addEnumeratedValueResponse" nillable="true" type="ns2:addEnumeratedValueResponse"/>
<xs:element name="PermissionDeniedException" nillable="true" type="ns1:PermissionDeniedException"/>
<xs:element name="AlreadyExistsException" nillable="true" type="ns1:AlreadyExistsException"/>
<xs:element name="getSearchTypesByResult" nillable="true" type="ns0:getSearchTypesByResult"/>
<xs:element name="getSearchTypesByResultResponse" nillable="true" type="ns0:getSearchTypesByResultResponse"/>
<xs:element name="getEnumeration" nillable="true" type="ns2:getEnumeration"/>
<xs:element name="getEnumerationResponse" nillable="true" type="ns2:getEnumerationResponse"/>
<xs:element name="search" nillable="true" type="ns3:search"/>
<xs:element name="searchResponse" nillable="true" type="ns3:searchResponse"/>
<xs:element name="getSearchResultType" nillable="true" type="ns0:getSearchResultType"/>
<xs:element name="getSearchResultTypeResponse" nillable="true" type="ns0:getSearchResultTypeResponse"/>
<xs:element name="getSearchResultTypes" nillable="true" type="ns0:getSearchResultTypes"/>
<xs:element name="getSearchResultTypesResponse" nillable="true" type="ns0:getSearchResultTypesResponse"/>
<xs:element name="updateEnumeratedValue" nillable="true" type="ns2:updateEnumeratedValue"/>
<xs:element name="updateEnumeratedValueResponse" nillable="true" type="ns2:updateEnumeratedValueResponse"/>
<xs:element name="getEnumerationMeta" nillable="true" type="ns2:getEnumerationMeta"/>
<xs:element name="getEnumerationMetaResponse" nillable="true" type="ns2:getEnumerationMetaResponse"/>
<xs:element name="getSearchCriteriaTypes" nillable="true" type="ns0:getSearchCriteriaTypes"/>
<xs:element name="getSearchCriteriaTypesResponse" nillable="true" type="ns0:getSearchCriteriaTypesResponse"/>
<xs:element name="getSearchType" nillable="true" type="ns0:getSearchType"/>
<xs:element name="getSearchTypeResponse" nillable="true" type="ns0:getSearchTypeResponse"/>
<xs:element name="removeEnumeratedValue" nillable="true" type="ns2:removeEnumeratedValue"/>
<xs:element name="removeEnumeratedValueResponse" nillable="true" type="ns2:removeEnumeratedValueResponse"/>
<xs:element name="getSearchTypes" nillable="true" type="ns0:getSearchTypes"/>
<xs:element name="getSearchTypesResponse" nillable="true" type="ns0:getSearchTypesResponse"/>
<xs:element name="getSearchTypesByCriteria" nillable="true" type="ns0:getSearchTypesByCriteria"/>
<xs:element name="getSearchTypesByCriteriaResponse" nillable="true" type="ns0:getSearchTypesByCriteriaResponse"/>
<xs:element name="getEnumerationMetas" nillable="true" type="ns2:getEnumerationMetas"/>
<xs:element name="getEnumerationMetasResponse" nillable="true" type="ns2:getEnumerationMetasResponse"/>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/organization" xmlns:ns1="http://student.kuali.org/wsdl/search" xmlns:tns="http://student.kuali.org/wsdl/organization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://student.kuali.org/wsdl/search"/>
<xs:element name="search" type="tns:search"/>
<xs:element name="searchResponse" type="tns:searchResponse"/>
<xs:complexType name="search">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="ns1:searchRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:searchResult"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/EnumerationManagementService" xmlns:ns1="http://student.kuali.org/wsdl/enumerationmanagement" xmlns:tns="http://student.kuali.org/wsdl/EnumerationManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://student.kuali.org/wsdl/enumerationmanagement"/>
<xs:element name="addEnumeratedValue" type="tns:addEnumeratedValue"/>
<xs:element name="addEnumeratedValueResponse" type="tns:addEnumeratedValueResponse"/>
<xs:element name="getEnumeration" type="tns:getEnumeration"/>
<xs:element name="getEnumerationMeta" type="tns:getEnumerationMeta"/>
<xs:element name="getEnumerationMetaResponse" type="tns:getEnumerationMetaResponse"/>
<xs:element name="getEnumerationMetas" type="tns:getEnumerationMetas"/>
<xs:element name="getEnumerationMetasResponse" type="tns:getEnumerationMetasResponse"/>
<xs:element name="getEnumerationResponse" type="tns:getEnumerationResponse"/>
<xs:element name="removeEnumeratedValue" type="tns:removeEnumeratedValue"/>
<xs:element name="removeEnumeratedValueResponse" type="tns:removeEnumeratedValueResponse"/>
<xs:element name="updateEnumeratedValue" type="tns:updateEnumeratedValue"/>
<xs:element name="updateEnumeratedValueResponse" type="tns:updateEnumeratedValueResponse"/>
<xs:complexType name="addEnumeratedValue">
<xs:sequence>
<xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
<xs:element minOccurs="0" name="enumeratedValue" type="ns1:enumeratedValueInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addEnumeratedValueResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:enumeratedValueInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnumeration">
<xs:sequence>
<xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
<xs:element minOccurs="0" name="contextType" type="xs:string"/>
<xs:element minOccurs="0" name="contextValue" type="xs:string"/>
<xs:element minOccurs="0" name="contextDate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnumerationResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:enumeratedValueInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateEnumeratedValue">
<xs:sequence>
<xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
<xs:element minOccurs="0" name="code" type="xs:string"/>
<xs:element minOccurs="0" name="enumeratedValue" type="ns1:enumeratedValueInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateEnumeratedValueResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:enumeratedValueInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnumerationMeta">
<xs:sequence>
<xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnumerationMetaResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:enumerationMetaInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeEnumeratedValue">
<xs:sequence>
<xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
<xs:element minOccurs="0" name="code" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeEnumeratedValueResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:statusInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEnumerationMetas">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getEnumerationMetasResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:enumerationMetaInfo"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://student.kuali.org/wsdl/dictionary" xmlns:ns1="http://student.kuali.org/wsdl/enumerationmanagement" xmlns:tns="http://student.kuali.org/wsdl/dictionary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://student.kuali.org/wsdl/enumerationmanagement"/>
<xs:element name="fieldDescriptor" type="tns:fieldDescriptor"/>
<xs:complexType name="fieldDescriptor">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="desc" type="xs:string"/>
<xs:element name="readOnly" type="xs:boolean"/>
<xs:element name="dataType" type="xs:string"/>
<xs:element minOccurs="0" name="search" type="tns:searchSelector"/>
<xs:element minOccurs="0" name="objectStructure" type="tns:objectStructure"/>
<xs:element minOccurs="0" name="objectStructureRef" type="xs:string"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="searchSelector">
<xs:sequence/>
<xs:attribute name="key" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="objectStructure">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="type" type="tns:type"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="desc" type="xs:string"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string" use="required"/>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="type">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="state" type="tns:state"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="desc" type="xs:string"/>
<xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
<xs:element name="modifiable" type="xs:boolean"/>
<xs:element minOccurs="0" name="attributes" type="ns1:jaxbAttributeList"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="key" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="state">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="field" type="tns:field"/>
<xs:element minOccurs="0" name="constraintDescriptor" type="tns:constraintDescriptor"/>
</xs:sequence>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="key" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="field">
<xs:sequence>
<xs:element minOccurs="0" name="fieldDescriptor" type="tns:fieldDescriptor"/>
<xs:element minOccurs="0" name="constraintDescriptor" type="tns:constraintDescriptor"/>
<xs:element name="selector" type="xs:boolean"/>
<xs:element name="dynamic" type="xs:boolean"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string" use="required"/>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="constraintDescriptor">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="constraint" type="tns:constraintSelector"/>
</xs:sequence>
<xs:attribute name="key" type="xs:string" use="required"/>
<xs:attribute name="id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="constraintSelector">
<xs:sequence>
<xs:element minOccurs="0" name="minValue" type="xs:string"/>
<xs:element minOccurs="0" name="maxValue" type="xs:string"/>
<xs:element minOccurs="0" name="minLength" type="xs:int"/>
<xs:element minOccurs="0" name="maxLength" type="xs:string"/>
<xs:element minOccurs="0" name="validChars" type="tns:validCharsConstraint"/>
<xs:element minOccurs="0" name="minOccurs" type="xs:int"/>
<xs:element minOccurs="0" name="maxOccurs" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="require" type="tns:requireConstraint"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="case" type="tns:caseConstraint"/>
<xs:element minOccurs="0" name="typeStateCase" type="tns:typeStateCaseConstraint"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="lookup" type="tns:lookupConstraint"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="occurs" type="tns:occursConstraint"/>
</xs:sequence>
<xs:attribute name="className" type="xs:string"/>
<xs:attribute name="key" type="xs:string" use="required"/>
<xs:attribute name="id" type="xs:string"/>
<xs:attribute name="serverSide" type="xs:boolean" use="required"/>
<xs:attribute name="locale" type="xs:string"/>
</xs:complexType>
<xs:complexType name="validCharsConstraint">
<xs:sequence>
<xs:element minOccurs="0" name="value" type="xs:string"/>
</xs:sequence>
<xs:attribute name="fields" type="xs:string"/>
<xs:attribute name="separator" type="xs:string"/>
</xs:complexType>
<xs:complexType name="requireConstraint">
<xs:sequence/>
<xs:attribute name="field" type="xs:string"/>
</xs:complexType>
<xs:complexType name="caseConstraint">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="when" type="tns:whenConstraint"/>
</xs:sequence>
<xs:attribute name="field" type="xs:string"/>
<xs:attribute name="operator" type="xs:string"/>
</xs:complexType>
<xs:complexType name="whenConstraint">
<xs:sequence>
<xs:element minOccurs="0" name="constraint" type="tns:constraintSelector"/>
</xs:sequence>
<xs:attribute name="value" type="xs:string"/>
</xs:complexType>
<xs:complexType name="typeStateCaseConstraint">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="typeStateWhen" type="tns:typeStateWhenConstraint"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="typeStateWhenConstraint">
<xs:sequence>
<xs:element minOccurs="0" name="minOccurs" type="xs:int"/>
<xs:element minOccurs="0" name="maxOccurs" type="xs:string"/>
</xs:sequence>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="state" type="xs:string"/>
</xs:complexType>
<xs:complexType name="lookupConstraint">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="lookupKey" type="tns:lookupKeyConstraint"/>
</xs:sequence>
<xs:attribute name="search" type="xs:string"/>
<xs:attribute name="searchField" type="xs:string"/>
</xs:complexType>
<xs:complexType name="lookupKeyConstraint">
<xs:sequence/>
<xs:attribute name="field" type="xs:string"/>
<xs:attribute name="mapsTo" type="xs:string"/>
</xs:complexType>
<xs:complexType name="occursConstraint">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="require" type="tns:requireConstraint"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="occurs" type="tns:occursConstraint"/>
</xs:sequence>
<xs:attribute name="min" type="xs:int"/>
<xs:attribute name="max" type="xs:int"/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSearchResultTypes">
    <wsdl:part element="tns:getSearchResultTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationMetaResponse">
    <wsdl:part element="tns:getEnumerationMetaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationResponse">
    <wsdl:part element="tns:getEnumerationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchCriteriaTypesResponse">
    <wsdl:part element="tns:getSearchCriteriaTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationMetasResponse">
    <wsdl:part element="tns:getEnumerationMetasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchCriteriaType">
    <wsdl:part element="tns:getSearchCriteriaType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MissingParameterException">
    <wsdl:part element="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part element="tns:search" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchCriteriaTypes">
    <wsdl:part element="tns:getSearchCriteriaTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchResultTypesResponse">
    <wsdl:part element="tns:getSearchResultTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchCriteriaTypeResponse">
    <wsdl:part element="tns:getSearchCriteriaTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEnumeratedValueResponse">
    <wsdl:part element="tns:updateEnumeratedValueResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoesNotExistException">
    <wsdl:part element="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchType">
    <wsdl:part element="tns:getSearchType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchResultTypeResponse">
    <wsdl:part element="tns:getSearchResultTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PermissionDeniedException">
    <wsdl:part element="tns:PermissionDeniedException" name="PermissionDeniedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationFailedException">
    <wsdl:part element="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchResultType">
    <wsdl:part element="tns:getSearchResultType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlreadyExistsException">
    <wsdl:part element="tns:AlreadyExistsException" name="AlreadyExistsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumeratedValue">
    <wsdl:part element="tns:removeEnumeratedValue" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchTypes">
    <wsdl:part element="tns:getSearchTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part element="tns:searchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part element="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchTypesByResultResponse">
    <wsdl:part element="tns:getSearchTypesByResultResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchTypesByResult">
    <wsdl:part element="tns:getSearchTypesByResult" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationMetas">
    <wsdl:part element="tns:getEnumerationMetas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchTypeResponse">
    <wsdl:part element="tns:getSearchTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumeration">
    <wsdl:part element="tns:getEnumeration" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchTypesByCriteria">
    <wsdl:part element="tns:getSearchTypesByCriteria" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumeratedValueResponse">
    <wsdl:part element="tns:addEnumeratedValueResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEnumeratedValue">
    <wsdl:part element="tns:updateEnumeratedValue" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchTypesResponse">
    <wsdl:part element="tns:getSearchTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumeratedValue">
    <wsdl:part element="tns:addEnumeratedValue" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationMeta">
    <wsdl:part element="tns:getEnumerationMeta" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchTypesByCriteriaResponse">
    <wsdl:part element="tns:getSearchTypesByCriteriaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumeratedValueResponse">
    <wsdl:part element="tns:removeEnumeratedValueResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EnumerationManagementService">
    <wsdl:operation name="getSearchCriteriaType">
      <wsdl:input message="tns:getSearchCriteriaType" name="getSearchCriteriaType">
    </wsdl:input>
      <wsdl:output message="tns:getSearchCriteriaTypeResponse" name="getSearchCriteriaTypeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addEnumeratedValue">
      <wsdl:input message="tns:addEnumeratedValue" name="addEnumeratedValue">
    </wsdl:input>
      <wsdl:output message="tns:addEnumeratedValueResponse" name="addEnumeratedValueResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:AlreadyExistsException" name="AlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault message="tns:PermissionDeniedException" name="PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchTypesByResult">
      <wsdl:input message="tns:getSearchTypesByResult" name="getSearchTypesByResult">
    </wsdl:input>
      <wsdl:output message="tns:getSearchTypesByResultResponse" name="getSearchTypesByResultResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumeration">
      <wsdl:input message="tns:getEnumeration" name="getEnumeration">
    </wsdl:input>
      <wsdl:output message="tns:getEnumerationResponse" name="getEnumerationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input message="tns:search" name="search">
    </wsdl:input>
      <wsdl:output message="tns:searchResponse" name="searchResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchResultType">
      <wsdl:input message="tns:getSearchResultType" name="getSearchResultType">
    </wsdl:input>
      <wsdl:output message="tns:getSearchResultTypeResponse" name="getSearchResultTypeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchResultTypes">
      <wsdl:input message="tns:getSearchResultTypes" name="getSearchResultTypes">
    </wsdl:input>
      <wsdl:output message="tns:getSearchResultTypesResponse" name="getSearchResultTypesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateEnumeratedValue">
      <wsdl:input message="tns:updateEnumeratedValue" name="updateEnumeratedValue">
    </wsdl:input>
      <wsdl:output message="tns:updateEnumeratedValueResponse" name="updateEnumeratedValueResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault message="tns:PermissionDeniedException" name="PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumerationMeta">
      <wsdl:input message="tns:getEnumerationMeta" name="getEnumerationMeta">
    </wsdl:input>
      <wsdl:output message="tns:getEnumerationMetaResponse" name="getEnumerationMetaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchCriteriaTypes">
      <wsdl:input message="tns:getSearchCriteriaTypes" name="getSearchCriteriaTypes">
    </wsdl:input>
      <wsdl:output message="tns:getSearchCriteriaTypesResponse" name="getSearchCriteriaTypesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchType">
      <wsdl:input message="tns:getSearchType" name="getSearchType">
    </wsdl:input>
      <wsdl:output message="tns:getSearchTypeResponse" name="getSearchTypeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeEnumeratedValue">
      <wsdl:input message="tns:removeEnumeratedValue" name="removeEnumeratedValue">
    </wsdl:input>
      <wsdl:output message="tns:removeEnumeratedValueResponse" name="removeEnumeratedValueResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault message="tns:PermissionDeniedException" name="PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchTypes">
      <wsdl:input message="tns:getSearchTypes" name="getSearchTypes">
    </wsdl:input>
      <wsdl:output message="tns:getSearchTypesResponse" name="getSearchTypesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchTypesByCriteria">
      <wsdl:input message="tns:getSearchTypesByCriteria" name="getSearchTypesByCriteria">
    </wsdl:input>
      <wsdl:output message="tns:getSearchTypesByCriteriaResponse" name="getSearchTypesByCriteriaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:MissingParameterException" name="MissingParameterException">
    </wsdl:fault>
      <wsdl:fault message="tns:DoesNotExistException" name="DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumerationMetas">
      <wsdl:input message="tns:getEnumerationMetas" name="getEnumerationMetas">
    </wsdl:input>
      <wsdl:output message="tns:getEnumerationMetasResponse" name="getEnumerationMetasResponse">
    </wsdl:output>
      <wsdl:fault message="tns:OperationFailedException" name="OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnumerationManagementServiceSoapBinding" type="tns:EnumerationManagementService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException">
        <soap:fault name="AlreadyExistsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchCriteriaType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSearchCriteriaType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchCriteriaTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchTypesByResult">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSearchTypesByResult">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchTypesByResultResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumeration">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEnumeration">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEnumerationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="search">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchResultType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSearchResultType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchResultTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchResultTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSearchResultTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchResultTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumerationMeta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEnumerationMeta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEnumerationMetaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchCriteriaTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSearchCriteriaTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchCriteriaTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSearchType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSearchTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSearchTypesByCriteria">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSearchTypesByCriteria">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchTypesByCriteriaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumerationMetas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEnumerationMetas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEnumerationMetasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnumerationManagementService">
    <wsdl:port binding="tns:EnumerationManagementServiceSoapBinding" name="EnumerationManagementServicePort">
      <soap:address location="http://localhost:9393/ks-embedded-dev/services/EnumerationManagementService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>