ks-core-merged2/ks-core-api/src/main/resources/META-INF/wsdl/MessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MessageService" targetNamespace="http://student.kuali.org/wsdl/messages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/messages" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://student.kuali.org/wsdl/messages" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/messages">
    <xs:element name="LocaleKeyList" type="tns:localeKeyList"/>
    <xs:element name="MessageGroupKeyList" type="tns:messageGroupKeyList"/>
    <xs:element name="MessageList" type="tns:messageList"/>
    <xs:element name="addMessage" type="tns:addMessage"/>
    <xs:element name="addMessageResponse" type="tns:addMessageResponse"/>
    <xs:element name="getLocales" type="tns:getLocales"/>
    <xs:element name="getLocalesResponse" type="tns:getLocalesResponse"/>
    <xs:element name="getMessage" type="tns:getMessage"/>
    <xs:element name="getMessageGroups" type="tns:getMessageGroups"/>
    <xs:element name="getMessageGroupsResponse" type="tns:getMessageGroupsResponse"/>
    <xs:element name="getMessageResponse" type="tns:getMessageResponse"/>
    <xs:element name="getMessages" type="tns:getMessages"/>
    <xs:element name="getMessagesByGroups" type="tns:getMessagesByGroups"/>
    <xs:element name="getMessagesByGroupsResponse" type="tns:getMessagesByGroupsResponse"/>
    <xs:element name="getMessagesResponse" type="tns:getMessagesResponse"/>
    <xs:element name="message" type="tns:message"/>
    <xs:element name="updateMessage" type="tns:updateMessage"/>
    <xs:element name="updateMessageResponse" type="tns:updateMessageResponse"/>
    <xs:complexType name="getLocales">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getLocalesResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:localeKeyList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="localeKeyList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="locale" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMessage">
        <xs:sequence>
            <xs:element minOccurs="0" name="localeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="messageGroupKey" type="xs:string"/>
            <xs:element minOccurs="0" name="messageKey" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMessageResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:message"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="message">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="locale" type="xs:string" use="required"/>
        <xs:attribute name="groupName" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="addMessage">
        <xs:sequence>
            <xs:element minOccurs="0" name="messageInfo" type="tns:message"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addMessageResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:message"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMessageGroups">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getMessageGroupsResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:messageGroupKeyList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="messageGroupKeyList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="messageGroup" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMessagesByGroups">
        <xs:sequence>
            <xs:element minOccurs="0" name="localeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="messageGroupKeyList" type="tns:messageGroupKeyList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMessagesByGroupsResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:messageList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="messageList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="message" type="tns:message"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMessages">
        <xs:sequence>
            <xs:element minOccurs="0" name="localeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="messageGroupKey" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMessagesResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:messageList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateMessage">
        <xs:sequence>
            <xs:element minOccurs="0" name="localeKey" type="xs:string"/>
            <xs:element minOccurs="0" name="messageGroupKey" type="xs:string"/>
            <xs:element minOccurs="0" name="messageKey" type="xs:string"/>
            <xs:element minOccurs="0" name="messageInfo" type="tns:message"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateMessageResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:message"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addMessage">
    <wsdl:part name="parameters" element="tns:addMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessageGroups">
    <wsdl:part name="parameters" element="tns:getMessageGroups">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLocalesResponse">
    <wsdl:part name="parameters" element="tns:getLocalesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessagesResponse">
    <wsdl:part name="parameters" element="tns:getMessagesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessagesByGroupsResponse">
    <wsdl:part name="parameters" element="tns:getMessagesByGroupsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessagesByGroups">
    <wsdl:part name="parameters" element="tns:getMessagesByGroups">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessageGroupsResponse">
    <wsdl:part name="parameters" element="tns:getMessageGroupsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addMessageResponse">
    <wsdl:part name="parameters" element="tns:addMessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessages">
    <wsdl:part name="parameters" element="tns:getMessages">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLocales">
    <wsdl:part name="parameters" element="tns:getLocales">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMessage">
    <wsdl:part name="parameters" element="tns:updateMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMessageResponse">
    <wsdl:part name="parameters" element="tns:updateMessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessageResponse">
    <wsdl:part name="parameters" element="tns:getMessageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessage">
    <wsdl:part name="parameters" element="tns:getMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MessageService">
    <wsdl:operation name="getLocales">
      <wsdl:input name="getLocales" message="tns:getLocales">
    </wsdl:input>
      <wsdl:output name="getLocalesResponse" message="tns:getLocalesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessage">
      <wsdl:input name="getMessage" message="tns:getMessage">
    </wsdl:input>
      <wsdl:output name="getMessageResponse" message="tns:getMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMessage">
      <wsdl:input name="addMessage" message="tns:addMessage">
    </wsdl:input>
      <wsdl:output name="addMessageResponse" message="tns:addMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageGroups">
      <wsdl:input name="getMessageGroups" message="tns:getMessageGroups">
    </wsdl:input>
      <wsdl:output name="getMessageGroupsResponse" message="tns:getMessageGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessagesByGroups">
      <wsdl:input name="getMessagesByGroups" message="tns:getMessagesByGroups">
    </wsdl:input>
      <wsdl:output name="getMessagesByGroupsResponse" message="tns:getMessagesByGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessages">
      <wsdl:input name="getMessages" message="tns:getMessages">
    </wsdl:input>
      <wsdl:output name="getMessagesResponse" message="tns:getMessagesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMessage">
      <wsdl:input name="updateMessage" message="tns:updateMessage">
    </wsdl:input>
      <wsdl:output name="updateMessageResponse" message="tns:updateMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageServiceServiceSoapBinding" type="tns:MessageService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLocales">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLocales">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLocalesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMessage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMessage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addMessage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageGroups">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMessageGroups">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMessageGroupsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessagesByGroups">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMessagesByGroups">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMessagesByGroupsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessages">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMessages">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMessagesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMessage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateMessage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService">
    <wsdl:port name="MessageServicePort" binding="tns:MessageServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/MessageServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
