ks-core-merged2/ks-core-api/src/main/resources/META-INF/wsdl/QualifierHierarchyRoleTypeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="QHRoleTypeService" targetNamespace="http://student.kuali.org/wsdl/qhRoleType" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/qhRoleType" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://student.kuali.org/wsdl/roleType" xmlns:tns="http://student.kuali.org/wsdl/qhRoleType" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/qhRoleType">
    <xs:complexType name="jaxbAttributeList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:Attribute"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Attribute">
        <xs:sequence>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:element name="getAllImpliedQualifications" nillable="true" type="ns0:getAllImpliedQualifications"/>
    <xs:element name="getAllImpliedQualificationsResponse" nillable="true" type="ns0:getAllImpliedQualificationsResponse"/>
    <xs:element name="getAcceptedAttributeNames" nillable="true" type="ns0:getAcceptedAttributeNames"/>
    <xs:element name="getAcceptedAttributeNamesResponse" nillable="true" type="ns0:getAcceptedAttributeNamesResponse"/>
    <xs:element name="getAllImplyingQualifications" nillable="true" type="ns0:getAllImplyingQualifications"/>
    <xs:element name="getAllImplyingQualificationsResponse" nillable="true" type="ns0:getAllImplyingQualificationsResponse"/>
    <xs:element name="doesRoleQualifierMatchQualification" nillable="true" type="ns0:doesRoleQualifierMatchQualification"/>
    <xs:element name="doesRoleQualifierMatchQualificationResponse" nillable="true" type="ns0:doesRoleQualifierMatchQualificationResponse"/>
    <xs:element name="doRoleQualifiersMatchQualification" nillable="true" type="ns0:doRoleQualifiersMatchQualification"/>
    <xs:element name="doRoleQualifiersMatchQualificationResponse" nillable="true" type="ns0:doRoleQualifiersMatchQualificationResponse"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://student.kuali.org/wsdl/qhRoleType" xmlns:tns="http://student.kuali.org/wsdl/roleType" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/roleType">
    <xs:import namespace="http://student.kuali.org/wsdl/qhRoleType"/>
    <xs:element name="doRoleQualifiersMatchQualification" type="tns:doRoleQualifiersMatchQualification"/>
    <xs:element name="doRoleQualifiersMatchQualificationResponse" type="tns:doRoleQualifiersMatchQualificationResponse"/>
    <xs:element name="doesRoleQualifierMatchQualification" type="tns:doesRoleQualifierMatchQualification"/>
    <xs:element name="doesRoleQualifierMatchQualificationResponse" type="tns:doesRoleQualifierMatchQualificationResponse"/>
    <xs:element name="getAcceptedAttributeNames" type="tns:getAcceptedAttributeNames"/>
    <xs:element name="getAcceptedAttributeNamesResponse" type="tns:getAcceptedAttributeNamesResponse"/>
    <xs:element name="getAllImpliedQualifications" type="tns:getAllImpliedQualifications"/>
    <xs:element name="getAllImpliedQualificationsResponse" type="tns:getAllImpliedQualificationsResponse"/>
    <xs:element name="getAllImplyingQualifications" type="tns:getAllImplyingQualifications"/>
    <xs:element name="getAllImplyingQualificationsResponse" type="tns:getAllImplyingQualificationsResponse"/>
    <xs:complexType name="getAllImpliedQualifications">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="ns1:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAllImpliedQualificationsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAcceptedAttributeNames">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getAcceptedAttributeNamesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAllImplyingQualifications">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="ns1:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getAllImplyingQualificationsResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="doesRoleQualifierMatchQualification">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="ns1:jaxbAttributeList"/>
            <xs:element minOccurs="0" name="arg1" type="ns1:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="doesRoleQualifierMatchQualificationResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="doRoleQualifiersMatchQualification">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="ns1:jaxbAttributeList"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="ns1:jaxbAttributeList"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="doRoleQualifiersMatchQualificationResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="doRoleQualifiersMatchQualification">
    <wsdl:part name="parameters" element="tns:doRoleQualifiersMatchQualification">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doRoleQualifiersMatchQualificationResponse">
    <wsdl:part name="parameters" element="tns:doRoleQualifiersMatchQualificationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAcceptedAttributeNamesResponse">
    <wsdl:part name="parameters" element="tns:getAcceptedAttributeNamesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAcceptedAttributeNames">
    <wsdl:part name="parameters" element="tns:getAcceptedAttributeNames">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doesRoleQualifierMatchQualification">
    <wsdl:part name="parameters" element="tns:doesRoleQualifierMatchQualification">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllImpliedQualificationsResponse">
    <wsdl:part name="parameters" element="tns:getAllImpliedQualificationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllImplyingQualificationsResponse">
    <wsdl:part name="parameters" element="tns:getAllImplyingQualificationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doesRoleQualifierMatchQualificationResponse">
    <wsdl:part name="parameters" element="tns:doesRoleQualifierMatchQualificationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllImpliedQualifications">
    <wsdl:part name="parameters" element="tns:getAllImpliedQualifications">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllImplyingQualifications">
    <wsdl:part name="parameters" element="tns:getAllImplyingQualifications">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="QHRoleTypeService">
    <wsdl:operation name="getAllImpliedQualifications">
      <wsdl:input name="getAllImpliedQualifications" message="tns:getAllImpliedQualifications">
    </wsdl:input>
      <wsdl:output name="getAllImpliedQualificationsResponse" message="tns:getAllImpliedQualificationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAcceptedAttributeNames">
      <wsdl:input name="getAcceptedAttributeNames" message="tns:getAcceptedAttributeNames">
    </wsdl:input>
      <wsdl:output name="getAcceptedAttributeNamesResponse" message="tns:getAcceptedAttributeNamesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllImplyingQualifications">
      <wsdl:input name="getAllImplyingQualifications" message="tns:getAllImplyingQualifications">
    </wsdl:input>
      <wsdl:output name="getAllImplyingQualificationsResponse" message="tns:getAllImplyingQualificationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doesRoleQualifierMatchQualification">
      <wsdl:input name="doesRoleQualifierMatchQualification" message="tns:doesRoleQualifierMatchQualification">
    </wsdl:input>
      <wsdl:output name="doesRoleQualifierMatchQualificationResponse" message="tns:doesRoleQualifierMatchQualificationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doRoleQualifiersMatchQualification">
      <wsdl:input name="doRoleQualifiersMatchQualification" message="tns:doRoleQualifiersMatchQualification">
    </wsdl:input>
      <wsdl:output name="doRoleQualifiersMatchQualificationResponse" message="tns:doRoleQualifiersMatchQualificationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QualifierHierarchyRoleTypeServiceServiceSoapBinding" type="tns:QHRoleTypeService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllImpliedQualifications">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllImpliedQualifications">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllImpliedQualificationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAcceptedAttributeNames">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAcceptedAttributeNames">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAcceptedAttributeNamesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllImplyingQualifications">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllImplyingQualifications">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllImplyingQualificationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doesRoleQualifierMatchQualification">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="doesRoleQualifierMatchQualification">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doesRoleQualifierMatchQualificationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doRoleQualifiersMatchQualification">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="doRoleQualifiersMatchQualification">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doRoleQualifiersMatchQualificationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QHRoleTypeService">
    <wsdl:port name="QHRoleTypeServicePort" binding="tns:QualifierHierarchyRoleTypeServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/QHRoleTypeServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
