fact-finder-api/src/main/resources/wsdl/FactFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FactFinderService" targetNamespace="http://student.kuali.org/poc/wsdl/brms/factfinder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/poc/wsdl/brms/factfinder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://student.kuali.org/poc/wsdl/brms/factfinder" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/poc/wsdl/brms/factfinder">
    <xs:element name="fetchAllFactsDisplayInfo" type="tns:fetchAllFactsDisplayInfo"/>
    <xs:element name="fetchAllFactsDisplayInfoResponse" type="tns:fetchAllFactsDisplayInfoResponse"/>
    <xs:element name="fetchFactStructureInfo" type="tns:fetchFactStructureInfo"/>
    <xs:element name="fetchFactStructureInfoResponse" type="tns:fetchFactStructureInfoResponse"/>
    <xs:element name="findFact" type="tns:findFact"/>
    <xs:element name="findFactResponse" type="tns:findFactResponse"/>
    <xs:complexType name="fetchAllFactsDisplayInfo">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="fetchAllFactsDisplayInfoResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:factStructureDisplayDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="factStructureDisplayDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="factStructureId" type="xs:string"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="findFact">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="findFactResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:factDataDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="factDataDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="data" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchFactStructureInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fetchFactStructureInfoResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:factStructureDTO"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="factStructureDTO">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataType" type="xs:string"/>
            <xs:element minOccurs="0" name="anchorFlag" type="xs:boolean"/>
            <xs:element minOccurs="0" name="executionVariableList" type="tns:jaxbAttributeList"/>
            <xs:element minOccurs="0" name="definitionVariableList" type="tns:jaxbAttributeList"/>
        </xs:sequence>
        <xs:attribute name="factStructureId" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="jaxbAttributeList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:Attribute"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Attribute">
        <xs:sequence/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
    <xs:element name="OperationFailedException" type="tns:OperationFailedException"/>
    <xs:complexType name="OperationFailedException">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="OperationFailedException">
    <wsdl:part name="OperationFailedException" element="tns:OperationFailedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findFact">
    <wsdl:part name="parameters" element="tns:findFact">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchAllFactsDisplayInfo">
    <wsdl:part name="parameters" element="tns:fetchAllFactsDisplayInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFactStructureInfoResponse">
    <wsdl:part name="parameters" element="tns:fetchFactStructureInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchAllFactsDisplayInfoResponse">
    <wsdl:part name="parameters" element="tns:fetchAllFactsDisplayInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findFactResponse">
    <wsdl:part name="parameters" element="tns:findFactResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFactStructureInfo">
    <wsdl:part name="parameters" element="tns:fetchFactStructureInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FactFinderService">
    <wsdl:operation name="fetchAllFactsDisplayInfo">
      <wsdl:input name="fetchAllFactsDisplayInfo" message="tns:fetchAllFactsDisplayInfo">
    </wsdl:input>
      <wsdl:output name="fetchAllFactsDisplayInfoResponse" message="tns:fetchAllFactsDisplayInfoResponse">
    </wsdl:output>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findFact">
      <wsdl:input name="findFact" message="tns:findFact">
    </wsdl:input>
      <wsdl:output name="findFactResponse" message="tns:findFactResponse">
    </wsdl:output>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchFactStructureInfo">
      <wsdl:input name="fetchFactStructureInfo" message="tns:fetchFactStructureInfo">
    </wsdl:input>
      <wsdl:output name="fetchFactStructureInfoResponse" message="tns:fetchFactStructureInfoResponse">
    </wsdl:output>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FactFinderServiceServiceSoapBinding" type="tns:FactFinderService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fetchAllFactsDisplayInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchAllFactsDisplayInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchAllFactsDisplayInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findFact">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findFact">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findFactResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchFactStructureInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchFactStructureInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchFactStructureInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FactFinderService">
    <wsdl:port name="FactFinderServicePort" binding="tns:FactFinderServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/FactFinderServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
