ks-cfg-dbs/ks-standalone-db/src/main/impex/data.dtd

<!ELEMENT dataset (
    KSAP_ATP|
    KSAP_ATP_ATTR|
    KSAP_ATP_DUR_TYPE|
    KSAP_ATP_DUR_TYPE_ATTR|
    KSAP_ATP_SEASONAL_TYPE|
    KSAP_ATP_SEASONAL_TYPE_ATTR|
    KSAP_ATP_TYPE|
    KSAP_ATP_TYPE_ATTR|
    KSAP_DT_RANGE|
    KSAP_DT_RANGE_ATTR|
    KSAP_DT_RANGE_TYPE|
    KSAP_DT_RANGE_TYPE_ATTR|
    KSAP_MLSTN|
    KSAP_MLSTN_ATTR|
    KSAP_MLSTN_TYPE|
    KSAP_MLSTN_TYPE_ATTR|
    KSAP_RICH_TEXT_T|
    KSCO_COMMENT|
    KSCO_COMMENT_ATTR|
    KSCO_COMMENT_TYPE|
    KSCO_COMMENT_TYPE_ATTR|
    KSCO_REFERENCE|
    KSCO_REFERENCE_TYPE|
    KSCO_REFERENCE_TYPE_ATTR|
    KSCO_RICH_TEXT_T|
    KSCO_TAG|
    KSCO_TAG_ATTR|
    KSCO_TAG_TYPE|
    KSCO_TAG_TYPE_ATTR|
    KSDO_DOCUMENT|
    KSDO_DOCUMENT_ATTR|
    KSDO_DOCUMENT_CATEGORY|
    KSDO_DOCUMENT_CATEGORY_ATTR|
    KSDO_DOCUMENT_JN_DOC_CATEGORY|
    KSDO_DOCUMENT_TYPE|
    KSDO_DOCUMENT_TYPE_ATTR|
    KSDO_REF_DOC_RELTN|
    KSDO_REF_DOC_RELTN_TYPE|
    KSDO_REF_DOC_RELTN_TYPE_ATTR|
    KSDO_REF_DOC_REL_ATTR|
    KSDO_REF_OBJ_SUB_TYPE|
    KSDO_REF_OBJ_SUB_TYPE_ATTR|
    KSDO_REF_OBJ_TYPE|
    KSDO_REF_OBJ_TYPE_ATTR|
    KSDO_REF_REL_TYP_JN_SUB_TYP|
    KSDO_RICH_TEXT_T|
    KSEM_CTX_JN_ENUM_VAL_T|
    KSEM_CTX_T|
    KSEM_ENUM_T|
    KSEM_ENUM_VAL_T|
    KSLO_ATTR|
    KSLO_LO|
    KSLO_LO_ALLOWED_RELTN_TYPE|
    KSLO_LO_CATEGORY|
    KSLO_LO_CATEGORY_ATTR|
    KSLO_LO_CATEGORY_TYPE|
    KSLO_LO_CATEGORY_TYPE_ATTR|
    KSLO_LO_JN_LOCATEGORY|
    KSLO_LO_RELTN|
    KSLO_LO_RELTN_ATTR|
    KSLO_LO_RELTN_TYPE|
    KSLO_LO_RELTN_TYPE_ATTR|
    KSLO_LO_REPOSITORY|
    KSLO_LO_REPOSITORY_ATTR|
    KSLO_LO_TYPE|
    KSLO_LO_TYPE_ATTR|
    KSLO_RICH_TEXT_T|
    KSLR_RESCOMP|
    KSLR_RESCOMP_ATTR|
    KSLR_RESCOMP_JN_RESVALUE|
    KSLR_RESCOMP_TYPE|
    KSLR_RESCOMP_TYPE_ATTR|
    KSLR_RESULT_VALUE|
    KSLR_RICH_TEXT_T|
    KSLR_SCALE|
    KSLR_SCALE_ATTR|
    KSLU_CLU|
    KSLU_CLUCLU_RELTN|
    KSLU_CLUCLU_RELTN_ATTR|
    KSLU_CLURES_JN_RESOPT|
    KSLU_CLU_ACCRED|
    KSLU_CLU_ACCRED_ATTR|
    KSLU_CLU_ACCT|
    KSLU_CLU_ACCT_ATTR|
    KSLU_CLU_ACCT_JN_AFFIL_ORG|
    KSLU_CLU_ADMIN_ORG|
    KSLU_CLU_ADMIN_ORG_ATTR|
    KSLU_CLU_AFFIL_ORG|
    KSLU_CLU_ATP_TYPE_KEY|
    KSLU_CLU_ATTR|
    KSLU_CLU_CR|
    KSLU_CLU_FEE|
    KSLU_CLU_FEEREC_JN_AFFIL_ORG|
    KSLU_CLU_FEE_AMOUNT|
    KSLU_CLU_FEE_ATTR|
    KSLU_CLU_FEE_JN_CLU_FEE_REC|
    KSLU_CLU_FEE_REC|
    KSLU_CLU_FEE_REC_ATTR|
    KSLU_CLU_IDENT|
    KSLU_CLU_INSTR|
    KSLU_CLU_INSTR_ATTR|
    KSLU_CLU_JN_ACCRED|
    KSLU_CLU_JN_CAMP_LOC|
    KSLU_CLU_JN_CLU_IDENT|
    KSLU_CLU_JN_CLU_INSTR|
    KSLU_CLU_JN_SUBJ_ORG|
    KSLU_CLU_LO_ALOW_RELTN_TYPE|
    KSLU_CLU_LO_RELTN|
    KSLU_CLU_LO_RELTN_ATTR|
    KSLU_CLU_LO_RELTN_TYPE|
    KSLU_CLU_LO_RELTN_TYPE_ATTR|
    KSLU_CLU_PUBL|
    KSLU_CLU_PUBL_ATTR|
    KSLU_CLU_PUBL_JN_CLU_INSTR|
    KSLU_CLU_PUBL_TYPE|
    KSLU_CLU_PUBL_TYPE_ATTR|
    KSLU_CLU_PUBL_VARI|
    KSLU_CLU_PUB_TYPE|
    KSLU_CLU_PUB_TYPE_ATTR|
    KSLU_CLU_RESULT_TYPE_ATTR|
    KSLU_CLU_RSLT|
    KSLU_CLU_RSLT_LU_ALOW_TYPE|
    KSLU_CLU_RSLT_TYP|
    KSLU_CLU_SET|
    KSLU_CLU_SET_ATTR|
    KSLU_CLU_SET_JN_CLU|
    KSLU_CLU_SET_JN_CLU_SET|
    KSLU_CLU_SET_TYPE|
    KSLU_CLU_SET_TYPE_ATTR|
    KSLU_DLVMTHD_TYPE|
    KSLU_DLVMTHD_TYPE_ATTR|
    KSLU_INSTFRMT_TYPE|
    KSLU_INSTFRMT_TYPE_ATTR|
    KSLU_LUI|
    KSLU_LUILUI_RELTN|
    KSLU_LUILUI_RELTN_ATTR|
    KSLU_LUI_ATTR|
    KSLU_LULU_RELTN_TYPE|
    KSLU_LULU_RELTN_TYPE_ATTR|
    KSLU_LULU_RELTN_TYPE_JN_LU_TYP|
    KSLU_LUTYPE|
    KSLU_LU_CD_TYPE|
    KSLU_LU_CD_TYPE_ATTR|
    KSLU_LU_CODE|
    KSLU_LU_CODE_ATTR|
    KSLU_LU_LU_ALOW_RELTN_TYPE|
    KSLU_LU_PUBL_TYPE|
    KSLU_LU_PUBL_TYPE_ATTR|
    KSLU_LU_TYPE_ATTR|
    KSLU_MEMSHIP|
    KSLU_MEMSHIP_KSLU_SPARAM|
    KSLU_RICH_TEXT_T|
    KSLU_RSLTUSAGE_LU_ALOW_TYPE|
    KSLU_RSLT_COMP_USG_ALOW_TYPE|
    KSLU_RSLT_OPT|
    KSLU_RSLT_USG_TYPE|
    KSLU_RSLT_USG_TYPE_ATTR|
    KSLU_RSRC|
    KSLU_SPARAM|
    KSLU_SPARAM_KSLU_SPVALUE|
    KSLU_SPVALUE|
    KSMG_MESSAGE|
    KSOR_ORG|
    KSOR_ORG_ATTR|
    KSOR_ORG_HIRCHY|
    KSOR_ORG_HIRCHY_ATTR|
    KSOR_ORG_HIRCHY_JN_ORG_TYPE|
    KSOR_ORG_JN_ORG_PERS_REL_TYPE|
    KSOR_ORG_ORG_RELTN|
    KSOR_ORG_ORG_RELTN_ATTR|
    KSOR_ORG_ORG_RELTN_TYPE|
    KSOR_ORG_ORG_RELTN_TYPE_ATTR|
    KSOR_ORG_PERS_RELTN|
    KSOR_ORG_PERS_RELTN_ATTR|
    KSOR_ORG_PERS_RELTN_TYPE|
    KSOR_ORG_PERS_RELTN_TYPE_ATTR|
    KSOR_ORG_POS_RESTR|
    KSOR_ORG_POS_RESTR_ATTR|
    KSOR_ORG_TYPE|
    KSOR_ORG_TYPE_ATTR|
    KSOR_ORG_TYPE_JN_ORG_PERRL_TYP|
    KSPR_PROPOSAL|
    KSPR_PROPOSAL_ATTR|
    KSPR_PROPOSAL_JN_ORG|
    KSPR_PROPOSAL_JN_PERSON|
    KSPR_PROPOSAL_JN_REFERENCE|
    KSPR_PROPOSAL_REFERENCE|
    KSPR_PROPOSAL_REFTYPE|
    KSPR_PROPOSAL_REFTYPE_ATTR|
    KSPR_PROPOSAL_TYPE|
    KSPR_PROPOSAL_TYPE_ATTR|
    KSPR_RICH_TEXT_T|
    KSST_NL_USAGE_TYPE|
    KSST_OBJECT_SUB_TYPE|
    KSST_OBJECT_SUB_TYPE_ATTR|
    KSST_OBJECT_TYPE|
    KSST_OBJECT_TYPE_ATTR|
    KSST_OBJ_TYP_JN_OBJ_SUB_TYP|
    KSST_RCTYP_JN_RCFLDTYP|
    KSST_RC_JN_RC_FIELD|
    KSST_REF_STMT_REL|
    KSST_REF_STMT_REL_ATTR|
    KSST_REF_STMT_REL_TYPE|
    KSST_REF_STMT_REL_TYPE_ATTR|
    KSST_REQ_COM|
    KSST_REQ_COM_FIELD|
    KSST_REQ_COM_FIELD_TYPE|
    KSST_REQ_COM_TYPE|
    KSST_REQ_COM_TYPE_ATTR|
    KSST_REQ_COM_TYPE_NL_TMPL|
    KSST_RICH_TEXT_T|
    KSST_RSTMT_RTYP_JN_OSUB_TYP|
    KSST_RSTMT_RTYP_JN_STMT_TYP|
    KSST_STMT|
    KSST_STMT_ATTR|
    KSST_STMT_JN_REQ_COM|
    KSST_STMT_JN_STMT|
    KSST_STMT_TYPE|
    KSST_STMT_TYPE_ATTR|
    KSST_STMT_TYP_JN_RC_TYP|
    KSST_STMT_TYP_JN_STMT_TYP|
    KSST_USAGE_TYPE_ATTR|
    KS_DB_VERSION)*>
<!ELEMENT KSAP_ATP EMPTY>
<!ATTLIST KSAP_ATP
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    START_DT CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_ATTR EMPTY>
<!ATTLIST KSAP_ATP_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_DUR_TYPE EMPTY>
<!ATTLIST KSAP_ATP_DUR_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_DUR_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_ATP_DUR_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_SEASONAL_TYPE EMPTY>
<!ATTLIST KSAP_ATP_SEASONAL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_SEASONAL_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_ATP_SEASONAL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_TYPE EMPTY>
<!ATTLIST KSAP_ATP_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    DUR_TYPE CDATA #IMPLIED
    SEASONAL_TYPE CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_ATP_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_DT_RANGE EMPTY>
<!ATTLIST KSAP_DT_RANGE
    DATERANGE_KEY CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    START_DT CDATA #IMPLIED
    STATE CDATA #IMPLIED
    ATP_ID CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    DT_RANGE_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSAP_DT_RANGE_ATTR EMPTY>
<!ATTLIST KSAP_DT_RANGE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_DT_RANGE_TYPE EMPTY>
<!ATTLIST KSAP_DT_RANGE_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_DT_RANGE_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_DT_RANGE_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_MLSTN EMPTY>
<!ATTLIST KSAP_MLSTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    MLSTN_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    ATP_ID CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    MLSTN_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSAP_MLSTN_ATTR EMPTY>
<!ATTLIST KSAP_MLSTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_MLSTN_TYPE EMPTY>
<!ATTLIST KSAP_MLSTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_MLSTN_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_MLSTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSAP_RICH_TEXT_T EMPTY>
<!ATTLIST KSAP_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_COMMENT EMPTY>
<!ATTLIST KSCO_COMMENT
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    REFERENCE CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSCO_COMMENT_ATTR EMPTY>
<!ATTLIST KSCO_COMMENT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_COMMENT_TYPE EMPTY>
<!ATTLIST KSCO_COMMENT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_COMMENT_TYPE_ATTR EMPTY>
<!ATTLIST KSCO_COMMENT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_REFERENCE EMPTY>
<!ATTLIST KSCO_REFERENCE
    ID CDATA #IMPLIED
    REFERENCE_ID CDATA #IMPLIED
    REFERENCE_TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_REFERENCE_TYPE EMPTY>
<!ATTLIST KSCO_REFERENCE_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_REFERENCE_TYPE_ATTR EMPTY>
<!ATTLIST KSCO_REFERENCE_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_RICH_TEXT_T EMPTY>
<!ATTLIST KSCO_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_TAG EMPTY>
<!ATTLIST KSCO_TAG
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME_SPACE CDATA #IMPLIED
    PREDICATE CDATA #IMPLIED
    STATE CDATA #IMPLIED
    VAL CDATA #IMPLIED
    REFERENCE CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSCO_TAG_ATTR EMPTY>
<!ATTLIST KSCO_TAG_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_TAG_TYPE EMPTY>
<!ATTLIST KSCO_TAG_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSCO_TAG_TYPE_ATTR EMPTY>
<!ATTLIST KSCO_TAG_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT EMPTY>
<!ATTLIST KSDO_DOCUMENT
    DOC_ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    DOCUMENT CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    FILE_NAME CDATA #IMPLIED
    NAME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_ATTR EMPTY>
<!ATTLIST KSDO_DOCUMENT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_CATEGORY EMPTY>
<!ATTLIST KSDO_DOCUMENT_CATEGORY
    CATEGORY_ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_CATEGORY_ATTR EMPTY>
<!ATTLIST KSDO_DOCUMENT_CATEGORY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_JN_DOC_CATEGORY EMPTY>
<!ATTLIST KSDO_DOCUMENT_JN_DOC_CATEGORY
    DOC_ID CDATA #REQUIRED
    CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT KSDO_DOCUMENT_TYPE EMPTY>
<!ATTLIST KSDO_DOCUMENT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_TYPE_ATTR EMPTY>
<!ATTLIST KSDO_DOCUMENT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_REF_DOC_RELTN EMPTY>
<!ATTLIST KSDO_REF_DOC_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    REF_OBJ_ID CDATA #IMPLIED
    ST CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    DOC_ID CDATA #IMPLIED
    TYPE_KEY CDATA #IMPLIED
    REF_OBJ_TYPE_KEY CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSDO_REF_DOC_RELTN_TYPE EMPTY>
<!ATTLIST KSDO_REF_DOC_RELTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_REF_DOC_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSDO_REF_DOC_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_REF_DOC_REL_ATTR EMPTY>
<!ATTLIST KSDO_REF_DOC_REL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_REF_OBJ_SUB_TYPE EMPTY>
<!ATTLIST KSDO_REF_OBJ_SUB_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    REF_OBJ_TYPE_KEY CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_REF_OBJ_SUB_TYPE_ATTR EMPTY>
<!ATTLIST KSDO_REF_OBJ_SUB_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_REF_OBJ_TYPE EMPTY>
<!ATTLIST KSDO_REF_OBJ_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_REF_OBJ_TYPE_ATTR EMPTY>
<!ATTLIST KSDO_REF_OBJ_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSDO_REF_REL_TYP_JN_SUB_TYP EMPTY>
<!ATTLIST KSDO_REF_REL_TYP_JN_SUB_TYP
    REF_DOC_RELTN_TYPE_KEY CDATA #REQUIRED
    REF_OBJ_SUB_TYPE_KEY CDATA #REQUIRED
>

<!ELEMENT KSDO_RICH_TEXT_T EMPTY>
<!ATTLIST KSDO_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSEM_CTX_JN_ENUM_VAL_T EMPTY>
<!ATTLIST KSEM_CTX_JN_ENUM_VAL_T
    ENUM_VAL_ID CDATA #REQUIRED
    CTX_ID CDATA #REQUIRED
>

<!ELEMENT KSEM_CTX_T EMPTY>
<!ATTLIST KSEM_CTX_T
    ID CDATA #IMPLIED
    CTX_KEY CDATA #IMPLIED
    CTX_VAL CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSEM_ENUM_T EMPTY>
<!ATTLIST KSEM_ENUM_T
    ENUM_KEY CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSEM_ENUM_VAL_T EMPTY>
<!ATTLIST KSEM_ENUM_VAL_T
    ID CDATA #IMPLIED
    ABBREV_VAL CDATA #IMPLIED
    CD CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    SORT_KEY CDATA #IMPLIED
    VAL CDATA #IMPLIED
    ENUM_KEY CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLO_ATTR EMPTY>
<!ATTLIST KSLO_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLO_LO EMPTY>
<!ATTLIST KSLO_LO
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    LO_REPO_ID CDATA #IMPLIED
    LOTYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_ALLOWED_RELTN_TYPE EMPTY>
<!ATTLIST KSLO_LO_ALLOWED_RELTN_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LO_TYPE_ID CDATA #IMPLIED
    LO_REL_TYPE_ID CDATA #IMPLIED
    LOLO_RELTN_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_CATEGORY EMPTY>
<!ATTLIST KSLO_LO_CATEGORY
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    LO_CATEGORY_TYPE_ID CDATA #IMPLIED
    LO_REPO_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_CATEGORY_ATTR EMPTY>
<!ATTLIST KSLO_LO_CATEGORY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_CATEGORY_TYPE EMPTY>
<!ATTLIST KSLO_LO_CATEGORY_TYPE
    ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TYPE_KEY CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_CATEGORY_TYPE_ATTR EMPTY>
<!ATTLIST KSLO_LO_CATEGORY_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_JN_LOCATEGORY EMPTY>
<!ATTLIST KSLO_LO_JN_LOCATEGORY
    ID CDATA #IMPLIED
    LO_ID CDATA #IMPLIED
    LOCATEGORY_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_RELTN EMPTY>
<!ATTLIST KSLO_LO_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    LO_ID CDATA #IMPLIED
    LO_LO_RELATION_TYPE_ID CDATA #IMPLIED
    RELATED_LO_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_RELTN_ATTR EMPTY>
<!ATTLIST KSLO_LO_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_RELTN_TYPE EMPTY>
<!ATTLIST KSLO_LO_RELTN_TYPE
    ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    REV_DESCR CDATA #IMPLIED
    REV_NAME CDATA #IMPLIED
    TYPE_KEY CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSLO_LO_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_REPOSITORY EMPTY>
<!ATTLIST KSLO_LO_REPOSITORY
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    LO_ROOT_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_REPOSITORY_ATTR EMPTY>
<!ATTLIST KSLO_LO_REPOSITORY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_TYPE EMPTY>
<!ATTLIST KSLO_LO_TYPE
    ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TYPE_KEY CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
>

<!ELEMENT KSLO_LO_TYPE_ATTR EMPTY>
<!ATTLIST KSLO_LO_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLO_RICH_TEXT_T EMPTY>
<!ATTLIST KSLO_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLR_RESCOMP EMPTY>
<!ATTLIST KSLR_RESCOMP
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLR_RESCOMP_ATTR EMPTY>
<!ATTLIST KSLR_RESCOMP_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLR_RESCOMP_JN_RESVALUE EMPTY>
<!ATTLIST KSLR_RESCOMP_JN_RESVALUE
    COMPONENT_ID CDATA #REQUIRED
    RESULT_ID CDATA #REQUIRED
>

<!ELEMENT KSLR_RESCOMP_TYPE EMPTY>
<!ATTLIST KSLR_RESCOMP_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLR_RESCOMP_TYPE_ATTR EMPTY>
<!ATTLIST KSLR_RESCOMP_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLR_RESULT_VALUE EMPTY>
<!ATTLIST KSLR_RESULT_VALUE
    ID CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    RSLT_COMP_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLR_RICH_TEXT_T EMPTY>
<!ATTLIST KSLR_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLR_SCALE EMPTY>
<!ATTLIST KSLR_SCALE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLR_SCALE_ATTR EMPTY>
<!ATTLIST KSLR_SCALE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU EMPTY>
<!ATTLIST KSLU_CLU
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    CURR_VER_END CDATA #IMPLIED
    CURR_VER_START CDATA #IMPLIED
    SEQ_NUM CDATA #IMPLIED
    VER_CMT CDATA #IMPLIED
    VER_IND_ID CDATA #IMPLIED
    VER_FROM_ID CDATA #IMPLIED
    CAN_CREATE_LUI CDATA #IMPLIED
    DEF_ENRL_EST CDATA #IMPLIED
    DEF_MAX_ENRL CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXP_FIRST_ATP CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    HAS_EARLY_DROP_DEDLN CDATA #IMPLIED
    CLU_INTSTY_QTY CDATA #IMPLIED
    CLU_INTSTY_TYPE CDATA #IMPLIED
    IS_ENRL CDATA #IMPLIED
    IS_HAZR_DISBLD_STU CDATA #IMPLIED
    LAST_ADMIT_ATP CDATA #IMPLIED
    LAST_ATP CDATA #IMPLIED
    NEXT_REVIEW_PRD CDATA #IMPLIED
    REF_URL CDATA #IMPLIED
    ST CDATA #IMPLIED
    ATP_DUR_TYP_KEY CDATA #IMPLIED
    TM_QUANTITY CDATA #IMPLIED
    STDY_SUBJ_AREA CDATA #IMPLIED
    ACCT_ID CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    FEE_ID CDATA #IMPLIED
    LUTYPE_ID CDATA #IMPLIED
    OFFIC_CLU_ID CDATA #IMPLIED
    PRI_INSTR_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLUCLU_RELTN EMPTY>
<!ATTLIST KSLU_CLUCLU_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    CLU_RELTN_REQ CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    LU_RELTN_TYPE_ID CDATA #IMPLIED
    RELATED_CLU_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLUCLU_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_CLUCLU_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLURES_JN_RESOPT EMPTY>
<!ATTLIST KSLU_CLURES_JN_RESOPT
    CLU_RES_ID CDATA #REQUIRED
    RES_OPT_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_ACCRED EMPTY>
<!ATTLIST KSLU_CLU_ACCRED
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCRED_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ACCRED_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCT EMPTY>
<!ATTLIST KSLU_CLU_ACCT
    ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCT_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ACCT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCT_JN_AFFIL_ORG EMPTY>
<!ATTLIST KSLU_CLU_ACCT_JN_AFFIL_ORG
    CLU_ACCT_ID CDATA #REQUIRED
    AFFIL_ORG_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_ADMIN_ORG EMPTY>
<!ATTLIST KSLU_CLU_ADMIN_ORG
    ID CDATA #IMPLIED
    IS_PR CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ADMIN_ORG_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ADMIN_ORG_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_AFFIL_ORG EMPTY>
<!ATTLIST KSLU_CLU_AFFIL_ORG
    ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    PERCT CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ATP_TYPE_KEY EMPTY>
<!ATTLIST KSLU_CLU_ATP_TYPE_KEY
    ID CDATA #IMPLIED
    ATP_TYPE_KEY CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_CR EMPTY>
<!ATTLIST KSLU_CLU_CR
    ID CDATA #IMPLIED
    INSTR_UNIT CDATA #IMPLIED
    MAX_ALOW_INACV_ATP CDATA #IMPLIED
    MAX_ALOW_INACV_TMQ CDATA #IMPLIED
    MAX_TM_RSLT_RCGZ_ATP CDATA #IMPLIED
    MAX_TM_RSLT_RCGZ_TMQ CDATA #IMPLIED
    MAX_TM_TO_COMP_ATP CDATA #IMPLIED
    MAX_TM_TO_COMP_TMQ CDATA #IMPLIED
    MAX_TOT_UNIT CDATA #IMPLIED
    MIN_TM_TO_COMP_ATP CDATA #IMPLIED
    MIN_TM_TO_COMP_TMQ CDATA #IMPLIED
    MIN_TOT_UNIT CDATA #IMPLIED
    REPEAT_CNT CDATA #IMPLIED
    REPEAT_TM_ATP CDATA #IMPLIED
    REPEAT_TM_TMQ CDATA #IMPLIED
    REPEAT_UNIT CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEE EMPTY>
<!ATTLIST KSLU_CLU_FEE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    RT_DESCR_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEEREC_JN_AFFIL_ORG EMPTY>
<!ATTLIST KSLU_CLU_FEEREC_JN_AFFIL_ORG
    CLU_FEE_REC_ID CDATA #REQUIRED
    AFFIL_ORG_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_FEE_AMOUNT EMPTY>
<!ATTLIST KSLU_CLU_FEE_AMOUNT
    ID CDATA #IMPLIED
    CURRENCY_QUANT CDATA #IMPLIED
    CURRENCY_TYPE CDATA #IMPLIED
    CLUE_FEE_REC_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_FEE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEE_JN_CLU_FEE_REC EMPTY>
<!ATTLIST KSLU_CLU_FEE_JN_CLU_FEE_REC
    CLU_FEE_ID CDATA #REQUIRED
    CLU_FEE_REC_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_FEE_REC EMPTY>
<!ATTLIST KSLU_CLU_FEE_REC
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    FEE_TYPE CDATA #IMPLIED
    RATE_TYPE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEE_REC_ATTR EMPTY>
<!ATTLIST KSLU_CLU_FEE_REC_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_IDENT EMPTY>
<!ATTLIST KSLU_CLU_IDENT
    ID CDATA #IMPLIED
    CD CDATA #IMPLIED
    DIVISION CDATA #IMPLIED
    LVL CDATA #IMPLIED
    LNG_NAME CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    SHRT_NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    SUFX_CD CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    VARTN CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_INSTR EMPTY>
<!ATTLIST KSLU_CLU_INSTR
    ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    PERS_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_INSTR_ATTR EMPTY>
<!ATTLIST KSLU_CLU_INSTR_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_JN_ACCRED EMPTY>
<!ATTLIST KSLU_CLU_JN_ACCRED
    CLU_ID CDATA #REQUIRED
    CLU_ACCRED_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_CAMP_LOC EMPTY>
<!ATTLIST KSLU_CLU_JN_CAMP_LOC
    ID CDATA #IMPLIED
    CAMP_LOC CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_JN_CLU_IDENT EMPTY>
<!ATTLIST KSLU_CLU_JN_CLU_IDENT
    CLU_ID CDATA #REQUIRED
    ALT_CLU_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_CLU_INSTR EMPTY>
<!ATTLIST KSLU_CLU_JN_CLU_INSTR
    CLU_ID CDATA #REQUIRED
    CLU_INSTR_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_SUBJ_ORG EMPTY>
<!ATTLIST KSLU_CLU_JN_SUBJ_ORG
    ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_ALOW_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_CLU_LO_ALOW_RELTN_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LO_TYPE_ID CDATA #IMPLIED
    CLULO_RELTN_TYPE_ID CDATA #IMPLIED
    LU_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_RELTN EMPTY>
<!ATTLIST KSLU_CLU_LO_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LO_ID CDATA #IMPLIED
    ST CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_CLU_LO_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_CLU_LO_RELTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_LO_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL EMPTY>
<!ATTLIST KSLU_CLU_PUBL
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    END_CYCLE CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    START_CYCLE CDATA #IMPLIED
    ST CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    CLU_PUB_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL_ATTR EMPTY>
<!ATTLIST KSLU_CLU_PUBL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL_JN_CLU_INSTR EMPTY>
<!ATTLIST KSLU_CLU_PUBL_JN_CLU_INSTR
    CLU_PUBL_ID CDATA #REQUIRED
    CLU_INSTR_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_PUBL_TYPE EMPTY>
<!ATTLIST KSLU_CLU_PUBL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_PUBL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL_VARI EMPTY>
<!ATTLIST KSLU_CLU_PUBL_VARI
    ID CDATA #IMPLIED
    VARI_KEY CDATA #IMPLIED
    VARI_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUB_TYPE EMPTY>
<!ATTLIST KSLU_CLU_PUB_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUB_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_PUB_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_RESULT_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_RESULT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_RSLT EMPTY>
<!ATTLIST KSLU_CLU_RSLT
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    TYPE_KEY_ID CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_RSLT_LU_ALOW_TYPE EMPTY>
<!ATTLIST KSLU_CLU_RSLT_LU_ALOW_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    CLU_RSLT_TYPE_ID CDATA #IMPLIED
    LU_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_RSLT_TYP EMPTY>
<!ATTLIST KSLU_CLU_RSLT_TYP
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET EMPTY>
<!ATTLIST KSLU_CLU_SET
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    ADMIN_ORG_ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    REFERENCEABLE CDATA #IMPLIED
    REUSABLE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    MEM_QUERY_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET_ATTR EMPTY>
<!ATTLIST KSLU_CLU_SET_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET_JN_CLU EMPTY>
<!ATTLIST KSLU_CLU_SET_JN_CLU
    CLU_SET_ID CDATA #REQUIRED
    CLU_VER_IND_ID CDATA #REQUIRED
    ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET_JN_CLU_SET EMPTY>
<!ATTLIST KSLU_CLU_SET_JN_CLU_SET
    CLU_SET_PARENT_ID CDATA #REQUIRED
    CLU_SET_CHILD_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_SET_TYPE EMPTY>
<!ATTLIST KSLU_CLU_SET_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_SET_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_DLVMTHD_TYPE EMPTY>
<!ATTLIST KSLU_DLVMTHD_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_DLVMTHD_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_DLVMTHD_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_INSTFRMT_TYPE EMPTY>
<!ATTLIST KSLU_INSTFRMT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_INSTFRMT_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_INSTFRMT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LUI EMPTY>
<!ATTLIST KSLU_LUI
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    ATP_ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXP_DT CDATA #IMPLIED
    LUI_CODE CDATA #IMPLIED
    MAX_SEATS CDATA #IMPLIED
    ST CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LUILUI_RELTN EMPTY>
<!ATTLIST KSLU_LUILUI_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    LULU_RELTN_TYPE_ID CDATA #IMPLIED
    LUI_ID CDATA #IMPLIED
    RELATED_LUI_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LUILUI_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_LUILUI_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LUI_ATTR EMPTY>
<!ATTLIST KSLU_LUI_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LULU_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_LULU_RELTN_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    REV_DESC CDATA #IMPLIED
    REV_NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LULU_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LULU_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LULU_RELTN_TYPE_JN_LU_TYP EMPTY>
<!ATTLIST KSLU_LULU_RELTN_TYPE_JN_LU_TYP
    LULU_RELTN_TYPE_ID CDATA #REQUIRED
    LU_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_LUTYPE EMPTY>
<!ATTLIST KSLU_LUTYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    DLVR_MTHD CDATA #IMPLIED
    INSTR_FRMT CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CD_TYPE EMPTY>
<!ATTLIST KSLU_LU_CD_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CD_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LU_CD_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CODE EMPTY>
<!ATTLIST KSLU_LU_CODE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CODE_ATTR EMPTY>
<!ATTLIST KSLU_LU_CODE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_LU_ALOW_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_LU_LU_ALOW_RELTN_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LU_TYPE_ID CDATA #IMPLIED
    LU_REL_TYPE_ID CDATA #IMPLIED
    LU_LU_RELTN_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_PUBL_TYPE EMPTY>
<!ATTLIST KSLU_LU_PUBL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_PUBL_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LU_PUBL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LU_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_MEMSHIP EMPTY>
<!ATTLIST KSLU_MEMSHIP
    ID CDATA #IMPLIED
    SEARCH_TYPE_KEY CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_MEMSHIP_KSLU_SPARAM EMPTY>
<!ATTLIST KSLU_MEMSHIP_KSLU_SPARAM
    KSLU_MEMSHIP_ID CDATA #REQUIRED
    SEARCHPARAMETERS_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_RICH_TEXT_T EMPTY>
<!ATTLIST KSLU_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLTUSAGE_LU_ALOW_TYPE EMPTY>
<!ATTLIST KSLU_RSLTUSAGE_LU_ALOW_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LU_TYPE_ID CDATA #IMPLIED
    CLU_RSLT_USAGE_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLT_COMP_USG_ALOW_TYPE EMPTY>
<!ATTLIST KSLU_RSLT_COMP_USG_ALOW_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    RSLT_COMP_ID CDATA #IMPLIED
    RSLT_USG_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLT_OPT EMPTY>
<!ATTLIST KSLU_RSLT_OPT
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    RES_COMP_ID CDATA #IMPLIED
    ST CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    RES_USAGE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLT_USG_TYPE EMPTY>
<!ATTLIST KSLU_RSLT_USG_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLT_USG_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_RSLT_USG_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_RSRC EMPTY>
<!ATTLIST KSLU_RSRC
    ID CDATA #IMPLIED
    RSRC_TYPE_ID CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_SPARAM EMPTY>
<!ATTLIST KSLU_SPARAM
    ID CDATA #IMPLIED
    SEARCH_PARAM_KEY CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSLU_SPARAM_KSLU_SPVALUE EMPTY>
<!ATTLIST KSLU_SPARAM_KSLU_SPVALUE
    KSLU_SPARAM_ID CDATA #REQUIRED
    VALUES_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_SPVALUE EMPTY>
<!ATTLIST KSLU_SPVALUE
    ID CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSMG_MESSAGE EMPTY>
<!ATTLIST KSMG_MESSAGE
    ID CDATA #IMPLIED
    MSG_ID CDATA #IMPLIED
    LOCALE CDATA #IMPLIED
    GRP_NAME CDATA #IMPLIED
    MSG_VALUE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG EMPTY>
<!ATTLIST KSOR_ORG
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LNG_DESCR CDATA #IMPLIED
    LNG_NAME CDATA #IMPLIED
    SHRT_DESCR CDATA #IMPLIED
    SHRT_NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_ATTR EMPTY>
<!ATTLIST KSOR_ORG_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_HIRCHY EMPTY>
<!ATTLIST KSOR_ORG_HIRCHY
    ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ROOT_ORG CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_HIRCHY_ATTR EMPTY>
<!ATTLIST KSOR_ORG_HIRCHY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_HIRCHY_JN_ORG_TYPE EMPTY>
<!ATTLIST KSOR_ORG_HIRCHY_JN_ORG_TYPE
    ORG_HIRCHY_ID CDATA #REQUIRED
    ORG_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSOR_ORG_JN_ORG_PERS_REL_TYPE EMPTY>
<!ATTLIST KSOR_ORG_JN_ORG_PERS_REL_TYPE
    ORG_ID CDATA #REQUIRED
    ORG_PERS_RELTN_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSOR_ORG_ORG_RELTN EMPTY>
<!ATTLIST KSOR_ORG_ORG_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    ORG CDATA #IMPLIED
    RELATED_ORG CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_ORG_RELTN_ATTR EMPTY>
<!ATTLIST KSOR_ORG_ORG_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_ORG_RELTN_TYPE EMPTY>
<!ATTLIST KSOR_ORG_ORG_RELTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    REV_DESCR CDATA #IMPLIED
    REV_NAME CDATA #IMPLIED
    ORG_HIRCHY CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_ORG_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSOR_ORG_ORG_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_PERS_RELTN EMPTY>
<!ATTLIST KSOR_ORG_PERS_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    PERS_ID CDATA #IMPLIED
    ST CDATA #IMPLIED
    ORG CDATA #IMPLIED
    ORG_PERS_RELTN_TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_PERS_RELTN_ATTR EMPTY>
<!ATTLIST KSOR_ORG_PERS_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_PERS_RELTN_TYPE EMPTY>
<!ATTLIST KSOR_ORG_PERS_RELTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_PERS_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSOR_ORG_PERS_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_POS_RESTR EMPTY>
<!ATTLIST KSOR_ORG_POS_RESTR
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    MAX_NUM_RELTN CDATA #IMPLIED
    MIN_NUM_RELTN CDATA #IMPLIED
    ATP_DUR_TYP_KEY CDATA #IMPLIED
    TM_QUANTITY CDATA #IMPLIED
    TTL CDATA #IMPLIED
    ORG CDATA #IMPLIED
    PERS_RELTN_TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_POS_RESTR_ATTR EMPTY>
<!ATTLIST KSOR_ORG_POS_RESTR_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_TYPE EMPTY>
<!ATTLIST KSOR_ORG_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_TYPE_ATTR EMPTY>
<!ATTLIST KSOR_ORG_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_TYPE_JN_ORG_PERRL_TYP EMPTY>
<!ATTLIST KSOR_ORG_TYPE_JN_ORG_PERRL_TYP
    ORG_TYPE_ID CDATA #REQUIRED
    ORG_PERS_RELTN_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSPR_PROPOSAL EMPTY>
<!ATTLIST KSPR_PROPOSAL
    PROPOSAL_ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    DETAIL_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RATIONALE CDATA #IMPLIED
    STATE CDATA #IMPLIED
    WORKFLOW_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_ATTR EMPTY>
<!ATTLIST KSPR_PROPOSAL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_JN_ORG EMPTY>
<!ATTLIST KSPR_PROPOSAL_JN_ORG
    ORGREF_ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    PROPOSAL_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_JN_PERSON EMPTY>
<!ATTLIST KSPR_PROPOSAL_JN_PERSON
    ID CDATA #IMPLIED
    PERSONREF_ID CDATA #IMPLIED
    PROPOSAL_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_JN_REFERENCE EMPTY>
<!ATTLIST KSPR_PROPOSAL_JN_REFERENCE
    PROPOSAL_ID CDATA #REQUIRED
    REFERENCE_ID CDATA #REQUIRED
>

<!ELEMENT KSPR_PROPOSAL_REFERENCE EMPTY>
<!ATTLIST KSPR_PROPOSAL_REFERENCE
    REFERENCE_ID CDATA #IMPLIED
    OBJECT_REFERENCE_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_REFTYPE EMPTY>
<!ATTLIST KSPR_PROPOSAL_REFTYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_REFTYPE_ATTR EMPTY>
<!ATTLIST KSPR_PROPOSAL_REFTYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_TYPE EMPTY>
<!ATTLIST KSPR_PROPOSAL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_TYPE_ATTR EMPTY>
<!ATTLIST KSPR_PROPOSAL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSPR_RICH_TEXT_T EMPTY>
<!ATTLIST KSPR_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_NL_USAGE_TYPE EMPTY>
<!ATTLIST KSST_NL_USAGE_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_OBJECT_SUB_TYPE EMPTY>
<!ATTLIST KSST_OBJECT_SUB_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_OBJECT_SUB_TYPE_ATTR EMPTY>
<!ATTLIST KSST_OBJECT_SUB_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_OBJECT_TYPE EMPTY>
<!ATTLIST KSST_OBJECT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_OBJECT_TYPE_ATTR EMPTY>
<!ATTLIST KSST_OBJECT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_OBJ_TYP_JN_OBJ_SUB_TYP EMPTY>
<!ATTLIST KSST_OBJ_TYP_JN_OBJ_SUB_TYP
    OBJ_TYPE_ID CDATA #REQUIRED
    OBJ_SUB_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_RCTYP_JN_RCFLDTYP EMPTY>
<!ATTLIST KSST_RCTYP_JN_RCFLDTYP
    REQ_COMP_TYPE_ID CDATA #REQUIRED
    REQ_COMP_FIELD_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_RC_JN_RC_FIELD EMPTY>
<!ATTLIST KSST_RC_JN_RC_FIELD
    REQ_COM_ID CDATA #REQUIRED
    REQ_COM_FIELD_ID CDATA #REQUIRED
>

<!ELEMENT KSST_REF_STMT_REL EMPTY>
<!ATTLIST KSST_REF_STMT_REL
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    REF_OBJ_ID CDATA #IMPLIED
    REF_OBJ_TYPE_KEY CDATA #IMPLIED
    ST CDATA #IMPLIED
    REF_STMT_REL_TYPE_ID CDATA #IMPLIED
    STMT_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSST_REF_STMT_REL_ATTR EMPTY>
<!ATTLIST KSST_REF_STMT_REL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_REF_STMT_REL_TYPE EMPTY>
<!ATTLIST KSST_REF_STMT_REL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_REF_STMT_REL_TYPE_ATTR EMPTY>
<!ATTLIST KSST_REF_STMT_REL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM EMPTY>
<!ATTLIST KSST_REQ_COM
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    REQ_COM_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_FIELD EMPTY>
<!ATTLIST KSST_REQ_COM_FIELD
    ID CDATA #IMPLIED
    REQ_COM_FIELD_TYPE CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_FIELD_TYPE EMPTY>
<!ATTLIST KSST_REQ_COM_FIELD_TYPE
    ID CDATA #IMPLIED
    DATA_TYPE CDATA #REQUIRED
    DESCR CDATA #REQUIRED
    INVALID_CHARS CDATA #IMPLIED
    MAX_LENGTH CDATA #IMPLIED
    MAX_OCCURS CDATA #IMPLIED
    MAX_VALUE CDATA #IMPLIED
    MIN_LENGTH CDATA #IMPLIED
    MIN_OCCURS CDATA #IMPLIED
    MIN_VALUE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    READ_ONLY CDATA #REQUIRED
    VALID_CHARS CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_TYPE EMPTY>
<!ATTLIST KSST_REQ_COM_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_TYPE_ATTR EMPTY>
<!ATTLIST KSST_REQ_COM_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_TYPE_NL_TMPL EMPTY>
<!ATTLIST KSST_REQ_COM_TYPE_NL_TMPL
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    LANGUAGE CDATA #IMPLIED
    NL_USUAGE_TYPE_KEY CDATA #IMPLIED
    TEMPLATE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_RICH_TEXT_T EMPTY>
<!ATTLIST KSST_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_RSTMT_RTYP_JN_OSUB_TYP EMPTY>
<!ATTLIST KSST_RSTMT_RTYP_JN_OSUB_TYP
    REF_STMT_REL_TYPE_ID CDATA #REQUIRED
    OBJ_SUB_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_RSTMT_RTYP_JN_STMT_TYP EMPTY>
<!ATTLIST KSST_RSTMT_RTYP_JN_STMT_TYP
    REF_STMT_REL_TYPE_ID CDATA #REQUIRED
    STMT_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_STMT EMPTY>
<!ATTLIST KSST_STMT
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VER_NBR CDATA #REQUIRED
    NAME CDATA #IMPLIED
    OPERATOR CDATA #IMPLIED
    ST CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    STMT_TYPE_ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
>

<!ELEMENT KSST_STMT_ATTR EMPTY>
<!ATTLIST KSST_STMT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_STMT_JN_REQ_COM EMPTY>
<!ATTLIST KSST_STMT_JN_REQ_COM
    STMT_ID CDATA #REQUIRED
    REQ_COM_ID CDATA #REQUIRED
>

<!ELEMENT KSST_STMT_JN_STMT EMPTY>
<!ATTLIST KSST_STMT_JN_STMT
    STMT_ID CDATA #REQUIRED
    CHLD_STMT_ID CDATA #REQUIRED
>

<!ELEMENT KSST_STMT_TYPE EMPTY>
<!ATTLIST KSST_STMT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_STMT_TYPE_ATTR EMPTY>
<!ATTLIST KSST_STMT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KSST_STMT_TYP_JN_RC_TYP EMPTY>
<!ATTLIST KSST_STMT_TYP_JN_RC_TYP
    ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    REQ_COM_TYPE_ID CDATA #IMPLIED
    SORT_ORDER CDATA #IMPLIED
    STMT_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSST_STMT_TYP_JN_STMT_TYP EMPTY>
<!ATTLIST KSST_STMT_TYP_JN_STMT_TYP
    ID CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
    CHLD_STMT_TYPE_ID CDATA #IMPLIED
    SORT_ORDER CDATA #IMPLIED
    STMT_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSST_USAGE_TYPE_ATTR EMPTY>
<!ATTLIST KSST_USAGE_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    OBJ_ID CDATA #IMPLIED
    VER_NBR CDATA #IMPLIED
>

<!ELEMENT KS_DB_VERSION EMPTY>
<!ATTLIST KS_DB_VERSION
    VERSION CDATA #IMPLIED
    BUILD_ID CDATA #IMPLIED
    BUILD_TIME CDATA #IMPLIED
>

