rule-management-api/src/main/resources/wsdl/RulesManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://student.kuali.org/wsdl/brms/RulesManagement" name="RulesManagementService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/brms/RulesManagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <import namespace="http://student.kuali.org/poc/wsdl/brms/rulesmanagement" location="RulesManagementServicePortType.wsdl"/>
  <binding name="RulesManagementServiceBinding" type="ns1:RulesManagementService" xmlns:ns1="http://student.kuali.org/poc/wsdl/brms/rulesmanagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createBusinessRule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AlreadyExistsException">
        <soap:fault name="AlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteBusinessRule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="DependentObjectsExistException">
        <soap:fault name="DependentObjectsExistException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </fault>
    </operation>
    <operation name="fetchAgendaInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="fetchAgendaInfoDeterminationStructure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="fetchBusinessRuleEnglish">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="fetchBusinessRuleInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="fetchBusinessRuleInfoList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="fetchDetailedBusinessRuleInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAgendaTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnchorTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnchorsByAnchorType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBusinessRuleIdsByBusinessRuleType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBusinessRuleTypes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBusinessRuleTypesByAgendaType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateBusinessRule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </fault>
      <fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </fault>
      <fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </fault>
      <fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </fault>
      <fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RulesManagementService">
    <port name="RulesManagementService" binding="tns:RulesManagementServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

