ks-cfg-dbs/ks-lum-db/data.dtd

<!ELEMENT dataset (
    KSLO_RICH_TEXT_T|
    KSLU_CLU|
    KSLU_CLUCLU_RELTN|
    KSLU_CLUCLU_RELTN_ATTR|
    KSLU_CLURES_JN_RESOPT|
    KSLU_CLU_ACCRED|
    KSLU_CLU_ACCRED_ATTR|
    KSLU_CLU_ACCT|
    KSLU_CLU_ACCT_ATTR|
    KSLU_CLU_ACCT_JN_AFFIL_ORG|
    KSLU_CLU_ADMIN_ORG|
    KSLU_CLU_ADMIN_ORG_ATTR|
    KSLU_CLU_AFFIL_ORG|
    KSLU_CLU_ATP_TYPE_KEY|
    KSLU_CLU_ATTR|
    KSLU_CLU_CR|
    KSLU_CLU_DOC_RELTN|
    KSLU_CLU_DOC_RELTN_ATTR|
    KSLU_CLU_DOC_RELTN_TYPE|
    KSLU_CLU_DOC_RELTN_TYPE_ATTR|
    KSLU_CLU_FEE|
    KSLU_CLU_FEEREC_JN_AFFIL_ORG|
    KSLU_CLU_FEE_ATTR|
    KSLU_CLU_FEE_JN_CLU_FEE_REC|
    KSLU_CLU_FEE_REC|
    KSLU_CLU_FEE_REC_ATTR|
    KSLU_CLU_IDENT|
    KSLU_CLU_INSTR|
    KSLU_CLU_INSTR_ATTR|
    KSLU_CLU_JN_ACCRED|
    KSLU_CLU_JN_ALT_ADMIN_ORG|
    KSLU_CLU_JN_CAMP_LOC|
    KSLU_CLU_JN_CLU_IDENT|
    KSLU_CLU_JN_CLU_INSTR|
    KSLU_CLU_JN_SUBJ_ORG|
    KSLU_CLU_LO_ALOW_RELTN_TYPE|
    KSLU_CLU_LO_RELTN|
    KSLU_CLU_LO_RELTN_ATTR|
    KSLU_CLU_LO_RELTN_TYPE|
    KSLU_CLU_LO_RELTN_TYPE_ATTR|
    KSLU_CLU_PUBL|
    KSLU_CLU_PUBL_ATTR|
    KSLU_CLU_PUBL_JN_CLU_INSTR|
    KSLU_CLU_RESULT_TYPE_ATTR|
    KSLU_CLU_RSLT|
    KSLU_CLU_RSLT_LU_ALOW_TYPE|
    KSLU_CLU_RSLT_TYP|
    KSLU_CLU_SET|
    KSLU_CLU_SET_ATTR|
    KSLU_CLU_SET_JN_CLU|
    KSLU_CLU_SET_JN_CLU_SET|
    KSLU_CLU_SET_TYPE|
    KSLU_CLU_SET_TYPE_ATTR|
    KSLU_DLVMTHD_TYPE|
    KSLU_DLVMTHD_TYPE_ATTR|
    KSLU_INSTFRMT_TYPE|
    KSLU_INSTFRMT_TYPE_ATTR|
    KSLU_LO|
    KSLU_LOLO_ALLOWED_RELTN_TYPE|
    KSLU_LOLO_RELTN|
    KSLU_LOLO_RELTN_ATTR|
    KSLU_LOLO_RELTN_TYPE|
    KSLU_LOLO_RELTN_TYPE_ATTR|
    KSLU_LO_ATTR|
    KSLU_LO_CATEGORY|
    KSLU_LO_CATEGORY_ATTR|
    KSLU_LO_CATEGORY_TYPE|
    KSLU_LO_CATEGORY_TYPE_ATTR|
    KSLU_LO_JN_LOCATEGORY|
    KSLU_LO_REPOSITORY|
    KSLU_LO_REPOSITORY_ATTR|
    KSLU_LO_TYPE|
    KSLU_LO_TYPE_ATTR|
    KSLU_LRC_CREDENTIAL|
    KSLU_LRC_CREDENTIAL_ATTR|
    KSLU_LRC_CREDENTIAL_TYPE|
    KSLU_LRC_CREDENTIAL_TYPE_ATTR|
    KSLU_LRC_CREDIT|
    KSLU_LRC_CREDIT_ATTR|
    KSLU_LRC_CREDIT_TYPE|
    KSLU_LRC_CREDIT_TYPE_ATTR|
    KSLU_LRC_GRADE|
    KSLU_LRC_GRADE_ATTR|
    KSLU_LRC_GRADE_TYPE|
    KSLU_LRC_GRADE_TYPE_ATTR|
    KSLU_LRC_RESCOMP|
    KSLU_LRC_RESCOMP_ATTR|
    KSLU_LRC_RESCOMP_JN_RESVALUE|
    KSLU_LRC_RESCOMP_TYPE|
    KSLU_LRC_RESCOMP_TYPE_ATTR|
    KSLU_LRC_RESULT_VALUE|
    KSLU_LRC_RICH_TEXT_T|
    KSLU_LRC_SCALE|
    KSLU_LRC_SCALE_ATTR|
    KSLU_LUI|
    KSLU_LUILUI_RELTN|
    KSLU_LUILUI_RELTN_ATTR|
    KSLU_LUI_ATTR|
    KSLU_LULU_RELTN_TYPE|
    KSLU_LULU_RELTN_TYPE_ATTR|
    KSLU_LULU_RELTN_TYPE_JN_LU_TYP|
    KSLU_LUTYPE|
    KSLU_LU_CD_TYPE|
    KSLU_LU_CD_TYPE_ATTR|
    KSLU_LU_CODE|
    KSLU_LU_CODE_ATTR|
    KSLU_LU_LU_ALOW_RELTN_TYPE|
    KSLU_LU_PUBL_TYPE|
    KSLU_LU_PUBL_TYPE_ATTR|
    KSLU_LU_TYPE_ATTR|
    KSLU_MEMSHIP|
    KSLU_MEMSHIP_KSLU_SPARAM|
    KSLU_RICH_TEXT_T|
    KSLU_RSLTUSAGE_LU_ALOW_TYPE|
    KSLU_RSLT_COMP_USG_ALOW_TYPE|
    KSLU_RSLT_OPT|
    KSLU_RSLT_USG_TYPE|
    KSLU_RSLT_USG_TYPE_ATTR|
    KSLU_RSRC|
    KSLU_SPARAM|
    KSLU_SPARAM_KSLU_SPVALUE|
    KSLU_SPVALUE|
    KSST_NL_USAGE_TYPE|
    KSST_OBJECT_SUB_TYPE|
    KSST_OBJECT_SUB_TYPE_ATTR|
    KSST_OBJECT_TYPE|
    KSST_OBJECT_TYPE_ATTR|
    KSST_OBJ_TYP_JN_OBJ_SUB_TYP|
    KSST_RCTYP_JN_RCFLDTYP|
    KSST_RC_JN_RC_FIELD|
    KSST_REF_STMT_REL|
    KSST_REF_STMT_REL_ATTR|
    KSST_REF_STMT_REL_TYPE|
    KSST_REF_STMT_REL_TYPE_ATTR|
    KSST_REQ_COM|
    KSST_REQ_COM_FIELD|
    KSST_REQ_COM_FIELD_TYPE|
    KSST_REQ_COM_TYPE|
    KSST_REQ_COM_TYPE_ATTR|
    KSST_REQ_COM_TYPE_NL_TMPL|
    KSST_RICH_TEXT_T|
    KSST_RSTMT_RTYP_JN_OSUB_TYP|
    KSST_RSTMT_RTYP_JN_STMT_TYP|
    KSST_STMT|
    KSST_STMT_ATTR|
    KSST_STMT_JN_REQ_COM|
    KSST_STMT_TYPE|
    KSST_STMT_TYPE_ATTR|
    KSST_STMT_TYP_JN_RC_TYP|
    KSST_STMT_TYP_JN_STMT_TYP|
    KSST_USAGE_TYPE_ATTR)*>
<!ELEMENT KSLO_RICH_TEXT_T EMPTY>
<!ATTLIST KSLO_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU EMPTY>
<!ATTLIST KSLU_CLU
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    CAN_CREATE_LUI CDATA #IMPLIED
    DEF_ENRL_EST CDATA #IMPLIED
    DEF_MAX_ENRL CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXP_FIRST_ATP CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    HAS_EARLY_DROP_DEDLN CDATA #IMPLIED
    CLU_INTSTY_QTY CDATA #IMPLIED
    CLU_INTSTY_TYPE CDATA #IMPLIED
    IS_ENRL CDATA #IMPLIED
    IS_HAZR_DISBLD_STU CDATA #IMPLIED
    NEXT_REVIEW_PRD CDATA #IMPLIED
    REF_URL CDATA #IMPLIED
    ST CDATA #IMPLIED
    ATP_DUR_TYP_KEY CDATA #IMPLIED
    TM_QUANTITY CDATA #IMPLIED
    STDY_SUBJ_AREA CDATA #IMPLIED
    ACCT_ID CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    FEE_ID CDATA #IMPLIED
    LUTYPE_ID CDATA #IMPLIED
    OFFIC_CLU_ID CDATA #IMPLIED
    PRI_ADMIN_ORG_ID CDATA #IMPLIED
    PRI_INSTR_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLUCLU_RELTN EMPTY>
<!ATTLIST KSLU_CLUCLU_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    CLU_RELTN_REQ CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    LU_RELTN_TYPE_ID CDATA #IMPLIED
    RELATED_CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLUCLU_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_CLUCLU_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLURES_JN_RESOPT EMPTY>
<!ATTLIST KSLU_CLURES_JN_RESOPT
    CLU_RES_ID CDATA #REQUIRED
    RES_OPT_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_ACCRED EMPTY>
<!ATTLIST KSLU_CLU_ACCRED
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCRED_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ACCRED_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCT EMPTY>
<!ATTLIST KSLU_CLU_ACCT
    ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCT_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ACCT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ACCT_JN_AFFIL_ORG EMPTY>
<!ATTLIST KSLU_CLU_ACCT_JN_AFFIL_ORG
    CLU_ACCT_ID CDATA #REQUIRED
    AFFIL_ORG_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_ADMIN_ORG EMPTY>
<!ATTLIST KSLU_CLU_ADMIN_ORG
    ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ADMIN_ORG_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ADMIN_ORG_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_AFFIL_ORG EMPTY>
<!ATTLIST KSLU_CLU_AFFIL_ORG
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    PERCT CDATA #IMPLIED
    CLU_FEE_RCRD_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ATP_TYPE_KEY EMPTY>
<!ATTLIST KSLU_CLU_ATP_TYPE_KEY
    ID CDATA #IMPLIED
    ATP_TYPE_KEY CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_ATTR EMPTY>
<!ATTLIST KSLU_CLU_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_CR EMPTY>
<!ATTLIST KSLU_CLU_CR
    ID CDATA #IMPLIED
    INSTR_UNIT CDATA #IMPLIED
    MAX_ALOW_INACV_ATP CDATA #IMPLIED
    MAX_ALOW_INACV_TMQ CDATA #IMPLIED
    MAX_TM_RSLT_RCGZ_ATP CDATA #IMPLIED
    MAX_TM_RSLT_RCGZ_TMQ CDATA #IMPLIED
    MAX_TM_TO_COMP_ATP CDATA #IMPLIED
    MAX_TM_TO_COMP_TMQ CDATA #IMPLIED
    MAX_TOT_UNIT CDATA #IMPLIED
    MIN_TM_TO_COMP_ATP CDATA #IMPLIED
    MIN_TM_TO_COMP_TMQ CDATA #IMPLIED
    MIN_TOT_UNIT CDATA #IMPLIED
    REPEAT_CNT CDATA #IMPLIED
    REPEAT_TM_ATP CDATA #IMPLIED
    REPEAT_TM_TMQ CDATA #IMPLIED
    REPEAT_UNIT CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_DOC_RELTN EMPTY>
<!ATTLIST KSLU_CLU_DOC_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DOC_ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    LU_DOC_RELTN_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_DOC_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_CLU_DOC_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_DOC_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_CLU_DOC_RELTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_DOC_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_DOC_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEE EMPTY>
<!ATTLIST KSLU_CLU_FEE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_FEEREC_JN_AFFIL_ORG EMPTY>
<!ATTLIST KSLU_CLU_FEEREC_JN_AFFIL_ORG
    CLU_FEE_REC_ID CDATA #REQUIRED
    AFFIL_ORG_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_FEE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_FEE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEE_JN_CLU_FEE_REC EMPTY>
<!ATTLIST KSLU_CLU_FEE_JN_CLU_FEE_REC
    CLU_FEE_ID CDATA #REQUIRED
    CLU_FEE_REC_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_FEE_REC EMPTY>
<!ATTLIST KSLU_CLU_FEE_REC
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    CURRENCY_QUANT CDATA #IMPLIED
    CURRENCY_TYPE CDATA #IMPLIED
    FEE_TYPE CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_FEE_REC_ATTR EMPTY>
<!ATTLIST KSLU_CLU_FEE_REC_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_IDENT EMPTY>
<!ATTLIST KSLU_CLU_IDENT
    ID CDATA #IMPLIED
    CD CDATA #IMPLIED
    DIV CDATA #IMPLIED
    LVL CDATA #IMPLIED
    LNG_NAME CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    SHRT_NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    SUFX_CD CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    VARTN CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_INSTR EMPTY>
<!ATTLIST KSLU_CLU_INSTR
    ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    PERS_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_INSTR_ATTR EMPTY>
<!ATTLIST KSLU_CLU_INSTR_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_JN_ACCRED EMPTY>
<!ATTLIST KSLU_CLU_JN_ACCRED
    CLU_ID CDATA #REQUIRED
    CLU_ACCRED_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_ALT_ADMIN_ORG EMPTY>
<!ATTLIST KSLU_CLU_JN_ALT_ADMIN_ORG
    CLU_ID CDATA #REQUIRED
    ALT_ORG_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_CAMP_LOC EMPTY>
<!ATTLIST KSLU_CLU_JN_CAMP_LOC
    ID CDATA #IMPLIED
    CAMP_LOC CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_JN_CLU_IDENT EMPTY>
<!ATTLIST KSLU_CLU_JN_CLU_IDENT
    CLU_ID CDATA #REQUIRED
    ALT_CLU_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_CLU_INSTR EMPTY>
<!ATTLIST KSLU_CLU_JN_CLU_INSTR
    CLU_ID CDATA #REQUIRED
    CLU_INSTR_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_JN_SUBJ_ORG EMPTY>
<!ATTLIST KSLU_CLU_JN_SUBJ_ORG
    ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_ALOW_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_CLU_LO_ALOW_RELTN_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LO_TYPE_ID CDATA #IMPLIED
    CLULO_RELTN_TYPE_ID CDATA #IMPLIED
    LU_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_RELTN EMPTY>
<!ATTLIST KSLU_CLU_LO_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LO_ID CDATA #IMPLIED
    ST CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_CLU_LO_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_CLU_LO_RELTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_LO_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_LO_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL EMPTY>
<!ATTLIST KSLU_CLU_PUBL
    ID CDATA #IMPLIED
    END_CYCLE CDATA #IMPLIED
    START_CYCLE CDATA #IMPLIED
    ST CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    PRI_INSTR_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL_ATTR EMPTY>
<!ATTLIST KSLU_CLU_PUBL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_PUBL_JN_CLU_INSTR EMPTY>
<!ATTLIST KSLU_CLU_PUBL_JN_CLU_INSTR
    CLU_PUBL_ID CDATA #REQUIRED
    CLU_INSTR_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_RESULT_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_RESULT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_RSLT EMPTY>
<!ATTLIST KSLU_CLU_RSLT
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
    TYPE_KEY_ID CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_RSLT_LU_ALOW_TYPE EMPTY>
<!ATTLIST KSLU_CLU_RSLT_LU_ALOW_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    CLU_RSLT_TYPE_ID CDATA #IMPLIED
    LU_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_RSLT_TYP EMPTY>
<!ATTLIST KSLU_CLU_RSLT_TYP
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET EMPTY>
<!ATTLIST KSLU_CLU_SET
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    ADMIN_ORG_ID CDATA #IMPLIED
    CRIT_SET CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    MEM_QUERY_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET_ATTR EMPTY>
<!ATTLIST KSLU_CLU_SET_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET_JN_CLU EMPTY>
<!ATTLIST KSLU_CLU_SET_JN_CLU
    CLU_SET_ID CDATA #REQUIRED
    CLU_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_SET_JN_CLU_SET EMPTY>
<!ATTLIST KSLU_CLU_SET_JN_CLU_SET
    CLU_SET_PARENT_ID CDATA #REQUIRED
    CLU_SET_CHILD_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_CLU_SET_TYPE EMPTY>
<!ATTLIST KSLU_CLU_SET_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_CLU_SET_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_CLU_SET_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_DLVMTHD_TYPE EMPTY>
<!ATTLIST KSLU_DLVMTHD_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_DLVMTHD_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_DLVMTHD_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_INSTFRMT_TYPE EMPTY>
<!ATTLIST KSLU_INSTFRMT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_INSTFRMT_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_INSTFRMT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LO EMPTY>
<!ATTLIST KSLU_LO
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    LO_REPO_ID CDATA #IMPLIED
    LOTYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LOLO_ALLOWED_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_LOLO_ALLOWED_RELTN_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LO_TYPE_ID CDATA #IMPLIED
    LO_REL_TYPE_ID CDATA #IMPLIED
    LOLO_RELTN_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LOLO_RELTN EMPTY>
<!ATTLIST KSLU_LOLO_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    LO_ID CDATA #IMPLIED
    LO_LO_RELATION_TYPE_ID CDATA #IMPLIED
    RELATED_LO_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LOLO_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_LOLO_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LOLO_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_LOLO_RELTN_TYPE
    ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    REV_DESCR CDATA #IMPLIED
    REV_NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LOLO_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LOLO_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_ATTR EMPTY>
<!ATTLIST KSLU_LO_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_CATEGORY EMPTY>
<!ATTLIST KSLU_LO_CATEGORY
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    LO_CATEGORY_TYPE_ID CDATA #IMPLIED
    LO_REPO_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_CATEGORY_ATTR EMPTY>
<!ATTLIST KSLU_LO_CATEGORY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_CATEGORY_TYPE EMPTY>
<!ATTLIST KSLU_LO_CATEGORY_TYPE
    ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_CATEGORY_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LO_CATEGORY_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_JN_LOCATEGORY EMPTY>
<!ATTLIST KSLU_LO_JN_LOCATEGORY
    LO_ID CDATA #REQUIRED
    LOCATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_LO_REPOSITORY EMPTY>
<!ATTLIST KSLU_LO_REPOSITORY
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    LO_ROOT_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_REPOSITORY_ATTR EMPTY>
<!ATTLIST KSLU_LO_REPOSITORY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_TYPE EMPTY>
<!ATTLIST KSLU_LO_TYPE
    ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LO_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LO_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_CREDENTIAL EMPTY>
<!ATTLIST KSLU_LRC_CREDENTIAL
    ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_CREDENTIAL_ATTR EMPTY>
<!ATTLIST KSLU_LRC_CREDENTIAL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_CREDENTIAL_TYPE EMPTY>
<!ATTLIST KSLU_LRC_CREDENTIAL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_CREDENTIAL_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LRC_CREDENTIAL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_CREDIT EMPTY>
<!ATTLIST KSLU_LRC_CREDIT
    ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_CREDIT_ATTR EMPTY>
<!ATTLIST KSLU_LRC_CREDIT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_CREDIT_TYPE EMPTY>
<!ATTLIST KSLU_LRC_CREDIT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_CREDIT_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LRC_CREDIT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_GRADE EMPTY>
<!ATTLIST KSLU_LRC_GRADE
    RANK CDATA #IMPLIED
    ID CDATA #IMPLIED
    SCALE_KEY CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_GRADE_ATTR EMPTY>
<!ATTLIST KSLU_LRC_GRADE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_GRADE_TYPE EMPTY>
<!ATTLIST KSLU_LRC_GRADE_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_GRADE_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LRC_GRADE_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_RESCOMP EMPTY>
<!ATTLIST KSLU_LRC_RESCOMP
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_RESCOMP_ATTR EMPTY>
<!ATTLIST KSLU_LRC_RESCOMP_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_RESCOMP_JN_RESVALUE EMPTY>
<!ATTLIST KSLU_LRC_RESCOMP_JN_RESVALUE
    COMPONENT_ID CDATA #REQUIRED
    RESULT_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_LRC_RESCOMP_TYPE EMPTY>
<!ATTLIST KSLU_LRC_RESCOMP_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    VALUE_TYPE CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_RESCOMP_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LRC_RESCOMP_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_RESULT_VALUE EMPTY>
<!ATTLIST KSLU_LRC_RESULT_VALUE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_RICH_TEXT_T EMPTY>
<!ATTLIST KSLU_LRC_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_SCALE EMPTY>
<!ATTLIST KSLU_LRC_SCALE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LRC_SCALE_ATTR EMPTY>
<!ATTLIST KSLU_LRC_SCALE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LUI EMPTY>
<!ATTLIST KSLU_LUI
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    ATP_ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXP_DT CDATA #IMPLIED
    LUI_CODE CDATA #IMPLIED
    MAX_SEATS CDATA #IMPLIED
    ST CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LUILUI_RELTN EMPTY>
<!ATTLIST KSLU_LUILUI_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    LULU_RELTN_TYPE_ID CDATA #IMPLIED
    LUI_ID CDATA #IMPLIED
    RELATED_LUI_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LUILUI_RELTN_ATTR EMPTY>
<!ATTLIST KSLU_LUILUI_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LUI_ATTR EMPTY>
<!ATTLIST KSLU_LUI_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LULU_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_LULU_RELTN_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    REV_DESC CDATA #IMPLIED
    REV_NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LULU_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LULU_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LULU_RELTN_TYPE_JN_LU_TYP EMPTY>
<!ATTLIST KSLU_LULU_RELTN_TYPE_JN_LU_TYP
    LULU_RELTN_TYPE_ID CDATA #REQUIRED
    LU_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_LUTYPE EMPTY>
<!ATTLIST KSLU_LUTYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DLVR_MTHD CDATA #IMPLIED
    INSTR_FRMT CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CD_TYPE EMPTY>
<!ATTLIST KSLU_LU_CD_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CD_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LU_CD_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CODE EMPTY>
<!ATTLIST KSLU_LU_CODE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    VALUE CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_CODE_ATTR EMPTY>
<!ATTLIST KSLU_LU_CODE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_LU_ALOW_RELTN_TYPE EMPTY>
<!ATTLIST KSLU_LU_LU_ALOW_RELTN_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LU_TYPE_ID CDATA #IMPLIED
    LU_REL_TYPE_ID CDATA #IMPLIED
    LU_LU_RELTN_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_PUBL_TYPE EMPTY>
<!ATTLIST KSLU_LU_PUBL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_PUBL_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LU_PUBL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_LU_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_LU_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_MEMSHIP EMPTY>
<!ATTLIST KSLU_MEMSHIP
    ID CDATA #IMPLIED
    SEARCH_TYPE_KEY CDATA #IMPLIED
>

<!ELEMENT KSLU_MEMSHIP_KSLU_SPARAM EMPTY>
<!ATTLIST KSLU_MEMSHIP_KSLU_SPARAM
    KSLU_MEMSHIP_ID CDATA #REQUIRED
    SEARCHPARAMETERS_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_RICH_TEXT_T EMPTY>
<!ATTLIST KSLU_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLTUSAGE_LU_ALOW_TYPE EMPTY>
<!ATTLIST KSLU_RSLTUSAGE_LU_ALOW_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LU_TYPE_ID CDATA #IMPLIED
    CLU_RSLT_USAGE_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLT_COMP_USG_ALOW_TYPE EMPTY>
<!ATTLIST KSLU_RSLT_COMP_USG_ALOW_TYPE
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    RSLT_COMP_ID CDATA #IMPLIED
    RSLT_USG_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLT_OPT EMPTY>
<!ATTLIST KSLU_RSLT_OPT
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    RES_COMP_ID CDATA #IMPLIED
    ST CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    RES_USAGE_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLT_USG_TYPE EMPTY>
<!ATTLIST KSLU_RSLT_USG_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSLU_RSLT_USG_TYPE_ATTR EMPTY>
<!ATTLIST KSLU_RSLT_USG_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSLU_RSRC EMPTY>
<!ATTLIST KSLU_RSRC
    ID CDATA #IMPLIED
    RSRC_TYPE_ID CDATA #IMPLIED
    CLU_ID CDATA #IMPLIED
>

<!ELEMENT KSLU_SPARAM EMPTY>
<!ATTLIST KSLU_SPARAM
    ID CDATA #IMPLIED
    SEARCH_PARAM_KEY CDATA #IMPLIED
>

<!ELEMENT KSLU_SPARAM_KSLU_SPVALUE EMPTY>
<!ATTLIST KSLU_SPARAM_KSLU_SPVALUE
    KSLU_SPARAM_ID CDATA #REQUIRED
    VALUES_ID CDATA #REQUIRED
>

<!ELEMENT KSLU_SPVALUE EMPTY>
<!ATTLIST KSLU_SPVALUE
    ID CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>

<!ELEMENT KSST_NL_USAGE_TYPE EMPTY>
<!ATTLIST KSST_NL_USAGE_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSST_OBJECT_SUB_TYPE EMPTY>
<!ATTLIST KSST_OBJECT_SUB_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSST_OBJECT_SUB_TYPE_ATTR EMPTY>
<!ATTLIST KSST_OBJECT_SUB_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSST_OBJECT_TYPE EMPTY>
<!ATTLIST KSST_OBJECT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSST_OBJECT_TYPE_ATTR EMPTY>
<!ATTLIST KSST_OBJECT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSST_OBJ_TYP_JN_OBJ_SUB_TYP EMPTY>
<!ATTLIST KSST_OBJ_TYP_JN_OBJ_SUB_TYP
    OBJ_TYPE_ID CDATA #REQUIRED
    OBJ_SUB_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_RCTYP_JN_RCFLDTYP EMPTY>
<!ATTLIST KSST_RCTYP_JN_RCFLDTYP
    REQ_COMP_TYPE_ID CDATA #REQUIRED
    REQ_COMP_FIELD_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_RC_JN_RC_FIELD EMPTY>
<!ATTLIST KSST_RC_JN_RC_FIELD
    REQ_COM_ID CDATA #REQUIRED
    REQ_COM_FIELD_ID CDATA #REQUIRED
>

<!ELEMENT KSST_REF_STMT_REL EMPTY>
<!ATTLIST KSST_REF_STMT_REL
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    REF_OBJ_ID CDATA #IMPLIED
    REF_OBJ_TYPE_KEY CDATA #IMPLIED
    ST CDATA #IMPLIED
    REF_STMT_REL_TYPE_ID CDATA #IMPLIED
    STMT_ID CDATA #IMPLIED
>

<!ELEMENT KSST_REF_STMT_REL_ATTR EMPTY>
<!ATTLIST KSST_REF_STMT_REL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSST_REF_STMT_REL_TYPE EMPTY>
<!ATTLIST KSST_REF_STMT_REL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSST_REF_STMT_REL_TYPE_ATTR EMPTY>
<!ATTLIST KSST_REF_STMT_REL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM EMPTY>
<!ATTLIST KSST_REQ_COM
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    REQ_COM_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_FIELD EMPTY>
<!ATTLIST KSST_REQ_COM_FIELD
    ID CDATA #IMPLIED
    REQ_COM_FIELD_KEY CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_FIELD_TYPE EMPTY>
<!ATTLIST KSST_REQ_COM_FIELD_TYPE
    ID CDATA #IMPLIED
    DATA_TYPE CDATA #REQUIRED
    DESCR CDATA #REQUIRED
    INVALID_CHARS CDATA #IMPLIED
    MAX_LENGTH CDATA #IMPLIED
    MAX_OCCURS CDATA #IMPLIED
    MAX_VALUE CDATA #IMPLIED
    MIN_LENGTH CDATA #IMPLIED
    MIN_OCCURS CDATA #IMPLIED
    MIN_VALUE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    READ_ONLY CDATA #REQUIRED
    VALID_CHARS CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_TYPE EMPTY>
<!ATTLIST KSST_REQ_COM_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_TYPE_ATTR EMPTY>
<!ATTLIST KSST_REQ_COM_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSST_REQ_COM_TYPE_NL_TMPL EMPTY>
<!ATTLIST KSST_REQ_COM_TYPE_NL_TMPL
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    LANGUAGE CDATA #IMPLIED
    NL_USUAGE_TYPE_KEY CDATA #IMPLIED
    TEMPLATE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSST_RICH_TEXT_T EMPTY>
<!ATTLIST KSST_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

<!ELEMENT KSST_RSTMT_RTYP_JN_OSUB_TYP EMPTY>
<!ATTLIST KSST_RSTMT_RTYP_JN_OSUB_TYP
    REF_STMT_REL_TYPE_ID CDATA #REQUIRED
    OBJ_SUB_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_RSTMT_RTYP_JN_STMT_TYP EMPTY>
<!ATTLIST KSST_RSTMT_RTYP_JN_STMT_TYP
    REF_STMT_REL_TYPE_ID CDATA #REQUIRED
    STMT_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_STMT EMPTY>
<!ATTLIST KSST_STMT
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    NAME CDATA #IMPLIED
    OPERATOR CDATA #IMPLIED
    ST CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    PARENT_STMT_ID CDATA #IMPLIED
    STMT_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSST_STMT_ATTR EMPTY>
<!ATTLIST KSST_STMT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSST_STMT_JN_REQ_COM EMPTY>
<!ATTLIST KSST_STMT_JN_REQ_COM
    STMT_ID CDATA #REQUIRED
    REQ_COM_ID CDATA #REQUIRED
>

<!ELEMENT KSST_STMT_TYPE EMPTY>
<!ATTLIST KSST_STMT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSST_STMT_TYPE_ATTR EMPTY>
<!ATTLIST KSST_STMT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSST_STMT_TYP_JN_RC_TYP EMPTY>
<!ATTLIST KSST_STMT_TYP_JN_RC_TYP
    STMT_TYPE_ID CDATA #REQUIRED
    REQ_COM_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_STMT_TYP_JN_STMT_TYP EMPTY>
<!ATTLIST KSST_STMT_TYP_JN_STMT_TYP
    STMT_TYPE_ID CDATA #REQUIRED
    CHLD_STMT_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSST_USAGE_TYPE_ATTR EMPTY>
<!ATTLIST KSST_USAGE_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

