1.0.x/ks-cfg-dbs/ks-core-db/src/main/resources/impex/data.dtd

<!ELEMENT dataset (
    KSAP_ATP|
    KSAP_ATP_ATTR|
    KSAP_ATP_DUR_TYPE|
    KSAP_ATP_DUR_TYPE_ATTR|
    KSAP_ATP_SEASONAL_TYPE|
    KSAP_ATP_SEASONAL_TYPE_ATTR|
    KSAP_ATP_TYPE|
    KSAP_ATP_TYPE_ATTR|
    KSAP_DT_RANGE|
    KSAP_DT_RANGE_ATTR|
    KSAP_DT_RANGE_TYPE|
    KSAP_DT_RANGE_TYPE_ATTR|
    KSAP_MLSTN|
    KSAP_MLSTN_ATTR|
    KSAP_MLSTN_TYPE|
    KSAP_MLSTN_TYPE_ATTR|
    KSAP_RICH_TEXT_T|
    KSCO_COMMENT|
    KSCO_COMMENT_ATTR|
    KSCO_COMMENT_TYPE|
    KSCO_COMMENT_TYPE_ATTR|
    KSCO_REFERENCE|
    KSCO_REFERENCE_TYPE|
    KSCO_REFERENCE_TYPE_ATTR|
    KSCO_RICH_TEXT_T|
    KSCO_TAG|
    KSCO_TAG_ATTR|
    KSCO_TAG_TYPE|
    KSCO_TAG_TYPE_ATTR|
    KSDO_DOCUMENT|
    KSDO_DOCUMENT_ATTR|
    KSDO_DOCUMENT_CATEGORY|
    KSDO_DOCUMENT_CATEGORY_ATTR|
    KSDO_DOCUMENT_JN_DOC_CATEGORY|
    KSDO_DOCUMENT_TYPE|
    KSDO_DOCUMENT_TYPE_ATTR|
    KSDO_RICH_TEXT_T|
    KSEM_CTX_ENT|
    KSEM_CTX_META_ENT|
    KSEM_ENUM_META_ENT|
    KSEM_ENUM_VAL_ENT|
    KSEM_ENUM_VAL_FLD_ENT|
    KSMG_MESSAGE|
    KSOR_ORG|
    KSOR_ORG_ATTR|
    KSOR_ORG_HIRCHY|
    KSOR_ORG_HIRCHY_ATTR|
    KSOR_ORG_HIRCHY_JN_ORG_TYPE|
    KSOR_ORG_JN_ORG_PERS_REL_TYPE|
    KSOR_ORG_ORG_RELTN|
    KSOR_ORG_ORG_RELTN_ATTR|
    KSOR_ORG_ORG_RELTN_TYPE|
    KSOR_ORG_ORG_RELTN_TYPE_ATTR|
    KSOR_ORG_PERS_RELTN|
    KSOR_ORG_PERS_RELTN_ATTR|
    KSOR_ORG_PERS_RELTN_TYPE|
    KSOR_ORG_PERS_RELTN_TYPE_ATTR|
    KSOR_ORG_POS_RESTR|
    KSOR_ORG_POS_RESTR_ATTR|
    KSOR_ORG_TYPE|
    KSOR_ORG_TYPE_ATTR|
    KSOR_ORG_TYPE_JN_ORG_PERRL_TYP|
    KSPR_PROPOSAL|
    KSPR_PROPOSAL_ATTR|
    KSPR_PROPOSAL_DOCREL|
    KSPR_PROPOSAL_DOCREL_ATTR|
    KSPR_PROPOSAL_DOCREL_TYPE|
    KSPR_PROPOSAL_DOCREL_TYPE_ATTR|
    KSPR_PROPOSAL_JN_ORG|
    KSPR_PROPOSAL_JN_PERSON|
    KSPR_PROPOSAL_JN_REFERENCE|
    KSPR_PROPOSAL_REFERENCE|
    KSPR_PROPOSAL_REFTYPE|
    KSPR_PROPOSAL_REFTYPE_ATTR|
    KSPR_PROPOSAL_TYPE|
    KSPR_PROPOSAL_TYPE_ATTR|
    KSPR_RICH_TEXT_T)*>
<!ELEMENT KSAP_ATP EMPTY>
<!ATTLIST KSAP_ATP
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_ATTR EMPTY>
<!ATTLIST KSAP_ATP_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_DUR_TYPE EMPTY>
<!ATTLIST KSAP_ATP_DUR_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_DUR_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_ATP_DUR_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_SEASONAL_TYPE EMPTY>
<!ATTLIST KSAP_ATP_SEASONAL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_SEASONAL_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_ATP_SEASONAL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_TYPE EMPTY>
<!ATTLIST KSAP_ATP_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DUR_TYPE CDATA #IMPLIED
    SEASONAL_TYPE CDATA #IMPLIED
>

<!ELEMENT KSAP_ATP_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_ATP_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSAP_DT_RANGE EMPTY>
<!ATTLIST KSAP_DT_RANGE
    DATERANGE_KEY CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    START_DT CDATA #IMPLIED
    STATE CDATA #IMPLIED
    ATP_ID CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    DT_RANGE_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSAP_DT_RANGE_ATTR EMPTY>
<!ATTLIST KSAP_DT_RANGE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSAP_DT_RANGE_TYPE EMPTY>
<!ATTLIST KSAP_DT_RANGE_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSAP_DT_RANGE_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_DT_RANGE_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSAP_MLSTN EMPTY>
<!ATTLIST KSAP_MLSTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    MLSTN_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    ATP_ID CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    MLSTN_TYPE_ID CDATA #IMPLIED
>

<!ELEMENT KSAP_MLSTN_ATTR EMPTY>
<!ATTLIST KSAP_MLSTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSAP_MLSTN_TYPE EMPTY>
<!ATTLIST KSAP_MLSTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSAP_MLSTN_TYPE_ATTR EMPTY>
<!ATTLIST KSAP_MLSTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSAP_RICH_TEXT_T EMPTY>
<!ATTLIST KSAP_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

<!ELEMENT KSCO_COMMENT EMPTY>
<!ATTLIST KSCO_COMMENT
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    REFERENCE CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSCO_COMMENT_ATTR EMPTY>
<!ATTLIST KSCO_COMMENT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSCO_COMMENT_TYPE EMPTY>
<!ATTLIST KSCO_COMMENT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSCO_COMMENT_TYPE_ATTR EMPTY>
<!ATTLIST KSCO_COMMENT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSCO_REFERENCE EMPTY>
<!ATTLIST KSCO_REFERENCE
    ID CDATA #IMPLIED
    REFERENCE_ID CDATA #IMPLIED
    REFERENCE_TYPE CDATA #IMPLIED
>

<!ELEMENT KSCO_REFERENCE_TYPE EMPTY>
<!ATTLIST KSCO_REFERENCE_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSCO_REFERENCE_TYPE_ATTR EMPTY>
<!ATTLIST KSCO_REFERENCE_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSCO_RICH_TEXT_T EMPTY>
<!ATTLIST KSCO_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

<!ELEMENT KSCO_TAG EMPTY>
<!ATTLIST KSCO_TAG
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME_SPACE CDATA #IMPLIED
    PREDICATE CDATA #IMPLIED
    STATE CDATA #IMPLIED
    VAL CDATA #IMPLIED
    REFERENCE CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSCO_TAG_ATTR EMPTY>
<!ATTLIST KSCO_TAG_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSCO_TAG_TYPE EMPTY>
<!ATTLIST KSCO_TAG_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSCO_TAG_TYPE_ATTR EMPTY>
<!ATTLIST KSCO_TAG_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT EMPTY>
<!ATTLIST KSDO_DOCUMENT
    DOC_ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DOCUMENT CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    FILE_NAME CDATA #IMPLIED
    NAME CDATA #IMPLIED
    STATE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_ATTR EMPTY>
<!ATTLIST KSDO_DOCUMENT_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_CATEGORY EMPTY>
<!ATTLIST KSDO_DOCUMENT_CATEGORY
    CATEGORY_ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_CATEGORY_ATTR EMPTY>
<!ATTLIST KSDO_DOCUMENT_CATEGORY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_JN_DOC_CATEGORY EMPTY>
<!ATTLIST KSDO_DOCUMENT_JN_DOC_CATEGORY
    DOC_ID CDATA #REQUIRED
    CATEGORY_ID CDATA #REQUIRED
>

<!ELEMENT KSDO_DOCUMENT_TYPE EMPTY>
<!ATTLIST KSDO_DOCUMENT_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSDO_DOCUMENT_TYPE_ATTR EMPTY>
<!ATTLIST KSDO_DOCUMENT_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSDO_RICH_TEXT_T EMPTY>
<!ATTLIST KSDO_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

<!ELEMENT KSEM_CTX_ENT EMPTY>
<!ATTLIST KSEM_CTX_ENT
    ID CDATA #IMPLIED
    CTX_KEY CDATA #IMPLIED
    CTX_VAL CDATA #IMPLIED
    ENUM_VAL_ENT_ID CDATA #IMPLIED
>

<!ELEMENT KSEM_CTX_META_ENT EMPTY>
<!ATTLIST KSEM_CTX_META_ENT
    ID CDATA #IMPLIED
    DATA_TYPE CDATA #IMPLIED
    ENUM_KEY CDATA #IMPLIED
    MAX_LGTH CDATA #IMPLIED
    MAX_OCCRS CDATA #IMPLIED
    MIN_LGTH CDATA #IMPLIED
    MIN_OCCRS CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSEM_ENUM_META_ENT EMPTY>
<!ATTLIST KSEM_ENUM_META_ENT
    ID CDATA #IMPLIED
    ENUM_KEY CDATA #IMPLIED
    ENUM_META_KEY_DESC CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSEM_ENUM_VAL_ENT EMPTY>
<!ATTLIST KSEM_ENUM_VAL_ENT
    ID CDATA #IMPLIED
    ABBREV_VAL CDATA #IMPLIED
    CD CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    ENUM_KEY CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    SORT_KEY CDATA #IMPLIED
    VAL CDATA #IMPLIED
>

<!ELEMENT KSEM_ENUM_VAL_FLD_ENT EMPTY>
<!ATTLIST KSEM_ENUM_VAL_FLD_ENT
    ID CDATA #IMPLIED
    DATA_TYPE CDATA #IMPLIED
    FLD_KEY CDATA #IMPLIED
    INVLD_CHARS CDATA #IMPLIED
    MAX_LGTH CDATA #IMPLIED
    MAX_OCCRS CDATA #IMPLIED
    MAX_VAL CDATA #IMPLIED
    MIN_LGTH CDATA #IMPLIED
    MIN_OCCRS CDATA #IMPLIED
    MIN_VAL CDATA #IMPLIED
    VALID_CHARS CDATA #IMPLIED
    ENUM_META_ENT_ID CDATA #IMPLIED
>

<!ELEMENT KSMG_MESSAGE EMPTY>
<!ATTLIST KSMG_MESSAGE
    DATABASEID CDATA #IMPLIED
    GROUPNAME CDATA #IMPLIED
    ID CDATA #IMPLIED
    LOCALE CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG EMPTY>
<!ATTLIST KSOR_ORG
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    LNG_DESCR CDATA #IMPLIED
    LNG_NAME CDATA #IMPLIED
    SHRT_DESCR CDATA #IMPLIED
    SHRT_NAME CDATA #IMPLIED
    ST CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_ATTR EMPTY>
<!ATTLIST KSOR_ORG_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_HIRCHY EMPTY>
<!ATTLIST KSOR_ORG_HIRCHY
    ID CDATA #IMPLIED
    DESCR CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    ROOT_ORG CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_HIRCHY_ATTR EMPTY>
<!ATTLIST KSOR_ORG_HIRCHY_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_HIRCHY_JN_ORG_TYPE EMPTY>
<!ATTLIST KSOR_ORG_HIRCHY_JN_ORG_TYPE
    ORG_HIRCHY_ID CDATA #REQUIRED
    ORG_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSOR_ORG_JN_ORG_PERS_REL_TYPE EMPTY>
<!ATTLIST KSOR_ORG_JN_ORG_PERS_REL_TYPE
    ORG_ID CDATA #REQUIRED
    ORG_PERS_RELTN_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSOR_ORG_ORG_RELTN EMPTY>
<!ATTLIST KSOR_ORG_ORG_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    ST CDATA #IMPLIED
    ORG CDATA #IMPLIED
    RELATED_ORG CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_ORG_RELTN_ATTR EMPTY>
<!ATTLIST KSOR_ORG_ORG_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_ORG_RELTN_TYPE EMPTY>
<!ATTLIST KSOR_ORG_ORG_RELTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    REV_DESCR CDATA #IMPLIED
    REV_NAME CDATA #IMPLIED
    ORG_HIRCHY CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_ORG_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSOR_ORG_ORG_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_PERS_RELTN EMPTY>
<!ATTLIST KSOR_ORG_PERS_RELTN
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    PERS_ID CDATA #IMPLIED
    ST CDATA #IMPLIED
    ORG CDATA #IMPLIED
    ORG_PERS_RELTN_TYPE CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_PERS_RELTN_ATTR EMPTY>
<!ATTLIST KSOR_ORG_PERS_RELTN_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_PERS_RELTN_TYPE EMPTY>
<!ATTLIST KSOR_ORG_PERS_RELTN_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_PERS_RELTN_TYPE_ATTR EMPTY>
<!ATTLIST KSOR_ORG_PERS_RELTN_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_POS_RESTR EMPTY>
<!ATTLIST KSOR_ORG_POS_RESTR
    ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DESCR CDATA #IMPLIED
    MAX_NUM_RELTN CDATA #IMPLIED
    MIN_NUM_RELTN CDATA #IMPLIED
    ATPDURATIONTYPEKEY CDATA #IMPLIED
    TIMEQUANTITY CDATA #IMPLIED
    TTL CDATA #IMPLIED
    ORG CDATA #IMPLIED
    PERS_RELTN_TYPE CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_POS_RESTR_ATTR EMPTY>
<!ATTLIST KSOR_ORG_POS_RESTR_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_TYPE EMPTY>
<!ATTLIST KSOR_ORG_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_TYPE_ATTR EMPTY>
<!ATTLIST KSOR_ORG_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSOR_ORG_TYPE_JN_ORG_PERRL_TYP EMPTY>
<!ATTLIST KSOR_ORG_TYPE_JN_ORG_PERRL_TYP
    ORG_TYPE_ID CDATA #REQUIRED
    ORG_PERS_RELTN_TYPE_ID CDATA #REQUIRED
>

<!ELEMENT KSPR_PROPOSAL EMPTY>
<!ATTLIST KSPR_PROPOSAL
    PROPOSAL_ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DETAIL_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    RATIONALE CDATA #IMPLIED
    STATE CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_ATTR EMPTY>
<!ATTLIST KSPR_PROPOSAL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_DOCREL EMPTY>
<!ATTLIST KSPR_PROPOSAL_DOCREL
    DOCREL_ID CDATA #IMPLIED
    CREATEID CDATA #IMPLIED
    CREATETIME CDATA #IMPLIED
    UPDATEID CDATA #IMPLIED
    UPDATETIME CDATA #IMPLIED
    VERSIONIND CDATA #REQUIRED
    DOCUMENT_ID CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    STATE CDATA #IMPLIED
    TITLE CDATA #IMPLIED
    RT_DESCR_ID CDATA #IMPLIED
    PROPOSAL_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_DOCREL_ATTR EMPTY>
<!ATTLIST KSPR_PROPOSAL_DOCREL_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_DOCREL_TYPE EMPTY>
<!ATTLIST KSPR_PROPOSAL_DOCREL_TYPE
    ID CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_DOCREL_TYPE_ATTR EMPTY>
<!ATTLIST KSPR_PROPOSAL_DOCREL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_JN_ORG EMPTY>
<!ATTLIST KSPR_PROPOSAL_JN_ORG
    ORGREF_ID CDATA #IMPLIED
    ORG_ID CDATA #IMPLIED
    PROPOSAL_ID CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_JN_PERSON EMPTY>
<!ATTLIST KSPR_PROPOSAL_JN_PERSON
    ID CDATA #IMPLIED
    PERSONREF_ID CDATA #IMPLIED
    PROPOSAL_ID CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_JN_REFERENCE EMPTY>
<!ATTLIST KSPR_PROPOSAL_JN_REFERENCE
    PROPOSAL_ID CDATA #REQUIRED
    REFERENCE_ID CDATA #REQUIRED
>

<!ELEMENT KSPR_PROPOSAL_REFERENCE EMPTY>
<!ATTLIST KSPR_PROPOSAL_REFERENCE
    REFERENCE_ID CDATA #IMPLIED
    OBJECT_REFERENCE_ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_REFTYPE EMPTY>
<!ATTLIST KSPR_PROPOSAL_REFTYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_REFTYPE_ATTR EMPTY>
<!ATTLIST KSPR_PROPOSAL_REFTYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_TYPE EMPTY>
<!ATTLIST KSPR_PROPOSAL_TYPE
    TYPE_KEY CDATA #IMPLIED
    TYPE_DESC CDATA #IMPLIED
    EFF_DT CDATA #IMPLIED
    EXPIR_DT CDATA #IMPLIED
    NAME CDATA #IMPLIED
>

<!ELEMENT KSPR_PROPOSAL_TYPE_ATTR EMPTY>
<!ATTLIST KSPR_PROPOSAL_TYPE_ATTR
    ID CDATA #IMPLIED
    ATTR_NAME CDATA #IMPLIED
    ATTR_VALUE CDATA #IMPLIED
    OWNER CDATA #IMPLIED
>

<!ELEMENT KSPR_RICH_TEXT_T EMPTY>
<!ATTLIST KSPR_RICH_TEXT_T
    ID CDATA #IMPLIED
    FORMATTED CDATA #IMPLIED
    PLAIN CDATA #IMPLIED
>

