ks-core-api/src/main/resources/META-INF/wsdl/EnumerationManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EnumerationManagementService" targetNamespace="http://student.kuali.org/wsdl/enumerationmanagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://student.kuali.org/wsdl/enumerationmanagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://student.kuali.org/wsdl/exceptions" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/exceptions">
    <xs:element name="AlreadyExistsException" type="tns:AlreadyExistsException"/>
    <xs:element name="DoesNotExistException" type="tns:DoesNotExistException"/>
    <xs:element name="InvalidParameterException" type="tns:InvalidParameterException"/>
    <xs:element name="MissingParameterException" type="tns:MissingParameterException"/>
    <xs:element name="OperationFailedException" type="tns:OperationFailedException"/>
    <xs:element name="PermissionDeniedException" type="tns:PermissionDeniedException"/>
    <xs:complexType name="OperationFailedException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PermissionDeniedException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlreadyExistsException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvalidParameterException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MissingParameterException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DoesNotExistException">
        <xs:sequence>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://student.kuali.org/wsdl/EnumerationManagementService" xmlns:ns1="http://student.kuali.org/wsdl/exceptions" xmlns:tns="http://student.kuali.org/wsdl/enumerationmanagement" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/enumerationmanagement">
    <xs:complexType name="enumeratedValueInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="code" type="xs:string"/>
            <xs:element minOccurs="0" name="abbrevValue" type="xs:string"/>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
            <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="sortKey" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contexts" type="tns:enumContextValueInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enumContextValueInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enumerationMetaInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="desc" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="enumeratedValueFields" type="tns:enumeratedValueFieldInfo"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contextDescriptors" type="tns:enumContextInfo"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="enumeratedValueFieldInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="fieldDescriptor" type="tns:fieldDescriptorInfo"/>
            <xs:element minOccurs="0" name="key" type="xs:string"/>
            <xs:element minOccurs="0" name="minOccurs" type="xs:int"/>
            <xs:element minOccurs="0" name="maxOccurs" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fieldDescriptorInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="desc" type="xs:string"/>
            <xs:element minOccurs="0" name="dataType" type="xs:string"/>
            <xs:element minOccurs="0" name="minLength" type="xs:int"/>
            <xs:element minOccurs="0" name="maxLength" type="xs:string"/>
            <xs:element minOccurs="0" name="validChars" type="xs:string"/>
            <xs:element minOccurs="0" name="invalidChars" type="xs:string"/>
            <xs:element minOccurs="0" name="minValue" type="xs:string"/>
            <xs:element minOccurs="0" name="maxValue" type="xs:string"/>
            <xs:element minOccurs="0" name="enumFieldView" type="tns:enumFieldViewInfo"/>
            <xs:element minOccurs="0" name="readOnly" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enumFieldViewInfo">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="contextDescriptors" type="tns:enumContextInfo"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="enumContextInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="contextValueDescriptor" type="tns:fieldDescriptorInfo"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="statusInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="success" type="xs:boolean"/>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="addEnumeratedValue" nillable="true" type="ns0:addEnumeratedValue"/>
    <xs:element name="addEnumeratedValueResponse" nillable="true" type="ns0:addEnumeratedValueResponse"/>
    <xs:element name="OperationFailedException" nillable="true" type="ns1:OperationFailedException"/>
    <xs:element name="PermissionDeniedException" nillable="true" type="ns1:PermissionDeniedException"/>
    <xs:element name="AlreadyExistsException" nillable="true" type="ns1:AlreadyExistsException"/>
    <xs:element name="InvalidParameterException" nillable="true" type="ns1:InvalidParameterException"/>
    <xs:element name="MissingParameterException" nillable="true" type="ns1:MissingParameterException"/>
    <xs:element name="getEnumeration" nillable="true" type="ns0:getEnumeration"/>
    <xs:element name="getEnumerationResponse" nillable="true" type="ns0:getEnumerationResponse"/>
    <xs:element name="DoesNotExistException" nillable="true" type="ns1:DoesNotExistException"/>
    <xs:element name="updateEnumeratedValue" nillable="true" type="ns0:updateEnumeratedValue"/>
    <xs:element name="updateEnumeratedValueResponse" nillable="true" type="ns0:updateEnumeratedValueResponse"/>
    <xs:element name="getEnumerationMeta" nillable="true" type="ns0:getEnumerationMeta"/>
    <xs:element name="getEnumerationMetaResponse" nillable="true" type="ns0:getEnumerationMetaResponse"/>
    <xs:element name="removeEnumeratedValue" nillable="true" type="ns0:removeEnumeratedValue"/>
    <xs:element name="removeEnumeratedValueResponse" nillable="true" type="ns0:removeEnumeratedValueResponse"/>
    <xs:element name="getEnumerationMetas" nillable="true" type="ns0:getEnumerationMetas"/>
    <xs:element name="getEnumerationMetasResponse" nillable="true" type="ns0:getEnumerationMetasResponse"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://student.kuali.org/wsdl/enumerationmanagement" xmlns:tns="http://student.kuali.org/wsdl/EnumerationManagementService" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://student.kuali.org/wsdl/EnumerationManagementService">
    <xs:import namespace="http://student.kuali.org/wsdl/enumerationmanagement"/>
    <xs:element name="addEnumeratedValue" type="tns:addEnumeratedValue"/>
    <xs:element name="addEnumeratedValueResponse" type="tns:addEnumeratedValueResponse"/>
    <xs:element name="getEnumeration" type="tns:getEnumeration"/>
    <xs:element name="getEnumerationMeta" type="tns:getEnumerationMeta"/>
    <xs:element name="getEnumerationMetaResponse" type="tns:getEnumerationMetaResponse"/>
    <xs:element name="getEnumerationMetas" type="tns:getEnumerationMetas"/>
    <xs:element name="getEnumerationMetasResponse" type="tns:getEnumerationMetasResponse"/>
    <xs:element name="getEnumerationResponse" type="tns:getEnumerationResponse"/>
    <xs:element name="removeEnumeratedValue" type="tns:removeEnumeratedValue"/>
    <xs:element name="removeEnumeratedValueResponse" type="tns:removeEnumeratedValueResponse"/>
    <xs:element name="updateEnumeratedValue" type="tns:updateEnumeratedValue"/>
    <xs:element name="updateEnumeratedValueResponse" type="tns:updateEnumeratedValueResponse"/>
    <xs:complexType name="addEnumeratedValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="enumeratedValue" type="ns1:enumeratedValueInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="addEnumeratedValueResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:enumeratedValueInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="contextType" type="xs:string"/>
            <xs:element minOccurs="0" name="contextValue" type="xs:string"/>
            <xs:element minOccurs="0" name="contextDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getEnumerationResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:enumeratedValueInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateEnumeratedValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="code" type="xs:string"/>
            <xs:element minOccurs="0" name="enumeratedValue" type="ns1:enumeratedValueInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateEnumeratedValueResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:enumeratedValueInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getEnumerationMeta">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getEnumerationMetaResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:enumerationMetaInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeEnumeratedValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="enumerationKey" type="xs:string"/>
            <xs:element minOccurs="0" name="code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="removeEnumeratedValueResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="ns1:statusInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getEnumerationMetas">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="getEnumerationMetasResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:enumerationMetaInfo"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEnumerationMetaResponse">
    <wsdl:part name="parameters" element="tns:getEnumerationMetaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationResponse">
    <wsdl:part name="parameters" element="tns:getEnumerationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part name="InvalidParameterException" element="tns:InvalidParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationMetasResponse">
    <wsdl:part name="parameters" element="tns:getEnumerationMetasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationMetas">
    <wsdl:part name="parameters" element="tns:getEnumerationMetas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumeration">
    <wsdl:part name="parameters" element="tns:getEnumeration">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumeratedValueResponse">
    <wsdl:part name="parameters" element="tns:addEnumeratedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MissingParameterException">
    <wsdl:part name="MissingParameterException" element="tns:MissingParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEnumeratedValue">
    <wsdl:part name="parameters" element="tns:updateEnumeratedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEnumeratedValue">
    <wsdl:part name="parameters" element="tns:addEnumeratedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEnumeratedValueResponse">
    <wsdl:part name="parameters" element="tns:updateEnumeratedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoesNotExistException">
    <wsdl:part name="DoesNotExistException" element="tns:DoesNotExistException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OperationFailedException">
    <wsdl:part name="OperationFailedException" element="tns:OperationFailedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PermissionDeniedException">
    <wsdl:part name="PermissionDeniedException" element="tns:PermissionDeniedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlreadyExistsException">
    <wsdl:part name="AlreadyExistsException" element="tns:AlreadyExistsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEnumerationMeta">
    <wsdl:part name="parameters" element="tns:getEnumerationMeta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumeratedValue">
    <wsdl:part name="parameters" element="tns:removeEnumeratedValue">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeEnumeratedValueResponse">
    <wsdl:part name="parameters" element="tns:removeEnumeratedValueResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EnumerationManagementService">
    <wsdl:operation name="addEnumeratedValue">
      <wsdl:input name="addEnumeratedValue" message="tns:addEnumeratedValue">
    </wsdl:input>
      <wsdl:output name="addEnumeratedValueResponse" message="tns:addEnumeratedValueResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException" message="tns:AlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumeration">
      <wsdl:input name="getEnumeration" message="tns:getEnumeration">
    </wsdl:input>
      <wsdl:output name="getEnumerationResponse" message="tns:getEnumerationResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateEnumeratedValue">
      <wsdl:input name="updateEnumeratedValue" message="tns:updateEnumeratedValue">
    </wsdl:input>
      <wsdl:output name="updateEnumeratedValueResponse" message="tns:updateEnumeratedValueResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumerationMeta">
      <wsdl:input name="getEnumerationMeta" message="tns:getEnumerationMeta">
    </wsdl:input>
      <wsdl:output name="getEnumerationMetaResponse" message="tns:getEnumerationMetaResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeEnumeratedValue">
      <wsdl:input name="removeEnumeratedValue" message="tns:removeEnumeratedValue">
    </wsdl:input>
      <wsdl:output name="removeEnumeratedValueResponse" message="tns:removeEnumeratedValueResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
    </wsdl:fault>
      <wsdl:fault name="MissingParameterException" message="tns:MissingParameterException">
    </wsdl:fault>
      <wsdl:fault name="DoesNotExistException" message="tns:DoesNotExistException">
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">
    </wsdl:fault>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumerationMetas">
      <wsdl:input name="getEnumerationMetas" message="tns:getEnumerationMetas">
    </wsdl:input>
      <wsdl:output name="getEnumerationMetasResponse" message="tns:getEnumerationMetasResponse">
    </wsdl:output>
      <wsdl:fault name="OperationFailedException" message="tns:OperationFailedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnumerationManagementServiceServiceSoapBinding" type="tns:EnumerationManagementService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExistsException">
        <soap:fault name="AlreadyExistsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumeration">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEnumeration">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEnumerationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumerationMeta">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEnumerationMeta">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEnumerationMetaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeEnumeratedValue">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeEnumeratedValue">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeEnumeratedValueResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameterException">
        <soap:fault name="MissingParameterException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoesNotExistException">
        <soap:fault name="DoesNotExistException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEnumerationMetas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEnumerationMetas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEnumerationMetasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="OperationFailedException">
        <soap:fault name="OperationFailedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnumerationManagementService">
    <wsdl:port name="EnumerationManagementServicePort" binding="tns:EnumerationManagementServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/EnumerationManagementServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
